Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: participants can change state of goals
  src/components/CommentForm/CommentForm.module.css
  src/components/CommentForm/CommentForm.tsx
  src/components/GoalActivityFeed.tsx
  src/utils/db/createComment.ts
Due: eslint --fix, prettier --write

fix: return dashboard link to header
  package-lock.json
  src/components/PageHeader/PageHeader.i18n/en.json
  src/components/PageHeader/PageHeader.i18n/ru.json
  src/components/PageHeader/PageHeader.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(colors): change js vars to css vars
  src/components/ActivityFeed.tsx
  src/components/Badge.tsx
  src/components/BetaBadge.tsx
  src/components/CommentsCountBadge.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter/EstimateQuarter.tsx
  src/components/EstimateYear/EstimateYear.tsx
  src/components/FilterCheckbox.tsx
  src/components/GoalFormPopupTrigger.tsx
  src/components/GoalMenuItem.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/GoalSuggest.tsx
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.tsx
  src/components/InlineTrigger.tsx
  src/components/IssueListItem.tsx
  src/components/IssueTitle.tsx
  src/components/LoadMoreButton/LoadMoreButton.tsx
  src/components/MenuGroupItem.tsx
  src/components/PageSep.tsx
  src/components/Plus.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/ProjectMenuItem.tsx
  src/components/Reactions/Reactions.tsx
  src/components/RelativeTime/RelativeTime.tsx
  src/components/ScrollableView.tsx
  src/components/SortFilter/SortFilter.tsx
  src/components/State.tsx
  src/components/StateSwitch.tsx
  src/components/Table.tsx
  src/components/TagsList.tsx
  src/components/UserEditableList/UserEditableList.tsx
  src/components/UserMenuItem.tsx
  src/components/WhatsNew/WhatsNew.tsx
Due: eslint --fix, prettier --write

feat: teams page with crew integration
  .env.example
  cypress/fixtures/langs.json
  package-lock.json
  package.json
  prisma/migrations/20240221141914_crew_integration/migration.sql
  prisma/schema.prisma
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectMenuItem.tsx
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/en.json
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/ru.json
  src/components/ProjectPageTabs/ProjectPageTabs.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.i18n/en.json
  src/components/ProjectTeamPage/ProjectTeamPage.i18n/index.ts
  src/components/ProjectTeamPage/ProjectTeamPage.i18n/ru.json
  src/components/ProjectTeamPage/ProjectTeamPage.module.css
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/TableListItem/TableListItem.module.css
  src/components/TableListItem/TableListItem.tsx
  src/components/TeamComboBox/TeamComboBox.module.css
  src/components/TeamComboBox/TeamComboBox.tsx
  src/components/TeamListItem.tsx
  src/components/TeamMemberListItem/TeamMemberListItem.module.css
  src/components/TeamMemberListItem/TeamMemberListItem.tsx
  src/hooks/router.ts
  src/hooks/useProjectResource.ts
  src/pages/projects/[id]/team.tsx
  src/schema/crew.ts
  src/schema/project.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  src/types/crew.ts
  trpc/inferredTypes.ts
  trpc/queries/project.ts
  trpc/router/crew.ts
  trpc/router/index.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: remove legacy TreeView
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
Due: eslint --fix, prettier --write

feat(ESLint): add rules for curly braces
  .eslintrc.js
  src/components/PageTitle.tsx
Due: eslint --fix, prettier --write

fix: token to private env
  .env.example
  trpc/router/crew.ts
Due: eslint --fix, prettier --write

chore: release 2.22.0
  .release_notes/2.22.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: custom logo
  prisma/migrations/20240221092641_app_config/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/components/Page/Page.tsx
  src/pages/_app.tsx
  src/utils/db/index.ts
  src/utils/declareSsrProps.ts
Due: eslint --fix, prettier --write

feat(OfflineBanner): update offline banner from bricks
  package-lock.json
  package.json
  src/components/OfflineBanner/OfflineBanner.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(NewGoalCriteria): preview in goal lists
  cypress/fixtures/langs.json
  package-lock.json
  src/components/GoalBadge.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/NewGoalCriteria/NewGoalCriteria.i18n/en.json
  src/components/NewGoalCriteria/NewGoalCriteria.i18n/index.ts
  src/components/NewGoalCriteria/NewGoalCriteria.i18n/ru.json
  src/components/NewGoalCriteria/NewGoalCriteria.module.css
  src/components/NewGoalCriteria/NewGoalCriteria.tsx
  src/components/StateDot.tsx
  src/utils/getShortId.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.23.0
  .release_notes/2.23.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(FilterAutoCompleteInput): remove autofocus
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
Due: eslint --fix, prettier --write

fix(NewGoalCriteria): criteria should be checked when isDone is passed
  src/components/NewGoalCriteria/NewGoalCriteria.tsx
Due: eslint --fix, prettier --write

fix: goalPreview open when clicked in an empty area inside GoalListItem
  src/components/GoalTableList/GoalTableList.tsx
  src/components/NewGoalCriteria/NewGoalCriteria.tsx
Due: eslint --fix, prettier --write

feat: team units
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/TeamListItem.tsx
  src/components/TeamMemberListItem/TeamMemberListItem.tsx
  trpc/router/crew.ts
Due: eslint --fix, prettier --write

fix(CriteriaForm): enable title edit
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write

fix(CriteriaForm): `Weight` label size
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write

feat(StateDropdown): create component
  src/components/StateDropdown/StateDropdown.tsx
Due: eslint --fix, prettier --write

feat(GoalParentDropdown): create component
  src/components/GoalParentDropdown/GoalParentDropdown.i18n/en.json
  src/components/GoalParentDropdown/GoalParentDropdown.i18n/index.ts
  src/components/GoalParentDropdown/GoalParentDropdown.i18n/ru.json
  src/components/GoalParentDropdown/GoalParentDropdown.module.css
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(TagCombobox): create component
  src/components/TagComboBox/TagComboBox.i18n/en.json
  src/components/TagComboBox/TagComboBox.i18n/index.ts
  src/components/TagComboBox/TagComboBox.i18n/ru.json
  src/components/TagComboBox/TagComboBox.module.css
  src/components/TagComboBox/TagComboBox.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

test(e2e): update to new goal form view
  cypress/e2e/goals.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/fixtures/langs.json
  cypress/index.d.ts
  cypress/support/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
