Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(seed): beautify filter title
  prisma/seed.ts
Due: eslint --fix, prettier --write

feat(CookiesProvider): remove extra cache
  src/hooks/useCookies.tsx
Due: eslint --fix, prettier --write

feat(CookiesProvider): use cookies for noPresetSearch on filters
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/router.ts
  src/hooks/useCookies.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/_app.tsx
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/index.tsx
  src/utils/declareSsrProps.ts
  src/utils/defaultFilterAlias.ts
  src/utils/filters.ts
  trpc/router/filter.ts
Due: eslint --fix, prettier --write

fix(trpc): return firstLevel param to sql
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 1.24.0
  .release_notes/1.24.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(CookiesProvider): remove cookies provider
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/useCookies.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/_app.tsx
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/index.tsx
  src/utils/cookies.ts
  src/utils/filters.ts
Due: eslint --fix, prettier --write

chore: whats new
  public/ActivePreset.png
  public/ResetButton.png
  src/pages/whatsnew/1.24.0/en.mdx
  src/pages/whatsnew/1.24.0/ru.mdx
Due: none

feat(FiltersApplied): stateType support
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/StateFilter.tsx
Due: eslint --fix, prettier --write

chore: telemetry
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/pages/_app.tsx
  src/utils/telemetry.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

docs(CONTRIBUTING): cleanup old info
  CONTRIBUTING.md
Due: prettier --write --parser markdown

fix(Projects): show projects without goals
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 1.24.1
  .release_notes/1.24.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(ProjectListItem,GoalListItem): rewrite with Table components usage
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/GoalListItem.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/WrappedRowLink.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Project): mark project as deleted
  prisma/migrations/20230821145133_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/components/NotificationsHub/NotificationHub.map.ts
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/TextList.tsx
  src/hooks/useProjectResource.ts
  src/schema/goal.ts
  src/schema/project.ts
  src/utils/db.ts
  src/utils/dispatchModal.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Projects): show projects with archived goals
  src/utils/auth.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 1.25.0
  .release_notes/1.25.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(whatsnew): move release notes
  src/pages/whatsnew/1.25.0/en.mdx
  src/pages/whatsnew/1.25.0/ru.mdx
Due: none

chore(deps): bricks and icons up to date
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/EstimateComboBox.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlowComboBox.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HelpButton/HelpButton.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/InlineForm.tsx
  src/components/IssueMeta.tsx
  src/components/PageHeaderActionButton/PageHeaderActionButton.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/ReactionsButton.tsx
  src/components/ReactionsDropdown.tsx
  src/components/StarButton/StarButton.tsx
  src/components/StateDropdown.tsx
  src/components/TagComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/components/WatchButton/WatchButton.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): bump bricks
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore(router): consistent routes and methods
  src/hooks/router.ts
Due: eslint --fix, prettier --write

feat(GlobalSearch): full size search with keyboard nav
  src/components/GlobalSearch/GlobalSearch.i18n/en.json
  src/components/GlobalSearch/GlobalSearch.i18n/ru.json
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
  src/components/ProjectListItemCompact.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node
