Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

use pageContext instead useSession
  src/components/CommentCreateForm.tsx
  src/components/CommentEditForm.tsx
  src/components/CommentView.tsx
  src/components/EstimateComboBox.tsx
  src/components/FlowComboBox.tsx
  src/components/GoalCreateForm.tsx
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
  src/components/GoalListItem.tsx
  src/components/GoalPreview.tsx
  src/components/HeaderMenu.tsx
  src/components/IssueDependenciesForm.tsx
  src/components/IssueParticipantsForm.tsx
  src/components/IssueStats.tsx
  src/components/Page.tsx
  src/components/PriorityDropdown.tsx
  src/components/ProjectComboBox.tsx
  src/components/ProjectCreateForm.tsx
  src/components/ProjectListItem.tsx
  src/components/ReactionsDropdown.tsx
  src/components/RelativeTime.tsx
  src/components/State.tsx
  src/components/StateDot.tsx
  src/components/StateDropdown.tsx
  src/components/StateFilterDropdown.tsx
  src/components/StateSwitch.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
  src/components/UserInviteForm.tsx
  src/pages/explore/projects.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[key]/index.tsx
  src/utils/declareSsrProps.ts
  src/utils/pageContext.ts
Due: eslint --fix, prettier --write

remove href mismatch
  src/components/Header.tsx
Due: eslint --fix, prettier --write

remove css mismatch
  src/components/State.tsx
  src/components/StateDot.tsx
Due: eslint --fix, prettier --write

useLocalStorage hook
  src/hooks/useLocalStorage.ts
  src/utils/safelyParseJson.ts
Due: eslint --fix, prettier --write

edge case with zero goals in project for id generator
  graphql/resolvers/Goal.ts
Due: eslint --fix, prettier --write

useWillUnmount hook
  src/hooks/useWillUnmount.ts
Due: eslint --fix, prettier --write

localStorage types
  src/types/localStorage.ts
Due: eslint --fix, prettier --write

remove CustomEvent props from ModalOnEvent
  src/components/ModalOnEvent.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write

predict project for GoalCreateForm
  src/components/GoalCreateForm.tsx
  src/components/ProjectComboBox.tsx
  src/pages/goals/[id].tsx
  src/pages/projects/[key]/index.tsx
Due: eslint --fix, prettier --write

type for localStorage keys
  src/hooks/useLocalStorage.ts
Due: eslint --fix, prettier --write

sorting for Goal and Project resolvers
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
Due: eslint --fix, prettier --write

use createdAt only for sort
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
Due: eslint --fix, prettier --write

types for localStorage keys
  src/components/GoalCreateForm.tsx
  src/components/ProjectComboBox.tsx
  src/hooks/useLocalStorage.ts
  src/pages/goals/[id].tsx
  src/pages/projects/[key]/index.tsx
  src/types/localStorage.ts
Due: eslint --fix, prettier --write

FormInput width for the long text and absolute key control
  src/components/CommonHeader.tsx
  src/components/FormInput.tsx
  src/components/InputContaier.tsx
  src/components/ProjectCreateForm.tsx
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

Estimate must show current Q first and others in future
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

Source maps uploading in sentry
  .gitignore
  next.config.js
  package-lock.json
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/pages/_app.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix lint errors
  sentry.client.config.js
  sentry.server.config.js
Due: eslint --fix, prettier --write

add curl in image
  Dockerfile
Due: none

add certs in image
  Dockerfile
Due: none

revalidate ssrTime on mount
  src/components/RelativeTime.tsx
Due: eslint --fix, prettier --write

useCommentResource hook
  src/hooks/useCommentResource.ts
Due: eslint --fix, prettier --write

useReactionProps hook
  src/hooks/useReactionsProps.ts
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

move out CommentForm and ActivityFeed
  i18n/en.json
  i18n/ru.json
  src/components/ActivityFeed.tsx
  src/components/Button.tsx
  src/components/CommentCreateForm.tsx
  src/components/CommentEditForm.tsx
  src/components/CommentForm.tsx
  src/components/CommentView.tsx
  src/components/FormActions.tsx
  src/components/FormEditor.tsx
  src/components/GoalPreview.tsx
  src/hooks/useHighlightedComment.ts
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

user can delete comment
  graphql/resolvers/Comment.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/CommentCreateForm.tsx
  src/components/CommentEditForm.tsx
  src/components/CommentView.tsx
  src/components/HeaderMenu.tsx
  src/components/Icon.tsx
  src/components/MenuItem.tsx
  src/hooks/useCommentResource.ts
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
