Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: remove unnecessary trpc calls
  src/components/Page/Page.tsx
Due: eslint --fix, prettier --write

feat(INTERNAL-1357): export goals by filter preset
  cypress/fixtures/langs.json
  package.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.i18n/en.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.i18n/ru.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.module.css
  src/components/AppliedFiltersBar/AppliedFiltersBar.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/NotificationsHub/NotificationHub.map.ts
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/components/SortButton/SortButton.tsx
  src/components/SortList/SortList.tsx
  src/hooks/useFilterResource.ts
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/modules/export/export.i18n/en.json
  src/modules/export/export.i18n/index.ts
  src/modules/export/export.i18n/ru.json
  src/modules/export/exportByPreset.ts
  src/utils/dateTime.ts
  src/utils/declareGoalsSsrProps.ts
  src/utils/downloadAsFile.ts
  src/utils/filters.ts
  src/utils/getShownStates.ts
  src/utils/parseUrlParams.ts
  src/utils/projectCollapsableItemInit.ts
  trpc/queries/goalV2.ts
  trpc/router/goalV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1384): linking jira tasks
  generated/kysely/types.ts
  prisma/migrations/20241126101153_optional_owner_fields/migration.sql
  prisma/schema.prisma
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/JiraTaskBadge/JiraTaskBadge.module.css
  src/components/JiraTaskBadge/JiraTaskBadge.tsx
  src/schema/criteria.ts
  src/utils/integration/jira.ts
  src/utils/worker/externalTasksJob.ts
  trpc/queries/external.ts
  trpc/router/goal.ts
  trpc/router/jira.ts
Due: eslint --fix, prettier --write

chore: release 2.65.0
  .release_notes/2.65.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

test(Dashboard): correct test behavior
  cypress/e2e/dashboard.cy.ts
  cypress/index.d.ts
  cypress/support/index.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1358): read rules for each personalized dashboard project
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1057): goal table ranking
  cypress/fixtures/langs.json
  generated/kysely/types.ts
  package-lock.json
  prisma/migrations/20241202080534_global_goal_ranks/migration.sql
  prisma/schema.prisma
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
  src/components/Kanban/Kanban.tsx
  src/components/ProjectGoalList/ProjectGoalList.tsx
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  src/utils/ranking.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/ranking.ts
  trpc/router/goalV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1408): fix query for parntership projects
  src/components/ProjectGoalList/ProjectGoalList.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.65.1
  .release_notes/2.65.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(telemetry): older next support
  src/middleware.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1432): restrict access to personal goals
  cypress/e2e/projects.cy.ts
  cypress/index.d.ts
  cypress/support/index.ts
  package-lock.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectGoalList/ProjectGoalList.tsx
  src/hooks/router.ts
  src/utils/domObjects.ts
  trpc/access/accessCheckers.ts
  trpc/access/accessEntityGetters.ts
  trpc/queries/project.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.65.2
  .release_notes/2.65.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(ExternalTasks): correct querying criteria and goals for update
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1057): goal table ranking
  cypress/fixtures/langs.json
  generated/kysely/types.ts
  prisma/migrations/20241202080534_global_goal_ranks/migration.sql
  prisma/schema.prisma
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
  src/components/Kanban/Kanban.tsx
  src/components/ProjectGoalList/ProjectGoalList.tsx
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.tsx
  src/schema/common.ts
  src/utils/parseUrlParams.ts
  src/utils/ranking.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/ranking.ts
  trpc/router/goalV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(INTERNAL-1057): use new `v2.goal.getAllGoals` instead of `goal.getBatch`
  src/components/FlatGoalList.tsx
  src/utils/declareGoalsSsrProps.ts
  trpc/queries/activity.ts
  trpc/queries/goalV2.ts
  trpc/router/goalV2.ts
Due: eslint --fix, prettier --write

chore: release 2.65.3
  .release_notes/2.65.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(INTERNAL-1057): drag and drop list invalidation
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectGoalList/ProjectGoalList.tsx
Due: eslint --fix, prettier --write

fix(ProjectCreateForm): real validation for project key
  src/components/KeyInput/KeyInput.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/hooks/useProjectResource.ts
  trpc/router/project.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: update codeowners
  CODEOWNERS
Due: none

fix(ProjectCreateForm): real validation for project key
  cypress/e2e/projects.cy.ts
  src/components/KeyInput/KeyInput.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/hooks/useProjectResource.ts
  trpc/router/project.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GroupedGoalList): return project childs
  src/components/GroupedGoalList.tsx
  trpc/inferredTypes.ts
Due: eslint --fix, prettier --write

fix(ProjectAccess): correct access check
  src/utils/anyEntityCheck.ts
  trpc/queries/project.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
