Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore: release 1.16.5
  .release_notes/1.16.5.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(UserGroup): user and counter tooltips
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write

fix: try merge
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix(CommentView): remove duplicate component
  src/components/CommentFixed.tsx
  src/components/CommentView/CommentView.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix(GoalPreview): pin latest state comment
  package-lock.json
  src/components/CommentFixed.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalCriteria): calc achieve progress through all criteria
  src/components/CriteriaForm/CriteriaForm.tsx
  src/schema/criteria.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

chore: release 1.16.6
  .release_notes/1.16.6.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: fix priority sorting
  prisma/migrations/20230714171654_/migration.sql
  prisma/migrations/20230714181336_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix: return changes over task
  prisma/seed.ts
Due: eslint --fix, prettier --write

fix: set priority to optional field
  prisma/migrations/20230717183439_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(GoalCriteria): show criteria progess onto goals lists
  prisma/migrations/20230717111348_/migration.sql
  prisma/schema.prisma
  src/components/GoalListItem.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/ProjectListItemConnected.tsx
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(CommentForm): comment form doesnt close correctly on click outside
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write

feat(GoalCriteria): converting simple criteria to a goal
  package-lock.json
  package.json
  src/components/ActivityFeed.tsx
  src/components/Circle.tsx
  src/components/CommentView/CommentView.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/ModalOnEvent.tsx
  src/components/Page.tsx
  src/global.d.ts
  src/hooks/useCriteriaResource.ts
  src/schema/criteria.ts
  src/utils/dispatchModal.ts
  trpc/inferredTypes.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Page): added link in a footer to a pop-up with feedback
  package-lock.json
  src/components/FeedbackCreateForm/FeedbackCreateForm.i18n/en.json
  src/components/FeedbackCreateForm/FeedbackCreateForm.i18n/index.ts
  src/components/FeedbackCreateForm/FeedbackCreateForm.i18n/ru.json
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/Page.tsx
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
  src/pages/api/feedback.ts
  src/schema/feedback.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(prisma): resolve migrations
  prisma/migrations/20230714171654_/migration.sql
  prisma/migrations/20230714181336_/migration.sql
  prisma/migrations/20230717183439_/migration.sql
  prisma/migrations/20230718150507_/migration.sql
Due: none

fix(feedback): multiple fixes in api and form
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/pages/api/feedback.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): hide action dropdown
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

feat(HistoryRecord): added the ability to hide/show description
  src/components/GoalActivity.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

chore(HistoryRecord): multiline record
  src/components/GoalActivity.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

feat(Page): added link in a footer to a pop-up with feedback
  src/components/FeedbackCreateForm/FeedbackCreateForm.i18n/en.json
  src/components/FeedbackCreateForm/FeedbackCreateForm.i18n/index.ts
  src/components/FeedbackCreateForm/FeedbackCreateForm.i18n/ru.json
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/NotificationsHub/NotificationHub.map.ts
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/components/Page.tsx
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
  src/pages/api/feedback.ts
  src/schema/feedback.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(commentForm): goalId out of sync
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write

feat(GoalHistory): recording changes about criterias
  prisma/migrations/20230713092449_/migration.sql
  prisma/schema.prisma
  src/components/GoalActivity.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalSuggest.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
  src/schema/criteria.ts
  src/types/history.ts
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ProjectListItem): average project score
  prisma/migrations/20230718153020_/migration.sql
  prisma/schema.prisma
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/utils/db.ts
Due: eslint --fix, prettier --write
