Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix(ExternalTasks): more safely determinate task status
  generated/kysely/types.ts
  prisma/migrations/20240923113428_append_resolution_fields_for_task_model/migration.sql
  prisma/schema.prisma
  src/utils/db/calculatedGoalsFields.ts
  src/utils/integration/jira.ts
  trpc/queries/external.ts
  trpc/router/goal.ts
  trpc/router/jira.ts
Due: eslint --fix, prettier --write

fix: checkbox "empty projects" don't visible on project page
  package-lock.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: sticky layout
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/Kanban/Kanban.module.css
  src/components/Page/Page.module.css
  src/components/Page/Page.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.module.css
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.58.0
  .release_notes/2.58.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GoalCriteria): manual update state of linked Jira task
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.tsx
  src/hooks/useGoalResource.ts
  trpc/queries/external.ts
  trpc/router/goal.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(NotificationHub): handler for ressponse and error
  src/components/NotificationsHub/NotificationsHub.tsx
  src/utils/dispatchNotification.ts
  src/utils/notifyPromise.ts
Due: eslint --fix, prettier --write

chore: whats new
  public/FilterByProjects.png
  public/ManuallyUpdatinLinkedTask.png
  src/pages/whatsnew/2.58.0/en.mdx
  src/pages/whatsnew/2.58.0/ru.mdx
Due: none

fix(PersonalGoal): now can create again
  src/schema/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.58.1
  .release_notes/2.58.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: add new goal to current page
  src/components/GoalCreateForm/GoalCreateForm.tsx
Due: eslint --fix, prettier --write

chore: update bricks
  cypress/e2e/goals.cy.ts
  cypress/plugins/db.ts
  package-lock.json
  package.json
  src/components/AppliedEstimateFilter/AppliedEstimateFilter.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GoalsKanbanCard/GoalsKanbanCard.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/RelativeTime/RelativeTime.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/schema/goal.ts
  src/types/date.ts
  src/utils/cookies.ts
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: what's new modal is disappearing after page load
  package-lock.json
  src/components/WhatsNew/WhatsNew.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.58.2
  .release_notes/2.58.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: support drag n drop
  package-lock.json
  package.json
  src/components/Kanban/Kanban.module.css
  src/components/Kanban/Kanban.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: support Draggula
  package-lock.json
  package.json
  src/components/Draggable.tsx
  src/components/Kanban/Kanban.module.css
  src/components/Kanban/Kanban.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: support drag n drop
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: project editable access
  trpc/access/accessEntityGetters.ts
Due: eslint --fix, prettier --write

chore: release 2.58.3
  .release_notes/2.58.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(1165): correct condition for cron job runs
  src/utils/worker/index.ts
Due: eslint --fix, prettier --write

fix(1165): manually task status check
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(1165): create job in seed
  prisma/seed.ts
Due: eslint --fix, prettier --write

fix(1165): beautify api for score calculator
  src/utils/recalculateCriteriaScore.ts
Due: eslint --fix, prettier --write

fix(1165): unify utility code
  src/utils/worker/index.ts
  src/utils/worker/utils.ts
Due: eslint --fix, prettier --write

feat(1165): implements scheduled update task states jobs
  src/utils/worker/create.ts
  src/utils/worker/externalTasksJob.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write
