Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix(GoalParentComboBox): check value to get right button text
  src/components/GoalParentComboBox.tsx
Due: eslint --fix, prettier --write

(FRNTNDQA-182): создание проекта
  cypress/testcases/project/creatingProject.tmsync.yml
Due: none

(FRNTNDQA-182): создание команды
  cypress/testcases/team/creatingTeam.tmsync.yml
Due: none

fix(CommentCreateForm): incorrect goalId
  src/components/CommentCreateForm.tsx
Due: eslint --fix, prettier --write

wip
  cypress/testcases/explorer/filter.tmsync.yml
  cypress/testcases/goals/creatingGoal.tmsync.yml
  cypress/testcases/goals/editingGoal.tmsync.yml
  cypress/testcases/goals/suggestCreatingGoal.tmsync.yml
  cypress/testcases/goals/viewGoal.tmsync.yml
  cypress/testcases/project/creatingProject.tmsync.yml
  cypress/testcases/project/projectPage.tmsync.yml
  cypress/testcases/project/settingsProject.tmsync.yml
  cypress/testcases/team/teamPage.tmsync.yml
  cypress/testcases/user/permissions.tmsync.yml
  cypress/testcases/user/registration.tmsync.yml
Due: none

chore(useGrouppedGoals): plain goals list to groups helper
  src/hooks/useGrouppedGoals.ts
Due: eslint --fix, prettier --write

chore(TeamTitleList): teams list renderer
  src/components/TeamTitleList.tsx
Due: eslint --fix, prettier --write

fix(TagsFilterDropdown): remove extra void in callback
  src/components/TagsFilterDropdown.tsx
Due: eslint --fix, prettier --write

chore(createFetcher): embed data refresh interval
  src/utils/createFetcher.ts
Due: eslint --fix, prettier --write

chore(ProjectPageLayout): show tabs menu for project owner only
  src/components/ProjectPageLayout.tsx
Due: eslint --fix, prettier --write

fix(LimitFilterDropdown): remove default value
  src/components/LimitFilterDropdown.tsx
Due: eslint --fix, prettier --write

chore(GoalGroup, GoalList): goals groups render components
  src/components/GoalGroup.tsx
  src/components/GoalList.tsx
Due: eslint --fix, prettier --write

chore(GoalPreview): remove useless visible prop
  src/components/GoalPreview.tsx
Due: eslint --fix, prettier --write

chore(useUrlFilterParams): rewrite query filter params parser
  src/hooks/useUrlFilterParams.ts
  src/hooks/useUrlParams.ts
Due: eslint --fix, prettier --write

chore(prisma): up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(UserFilterDropdown): remove extra void in callback
  src/components/UserFilterDropdown.tsx
Due: eslint --fix, prettier --write

fix(LimitFilterDropdown): remove dublicated item
  src/components/LimitFilterDropdown.tsx
Due: eslint --fix, prettier --write

chore(cors): remove micro-cors
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore(prisma): one shared prismaClient
  graphql/context.ts
  src/pages/api/graphql.ts
  src/utils/prisma.ts
Due: eslint --fix, prettier --write

chore(StateFilterDropdown): pass items via props, remove fetch
  src/components/StateFilterDropdown.tsx
Due: eslint --fix, prettier --write

chore(Priority): store variants in TS enum
  src/components/GoalListItem.tsx
  src/components/GoalPreview.tsx
  src/components/PriorityDropdown.tsx
  src/components/PriorityFilterDropdown.tsx
  src/types/priority.ts
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write

fix: priority types
  graphql/resolvers/Goal.ts
  src/components/GoalForm.tsx
Due: eslint --fix, prettier --write

chore: the brand new FiltersPanel logic
  src/components/FiltersPanel.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/teams/[slug]/goals.tsx
Due: eslint --fix, prettier --write

chore(gql): calc entities meta in separated resolvers
  graphql/queries/connections.ts
  graphql/queries/goals.ts
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
Due: eslint --fix, prettier --write

chore(apollo): remove useless plugins
  package-lock.json
  package.json
  src/pages/api/graphql.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: package-lock.json
  package-lock.json
Due: prettier --write --parser json, node
