Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalHistory): use strict type for records
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalsGroup): common table for Goals groups
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

feat(GoalListItem): paddings smaller
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalsGroup.tsx
Due: eslint --fix, prettier --write

feat(GoalListItem): state component instead of DotState
  src/components/GoalListItem/GoalListItem.tsx
  src/components/State.tsx
Due: eslint --fix, prettier --write

chore: release 1.5.0
  .release_notes/1.5.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalListItem): bigger paddings for row
  src/components/GoalListItem/GoalListItem.tsx
Due: eslint --fix, prettier --write

chore: release 1.5.1
  .release_notes/1.5.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalListItem): remove unused keyset
  src/components/GoalListItem.tsx
  src/components/GoalListItem/GoalListItem.i18n/en.json
  src/components/GoalListItem/GoalListItem.i18n/index.ts
  src/components/GoalListItem/GoalListItem.i18n/ru.json
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalListItem): show starred and watching status
  src/components/GoalListItem.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalsGroup.tsx
  src/hooks/useGoalResource.ts
Due: eslint --fix, prettier --write

feat(FiltersPanel): add Starred and Watching filters
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/StarredFilter/StarredFilter.i18n/en.json
  src/components/StarredFilter/StarredFilter.i18n/index.ts
  src/components/StarredFilter/StarredFilter.i18n/ru.json
  src/components/StarredFilter/StarredFilter.tsx
  src/components/WatchingFilter/WatchingFilter.i18n/en.json
  src/components/WatchingFilter/WatchingFilter.i18n/index.ts
  src/components/WatchingFilter/WatchingFilter.i18n/ru.json
  src/components/WatchingFilter/WatchingFilter.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(trpc): provide starred and watching filters data
  src/schema/common.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(FiltersPanelApplied): show applied sort props
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/en.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/ru.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/SortFilter/SortFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(FiltersPanelApplied): do not show sort if no values
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
Due: eslint --fix, prettier --write

refactor(FiltersPanel): users -> owners
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

feat(FiltersPanel): add Issuer filter, #1019
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/en.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/ru.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(FiltersPanel): add Participant filter, #1020
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/en.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/ru.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(useUrlFilterParams): reset preset w/o empty param, #804
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

feat(GoalsGroup): css grids
  src/components/GoalListItem.tsx
  src/components/GoalsGroup.tsx
Due: eslint --fix, prettier --write

feat(UserFilter): current user is always first
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/UserFilter.tsx
  src/components/UserFilter/UserFilter.i18n/en.json
  src/components/UserFilter/UserFilter.i18n/index.ts
  src/components/UserFilter/UserFilter.i18n/ru.json
  src/components/UserFilter/UserFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalCreateForm): added Dropdown near the button
  package-lock.json
  package.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/en.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): remove useless semver
  package-lock.json
  package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
