Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(GlobalSearch): full size search with keyboard nav
  src/components/GlobalSearch/GlobalSearch.i18n/en.json
  src/components/GlobalSearch/GlobalSearch.i18n/ru.json
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
  src/components/ProjectListItemCompact.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.26.0
  .release_notes/1.26.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GlobalSearch): do not show icon for goals
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalListItemCompact.tsx
Due: eslint --fix, prettier --write

feat(GoalPage): show goal tags in sidebar
  src/components/GoalPage/GoalPage.i18n/en.json
  src/components/GoalPage/GoalPage.i18n/ru.json
  src/components/GoalPage/GoalPage.tsx
  src/components/TagComboBox.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(Estimate): some refactoring & layout change
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate.tsx
  src/components/EstimateOption.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
Due: eslint --fix, prettier --write

chore(deps): bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore(Estimate): remove old estimate component & some resolves
  src/components/EstimateComboBox.tsx
  src/components/EstimateOption.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
Due: eslint --fix, prettier --write

chore(Estimate): rebase
  src/components/EstimateOption.tsx
Due: eslint --fix, prettier --write

chore(Estimate): some refactoring & layout change
  src/components/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
  src/components/GoalForm/GoalForm.tsx
Due: eslint --fix, prettier --write

fix(Estimate): resolve all conversations
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate.tsx
  src/components/EstimateOption.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
  src/components/OutlinePopup.tsx
Due: eslint --fix, prettier --write

feat(Estimate): create new popup for estimate
  src/components/Estimate/Estimate.i18n/en.json
  src/components/Estimate/Estimate.i18n/index.tsx
  src/components/Estimate/Estimate.i18n/ru.json
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/OutlinePopup.tsx
  src/types/estimate.ts
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(HistoryRecordEstimate): fix text content
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

fix(FiltersPanel): user filters became avalible
  src/utils/filters.ts
Due: eslint --fix, prettier --write

fix(EstimateFilter): simple year filter support
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

fix(FiltersPanel): estimate as JSON at search URL
  src/components/EstimateFilter.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/utils/estimateToString.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

chore: release 1.27.0
  .release_notes/1.27.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

perf(GoalsGroup): fix memoization
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalsGroup.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

chore(projects): rewrote raw sql
  trpc/queries/sqlProject.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(FiltersPanel): filter SSR request aviability
  src/utils/filters.ts
Due: eslint --fix, prettier --write

fix(DashboardPage): target has an estimate
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore(ExploreProjectsPage): rename files
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/en.json
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/index.ts
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/ru.json
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/pages/explore/projects.tsx
  src/pages/explore/top.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node
