Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore: add GoalsFilterPrest model
  prisma/migrations/20231024190808_/migration.sql
  prisma/schema.prisma
Due: none

chore(addCalculatedGoalsFields): rename
  src/utils/db.ts
  trpc/access/accessCheckers.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

fix(auth): do not create activity for existing users
  src/utils/auth.ts
Due: eslint --fix, prettier --write

chore: release 2.2.3
  .release_notes/2.2.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: move monaco loader from CDN to local assets
  .env.ci
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
  public/monaco/base/worker/workerMain.js
  public/monaco/basic-languages/markdown/markdown.js
  public/monaco/editor/editor.main.css
  public/monaco/editor/editor.main.js
  public/monaco/editor/editor.main.nls.js
  public/monaco/loader.js
  public/vs/base/common/worker/simpleWorker.nls.js
  src/components/FormEditor/FormEditor.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: priority is shown in GlobalSearch
  src/components/FlatGoalList.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalsGroup.tsx
  src/components/PriorityDropdown.tsx
  src/components/PriorityText/PriorityText.tsx
  src/components/ProjectListItemConnected.tsx
  src/types/priority.ts
  trpc/inferredTypes.ts
Due: eslint --fix, prettier --write

chore: release 2.3.0
  .release_notes/2.3.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: reactions have a tooltip with authors
  src/components/CommentView/CommentView.tsx
  src/components/GoalActivity.tsx
  src/components/GoalActivityFeed.tsx
  src/components/Reactions.tsx
  src/components/Reactions/Reactions.i18n/en.json
  src/components/Reactions/Reactions.i18n/index.ts
  src/components/Reactions/Reactions.i18n/ru.json
  src/components/Reactions/Reactions.tsx
  src/hooks/useGoalResource.ts
  src/hooks/useReactionsResource.ts
  src/types/comment.ts
  src/types/reactions.ts
  src/utils/db.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: added line space for tags
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalListItem.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/IssueTags.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/TagComboBox.tsx
  src/components/TagsList.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
Due: eslint --fix, prettier --write

chore: release 2.4.0
  .release_notes/2.4.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(workflows): add tg release notify
  .github/workflows/release_pr.yml
Due: none

chore(workflows): hook release notify on pr target
  .github/workflows/release_pr.yml
Due: none

chore(workflows): rename release notifications
  .github/workflows/release_notify.yml
Due: none

chore(workflows): use pr-telegram-action
  .github/workflows/release_notify.yml
Due: none

fix(RelativeTime): removed capitalize for first letter
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

feat: comment form has a state update button by default
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalCommentCreateForm.tsx
Due: eslint --fix, prettier --write

chore: e2e create/update/delete comments
  .eslintignore
  cypress/e2e/comments.cy.ts
  cypress/e2e/goals.cy.ts
  cypress/helpers.ts
  cypress/index.d.ts
  cypress/support/index.ts
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/Md.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/utils/domObjects.ts
  trpc/inferredTypes.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(keyPredictor): supported transliteration
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

test(e2e): added keypredictor transliteration check
  cypress/e2e/projects.cy.ts
Due: eslint --fix, prettier --write

chore: test tg run
  .release_notes/test.md
Due: prettier --write --parser markdown
