Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore(Settings): migrate to tRPC
  graphql/resolvers/Settings.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/pages/users/settings.tsx
  src/schema/user.ts
  src/utils/declareSsrProps.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

chore(Reaction): migrate to tRPC
  graphql/resolvers/Reaction.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  src/components/CommentView/CommentView.tsx
  src/hooks/useReactionsResource.ts
  src/schema/reaction.ts
  trpc/router/index.ts
  trpc/router/reaction.ts
Due: eslint --fix, prettier --write

chore(Tag): migrate to tRPC
  graphql/resolvers/Tag.ts
  graphql/schema.graphql
  graphql/schema.ts
  src/components/TagComboBox/TagComboBox.tsx
  src/schema/tag.ts
  trpc/router/index.ts
  trpc/router/tag.ts
Due: eslint --fix, prettier --write

chore(Comment): migrate to tRPC
  graphql/resolvers/Comment.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  src/components/CommentView/CommentView.tsx
  src/hooks/useCommentResource/useCommentResource.ts
  src/schema/comment.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  trpc/router/comment.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(Project): migrate to tRPC
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/schema.ts
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsGroup.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectTitleList.tsx
  src/components/RelativeTime/RelativeTime.tsx
  src/hooks/useProjectResource/index.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/explore/projects.tsx
  src/pages/explore/top.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/[id]/settings.tsx
  src/schema/common.ts
  src/schema/filter.ts
  src/schema/project.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  src/utils/dateTime.ts
  trpc/inferredTypes.ts
  trpc/queries/connections.ts
  trpc/queries/goals.ts
  trpc/router/comment.ts
  trpc/router/filter.ts
  trpc/router/flow.ts
  trpc/router/index.ts
  trpc/router/project.ts
  trpc/router/reaction.ts
  trpc/router/tag.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(Goal): migrate to tRPC
  graphql/resolvers/Goal.ts
  graphql/schema.ts
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentEditForm/CommentEditForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/IssueDependencies/IssueDependencies.tsx
  src/components/IssueDependenciesForm/IssueDependenciesForm.tsx
  src/components/IssueDependenciesList/IssueDependenciesList.tsx
  src/components/IssueListItem.tsx
  src/components/IssueParticipants/IssueParticipants.tsx
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/components/IssueParticipantsList.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/IssueTags.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/useGoalResource/index.ts
  src/hooks/useGoalUpdate/index.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/schema/goal.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  src/utils/declareSsrProps.ts
  src/utils/entityFetcher.ts
  trpc/inferredTypes.ts
  trpc/router/goal.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: remove nexus, gql, swr
  graphql/context.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  src/pages/api/graphql.ts
  src/utils/createFetcher.ts
  src/utils/gql.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: eslint issues
  src/components/StateDot.tsx
  src/hooks/useFilterResource.ts
  src/utils/trpcClient.ts
Due: eslint --fix, prettier --write

chore: types issues
  package-lock.json
  package.json
  src/components/EstimateComboBox.tsx
  src/components/EstimateFilterDropdown.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/ProjectFilterDropdown.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/StateFilterDropdown.tsx
  src/components/TagComboBox/TagComboBox.tsx
  src/components/TagsFilterDropdown.tsx
  src/components/UserComboBox.tsx
  src/components/UserFilterDropdown.tsx
  src/hooks/useLocalStorage.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: cleanup modules
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: refreshInterval via env
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/utils/config.ts
  src/utils/createFetcher.ts
Due: eslint --fix, prettier --write

chore(Flow): migrate to tRPC
  graphql/resolvers/Flow.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  src/components/FlowComboBox.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/StateDropdown.tsx
  src/components/StateSwitch.tsx
  src/pages/api/trpc/[trpc].ts
  src/utils/declareSsrProps.ts
  src/utils/trpcClient.ts
  trpc/inferredTypes.ts
  trpc/router/filter.ts
  trpc/router/flow.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write

chore(User): migrate to tRPC
  graphql/resolvers/User.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/components/UserComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/schema/user.ts
  src/utils/auth.ts
  trpc/router/index.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

chore: release 1.1.0
  .release_notes/1.1.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: create Job model
  prisma/migrations/20230508132943_/migration.sql
  prisma/schema.prisma
Due: none

feat: add background queue
  package.json
  scripts/worker.ts
  src/utils/mail/index.ts
  src/utils/mail/templates.ts
  src/utils/worker/create.ts
  src/utils/worker/resolve.ts
  trpc/router/comment.ts
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bundle analyse workflow
  .github/workflows/nextjs_bundle_analysis.yml
  package.json
Due: prettier --write --parser json, node

chore(Md): use api call for md->html
  package-lock.json
  package.json
  src/components/Md.tsx
  src/hooks/useMarkdown.ts
  trpc/router/index.ts
  trpc/router/tools.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(github): release issue template
  .github/ISSUE_TEMPLATE/manual_release
Due: none

chore(github): release issue template
  .github/ISSUE_TEMPLATE/manual_release.md
Due: prettier --write --parser markdown

chore: manual release with action button
  .github/ISSUE_TEMPLATE/manual_release.md
  .github/workflows/manual_release.yml
Due: prettier --write --parser markdown

chore: reuse release workflow from taskany-inc/release
  .github/workflows/manual_release.yml
Due: none

chore: reuse scheduled release workflow from taskany-inc/release
  .github/workflows/release.yml
Due: none

fix: run publish if new release notes
  .github/workflows/publish.yml
Due: none
