Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat: FormEditor translations
  package-lock.json
  package.json
  src/components/CommentForm/CommentForm.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.i18n/index.ts
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/index.ts
  src/components/FormEditor/FormEditor.i18n/en.json
  src/components/FormEditor/FormEditor.i18n/index.ts
  src/components/FormEditor/FormEditor.i18n/ru.json
  src/components/FormEditor/FormEditor.tsx
  src/components/GoalForm/GoalForm.tsx
  src/schema/schema.i18n/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: Buttons markup error
  src/components/Page.tsx
Due: eslint --fix, prettier --write

fix(PageTitle): pointer if onClick passed only
  src/components/PageTitle.tsx
Due: eslint --fix, prettier --write

fix(useUrlFilterParams): shallow eq for presets
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

feat(Filter): star/unstar not owned filters
  graphql/resolvers/Filter.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/hooks/useFilterResource.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(FiltersPanel): debounce search input
  package-lock.json
  package.json
  src/components/FiltersPanel/FiltersPanel.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Project): pass search query to resolvers
  graphql/resolvers/Project.ts
Due: eslint --fix, prettier --write

feat: top level projects in explore
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/ExplorePageLayout/ExplorePageLayout.i18n/en.json
  src/components/ExplorePageLayout/ExplorePageLayout.i18n/ru.json
  src/components/ExplorePageLayout/ExplorePageLayout.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/pages/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/en.json
  src/components/pages/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/index.ts
  src/components/pages/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/ru.json
  src/components/pages/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/hooks/router.ts
  src/pages/explore/top.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Comment): find activity not user
  graphql/resolvers/Comment.ts
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
Due: eslint --fix, prettier --write

feat: add routing progress
  package-lock.json
  package.json
  src/hooks/usePageLoad.ts
  src/pages/_app.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: Comment should be reset after submit
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/FormEditor/FormEditor.tsx
Due: eslint --fix, prettier --write

fix: hydration errors by rendering
  src/components/IssueDependenciesForm/IssueDependenciesForm.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

fix: get goal comments count in same way
  src/components/GoalsGroup.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

fix(Goal): check projectId in transfer branch
  graphql/resolvers/Goal.ts
Due: eslint --fix, prettier --write

fix: hydration errors by rendering
  src/components/IssueDependenciesList/IssueDependenciesList.tsx
Due: eslint --fix, prettier --write

chore: set progress bar height
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

fix: smooth and right scroll to comments
  src/components/GoalPreview/GoalPreview.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/pages/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

chore: PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write --parser markdown

chore(Project): calc isOwner in resolver
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

fix(ProjectPageLayout): compare paths without query string
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
Due: eslint --fix, prettier --write
