Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(1165): implements scheduled update task states jobs
  src/utils/worker/create.ts
  src/utils/worker/externalTasksJob.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write

fix(1165): manually task status check
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(1165): correct condition for cron job runs
  src/utils/worker/index.ts
Due: eslint --fix, prettier --write

chore(1165): create job in seed
  prisma/seed.ts
  src/utils/worker/create.ts
Due: eslint --fix, prettier --write

refactor(INTERNAL-1185): rewrite queries from prisma with kysely
  src/components/ProjectContext/ProjectContext.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/useProjectResource.ts
  src/pages/projects/[id]/index.tsx
  src/utils/recalculateCriteriaScore.ts
  trpc/inferredTypes.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1185): use new project query for settings page
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserEditableList/UserEditableList.tsx
  src/pages/projects/[id]/settings.tsx
  src/schema/project.ts
  trpc/queries/activity.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1185): use new project query for teams page
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/TeamComboBox/TeamComboBox.tsx
  src/pages/projects/[id]/team.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

refactor(INTERNAL-1185): drop extra cte statements
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/pages/projects/[id]/settings.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1236): return comments submit
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.module.css
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.60.0
  .release_notes/2.60.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1264): fix command page 500
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/TeamComboBox/TeamComboBox.tsx
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.60.1
  .release_notes/2.60.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(INTERNAL-1232): user filter access
  trpc/queries/filter.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1233): goals invalidation
  src/components/GoalCreateForm/GoalCreateForm.tsx
Due: eslint --fix, prettier --write

fix(INTERNAL-1191): fix translations in filters panel
  cypress/fixtures/langs.json
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/hooks/useUrlFilterParams.ts
  src/utils/filters.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: unnecessary check removed
  trpc/queries/filter.ts
Due: eslint --fix, prettier --write

feat: ranking WIP
  generated/kysely/types.ts
  package-lock.json
  prisma/migrations/20241023085103_goal_ranking/migration.sql
  prisma/schema.prisma
  src/components/Kanban/Kanban.tsx
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
  src/pages/test.tsx
  src/schema/common.ts
  src/utils/ranking.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.61.0
  .release_notes/2.61.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1287): fix participants duplicates
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1191): fix translations in filters panel
  cypress/fixtures/langs.json
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1297): drop beta flag for criteria with jira tasks
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
Due: eslint --fix, prettier --write

feat: goal kanban ranking
  generated/kysely/types.ts
  prisma/migrations/20241029143242_goal_ranks/migration.sql
  prisma/schema.prisma
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/Kanban/Kanban.tsx
  src/schema/common.ts
  src/utils/ranking.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
  trpc/router/goalV2.ts
  trpc/router/projectV2.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/ru.json
  trpc/utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(INTERNAL-1289): add assignee and creator to external task model
  generated/kysely/types.ts
  prisma/migrations/20241025100626_append_creator_n_assignee_fields_to_external_task_model/migration.sql
  prisma/schema.prisma
  src/components/GoalCriteria/GoalCriteria.tsx
  src/utils/integration/jira.ts
  src/utils/worker/externalTasksJob.ts
  trpc/queries/external.ts
  trpc/router/goal.ts
  trpc/router/jira.ts
Due: eslint --fix, prettier --write
