Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: error on enter keypress
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.18.1
  .release_notes/2.18.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: return avatarts
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.18.2
  .release_notes/2.18.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(usePageLoad): remove next router events dependency
  src/hooks/usePageLoad.ts
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

fix(Autocomplete): enable navigation
  package-lock.json
  package.json
  src/components/FilterCheckbox.tsx
  src/components/PriorityFilter.tsx
  src/components/ProjectFilter.tsx
  src/components/StateFilter.tsx
  src/components/TagFilter.tsx
  src/components/UserFilter/UserFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.18.3
  .release_notes/2.18.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: worker script from bricks
  .eslintrc.js
  package-lock.json
  package.json
  src/utils/worker/create.ts
  src/utils/worker/index.ts
  src/utils/worker/jobOperations.ts
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(AddInlineTrigger): remove centered prop from dom
  src/components/AddInlineTrigger.tsx
Due: eslint --fix, prettier --write

refactor(Button): use harmony button
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/EstimateQuarter/EstimateQuarter.tsx
  src/components/EstimateYear/EstimateYear.tsx
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FlowComboBox.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/KeyInput.tsx
  src/components/LoadMoreButton/LoadMoreButton.tsx
  src/components/PageHeaderActionButton/PageHeaderActionButton.tsx
  src/components/PriorityDropdown.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/Reactions/Reactions.tsx
  src/components/ReactionsButton.tsx
  src/components/StarButton/StarButton.tsx
  src/components/StateDropdown.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/components/WatchButton/WatchButton.tsx
  src/components/WhatsNew/WhatsNew.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItem): smaller title size for child projects
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore(Page,PageHeader,FiltersPanel): set harmony background color
  src/components/CommonHeader.tsx
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersPanel/FiltersPanel.module.css
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GlobalStyle.ts
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/Page/Page.module.css
  src/components/Page/Page.tsx
  src/components/PageActions/PageActions.module.css
  src/components/PageActions/PageActions.tsx
  src/components/PageContent/PageContent.module.css
  src/components/PageContent/PageContent.tsx
  src/components/PageHeader/PageHeader.module.css
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/SettingsContent.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/components/WhatsNewLayout.tsx
  src/pages/_app.css
  src/pages/_app.tsx
  src/pages/help/[slug].tsx
Due: eslint --fix, prettier --write

chore: release 2.18.4
  .release_notes/2.18.4.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: bricks & colors up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat: update FormControl to harmony style
  src/components/CriteriaForm/CriteriaForm.module.css
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/EstimateDate/EstimateDate.tsx
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FlowComboBox.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalParentComboBox.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.module.css
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/SearchFilter.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.module.css
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write

chore: release 2.19.0
  .release_notes/2.19.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: remove themePlaceholder
  src/components/Page/Page.tsx
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

chore: release 2.19.1
  .release_notes/2.19.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(Md): wrap plain links test into md literal
  package-lock.json
  package.json
  src/hooks/useMarkdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
