Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: release 2.28.0
  .release_notes/2.28.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: my projects in sidebar
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/PageNavigation/PageNavigation.tsx
  src/utils/declareSsrProps.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat: add stars and watched pages
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PageNavigation/PageNavigation.i18n/en.json
  src/components/PageNavigation/PageNavigation.i18n/ru.json
  src/components/PageNavigation/PageNavigation.tsx
  src/hooks/router.ts
  src/pages/goals/starred.tsx
  src/pages/goals/watching.tsx
  src/schema/common.ts
  src/utils/declareGoalsSsrProps.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(NewGoalCriteria): use harmony components for similar view in popup and goal preview
  cypress/fixtures/langs.json
  package-lock.json
  package.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.i18n/en.json
  src/components/GoalActivityFeed/GoalActivityFeed.i18n/index.ts
  src/components/GoalActivityFeed/GoalActivityFeed.i18n/ru.json
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalFormPopupTrigger.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueMeta.tsx
  src/components/NewGoalCriteria/NewGoalCriteria.i18n/en.json
  src/components/NewGoalCriteria/NewGoalCriteria.i18n/ru.json
  src/components/NewGoalCriteria/NewGoalCriteria.module.css
  src/components/NewGoalCriteria/NewGoalCriteria.tsx
  src/pages/_app.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: dont override bricks via sc. part 2
  src/components/ActivityFeed.tsx
  src/components/ActivityFeed/ActivityFeed.module.css
  src/components/ActivityFeed/ActivityFeed.tsx
  src/components/AddInlineTrigger.tsx
  src/components/AddInlineTrigger/AddInlineTrigger.module.css
  src/components/AddInlineTrigger/AddInlineTrigger.tsx
  src/components/Badge.tsx
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.tsx
  src/components/BetaBadge.tsx
  src/components/Circle.tsx
  src/components/Circle/Circle.module.css
  src/components/Circle/Circle.tsx
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivity.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/HistoryRecord/HistoryRecord.module.css
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.module.css
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.tsx
  src/components/InlineTrigger.tsx
  src/components/InlineTrigger/InlineTrigger.module.css
  src/components/InlineTrigger/InlineTrigger.tsx
  src/components/ProjectBadge.tsx
  src/components/UserBadge.tsx
  src/components/UserEditableList/UserEditableList.tsx
Due: eslint --fix, prettier --write

feat(emails): new components for emails
  emails/_components/ButtonLink.tsx
  emails/_components/Comment.tsx
  emails/_components/Footer.tsx
  emails/_components/Header.tsx
  emails/_components/Layout.tsx
  emails/_components/Space.tsx
  emails/_components/Tooltip.tsx
  emails/_components/Typography.tsx
  emails/_components/utils.ts
  emails/example.tsx
  emails/static/sheep.png
Due: eslint --fix, prettier --write

fix: get user email from database
  src/utils/auth.ts
Due: eslint --fix, prettier --write

refactor(StateType): replace @prisma/client to local on client side
  src/components/GoalHeader/GoalHeader.tsx
  src/components/StateFilter.tsx
  src/components/StateSwitch.tsx
  src/components/StateWrapper.tsx
  src/hooks/useUrlFilterParams.ts
  trpc/inferredTypes.ts
Due: eslint --fix, prettier --write

feat: custom preset in sidebar
  package-lock.json
  src/components/PageNavigation/PageNavigation.i18n/en.json
  src/components/PageNavigation/PageNavigation.i18n/ru.json
  src/components/PageNavigation/PageNavigation.tsx
  src/components/PresetDropdown.tsx
  src/hooks/router.ts
  src/utils/declareSsrProps.ts
  src/utils/filters.ts
  trpc/router/filter.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(OfflineBanner): infinity requests
  src/components/OfflineBanner/OfflineBanner.tsx
Due: eslint --fix, prettier --write

chore: release 2.29.0
  .release_notes/2.29.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: dont override bricks via sc. part 3
  src/components/ColorizedFilterDropdown.tsx
  src/components/ColorizedMenuItem.tsx
  src/components/CommentView/CommentView.tsx
  src/components/CommentsCountBadge.tsx
  src/components/GoalDependencyList.tsx
  src/components/HotkeysModal/HotkeysModal.module.css
  src/components/HotkeysModal/HotkeysModal.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/Light.tsx
  src/components/PageFooter/PageFooter.module.css
  src/components/PageFooter/PageFooter.tsx
  src/components/Plus.tsx
  src/components/ReactionsButton.tsx
  src/components/ReactionsDropdown/ReactionsDropdown.module.css
  src/components/ReactionsDropdown/ReactionsDropdown.tsx
  src/components/StateDropdown.tsx
Due: eslint --fix, prettier --write

fix: criteria popup placement and edit access
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix(GoalCriteria): update criteria
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

refactor: dont override bricks via sc. part 1
  src/components/ImageFullScreen/ImageFullScreen.module.css
  src/components/ImageFullScreen/ImageFullScreen.tsx
  src/components/OfflineBanner/OfflineBanner.tsx
  src/components/Page/Page.tsx
  src/components/PageTitle.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.module.css
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSettingsUserList.tsx
  src/components/SettingsContent.tsx
  src/components/SettingsContent/SettingsContent.module.css
  src/components/SettingsContent/SettingsContent.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/components/WhatsNew/WhatsNew.module.css
  src/components/WhatsNew/WhatsNew.tsx
  src/hooks/useMarkdown.tsx
Due: eslint --fix, prettier --write

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(GoalHeader/Link): save locale by navigate
  src/components/IssueTitle.tsx
Due: eslint --fix, prettier --write

fix(NexlLink): ref link wrapper
  src/components/NextLink.tsx
Due: eslint --fix, prettier --write

fix: other links
  src/components/GoalBadge.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectBadge.tsx
Due: eslint --fix, prettier --write

fix(GoalCriteria): fix navigation
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix(IssueParent): fix navigation
  src/components/IssueParent/IssueParent.tsx
Due: eslint --fix, prettier --write

fix(GoalForm): early selected projects cache
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/Page/Page.tsx
  src/hooks/useWillUnmount.ts
Due: eslint --fix, prettier --write

chore: release 2.30.0
  .release_notes/2.30.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
