Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat(PageTitle): show preset author
  src/components/GoalsPage/GoalsPage.i18n/en.json
  src/components/GoalsPage/GoalsPage.i18n/ru.json
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PageTitle.tsx
  src/components/ProjectPage/ProjectPage.i18n/en.json
  src/components/ProjectPage/ProjectPage.i18n/ru.json
  src/components/ProjectPage/ProjectPage.tsx
  trpc/router/filter.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalsPage): view preset author if you are not author of it
  src/components/GoalsPage/GoalsPage.tsx
Due: eslint --fix, prettier --write

chore(favicon): universal for light and dark themes
  public/favicon.png
Due: none

feat(RelativeTime): added switching of date display type
  package-lock.json
  package.json
  src/components/CommentView/CommentView.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

test(keyPredictor): add spec
  src/utils/keyPredictor.test.ts
Due: eslint --fix, prettier --write

feat(ProjectCreateForm): added the ability to enter vowels in the project key
  src/components/KeyInput.tsx
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

feat(Estimate): change relation between `Goal` and `Estimate`
  prisma/migrations/20230601105643_/migration.sql
  prisma/schema.prisma
  src/components/EstimateComboBox.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/schema/goal.ts
  src/utils/dateTime.ts
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(Estimate): change field name `createadAt` -> `createdAt`
  prisma/migrations/20230602095919_/migration.sql
  prisma/schema.prisma
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 1.6.0
  .release_notes/1.6.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(CommentView): date type does not change when clicking on child elements
  package-lock.json
  package.json
  src/components/CommentView/CommentView.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(hooks): add useClickOutside
  src/hooks/useClickOutside.ts
Due: eslint --fix, prettier --write

chore(deps): bump colors and bricks
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(GoalCreateForm): use outline button in all cases
  src/components/GoalCreateForm/GoalCreateForm.tsx
Due: eslint --fix, prettier --write

feat(Goal): comment with push state
  prisma/migrations/20230603183949_/migration.sql
  prisma/schema.prisma
  src/components/CommentCreateForm/CommentCreateForm.i18n/en.json
  src/components/CommentCreateForm/CommentCreateForm.i18n/ru.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentEditForm/CommentEditForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/State.tsx
  src/hooks/useCommentResource.ts
  src/schema/comment.ts
  src/schema/goal.ts
  trpc/queries/goals.ts
  trpc/router/comment.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: package-lock.json
  package-lock.json
Due: prettier --write --parser json, node

feat(ProjectListItem): add new makup and fields
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/GoalListItem.tsx
  src/components/GoalsGroup.tsx
  src/components/ProjectListItem.tsx
  src/components/Table.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(ProjectListItem): add new ProjectListItem to goals page
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/Table.tsx
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(ProjectListItem): fix types error
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(EstimateComboBox): shows current Q first and others in future
  src/components/EstimateComboBox.tsx
  src/components/GoalForm/GoalForm.tsx
Due: eslint --fix, prettier --write

feat(GoalHistory): new goal feed combined history and comments
  package-lock.json
  package.json
  prisma/seed.ts
  src/components/ActivityFeed.tsx
  src/components/GoalActivity.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/index.ts
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
  src/types/history.ts
  src/utils/db.ts
  src/utils/goalHistory.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(workflows): release every Mo and Thu at 11am
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
