Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix(*Suggests): rewrite suggest items with new Table components
  package-lock.json
  package.json
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
  src/components/ProjectListItemCompact.tsx
  trpc/router/goal.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.20.4
  .release_notes/1.20.4.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: save comment drafts in localstorage
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/GoalActivity.tsx
  src/hooks/useLocalStorage.ts
  src/types/draftComment.ts
Due: eslint --fix, prettier --write

chore: create a draft hook
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/GoalActivity.tsx
  src/hooks/useLSDraft.ts
  src/types/draftComment.ts
Due: eslint --fix, prettier --write

chore(ProjectListItemCollapsable): remove Goals button
  src/components/CollapsableItem.tsx
  src/components/CommonHeader.tsx
  src/components/ExplorePageLayout/ExplorePageLayout.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/en.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/index.ts
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/ru.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
  src/components/ProjectsPage/ProjectsPage.i18n/en.json
  src/components/ProjectsPage/ProjectsPage.i18n/ru.json
  src/components/ProjectsPage/ProjectsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(StateSwitch): added padding-right to StyledStates to look same
  src/components/StateSwitch.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItemCollapsable): icorrect children state
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

fix(Database): use utc-based timestamp by default
  prisma/migrations/20230807192046_change_default_timestamps/migration.sql
  prisma/schema.prisma
Due: none

chore: release 1.20.5
  .release_notes/1.20.5.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(ProjectListItemConnected): subproject count visible before open collapsed
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore: release 1.20.6
  .release_notes/1.20.6.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(upload): upload attaches with error handling
  package-lock.json
  package.json
  src/pages/api/upload.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(wdyr): use NEXT_PUBLIC_WDYR to enable wdyr
  next.config.js
  src/utils/wdyr.ts
Due: eslint --fix, prettier --write

chore(useLSDraft): simplify types
  src/hooks/useLSDraft.ts
Due: eslint --fix, prettier --write

chore: add useDateViewType hook
  src/components/CommentView/CommentView.tsx
  src/hooks/useClickSwitch.ts
Due: eslint --fix, prettier --write

refactor: optimize comment schemas
  src/hooks/useCommentResource.ts
  src/schema/comment.ts
  src/schema/goal.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

refactor(CommentForm): remove external entity props
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentEditForm/CommentEditForm.i18n/en.json
  src/components/CommentEditForm/CommentEditForm.i18n/index.ts
  src/components/CommentEditForm/CommentEditForm.i18n/ru.json
  src/components/CommentEditForm/CommentEditForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentView/CommentView.i18n/en.json
  src/components/CommentView/CommentView.i18n/ru.json
  src/components/CommentView/CommentView.tsx
  src/components/GoalActivity.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: useGoalCommentsActions for GoalPreview and GoalPage
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/hooks/useGoalCommentsActions.ts
Due: eslint --fix, prettier --write

fix: pin comment after achivements criteria and deps, #1434
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

chore(GoalPreview): remove legacy code
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

feat(UserGroup): use component from bricks
  package-lock.json
  package.json
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node
