Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat: the owner will not connect to participants in the created goal
  src/utils/db.ts
Due: eslint --fix, prettier --write

chore: added migration to remove all owners from participants lists
  prisma/migrations/20231218143513_remove_owners_from_participants_lists/migration.sql
Due: none

fix: participants can be deleted in goal sidebar
  src/hooks/useGoalResource.ts
Due: eslint --fix, prettier --write

fix(GoalLists): overflow scroll for small screens
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/GoalListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ScrollableView.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

fix(FilterPanel): correct appling `groupBy` param
  src/components/GoalsPage/GoalsPage.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/goals/index.tsx
Due: eslint --fix, prettier --write

refactor: render function inside GoalActivity use props based on CommentView component
  src/components/CommentView/CommentView.tsx
  src/components/GoalActivity.tsx
  src/components/GoalActivityFeed.tsx
  src/hooks/useGoalResource.ts
  src/types/comment.ts
Due: eslint --fix, prettier --write

feat: filter deps and criterias
  cypress/fixtures/langs.json
  src/components/GoalHeader.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/PrivateDepsWarning/PrivateDepsWarning.i18n/en.json
  src/components/PrivateDepsWarning/PrivateDepsWarning.i18n/index.ts
  src/components/PrivateDepsWarning/PrivateDepsWarning.i18n/ru.json
  src/components/PrivateDepsWarning/PrivateDepsWarning.tsx
  src/utils/db.ts
  trpc/queries/access.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalCriteria): drop unused fields
  src/utils/db.ts
Due: eslint --fix, prettier --write

chore(GoalHistory): drop unused field from scheme
  prisma/migrations/20231219143345_drop_unused_criteria_fields/migration.sql
  prisma/schema.prisma
Due: none

chore: release 2.14.0
  .release_notes/2.14.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: sheep bot
  prisma/seed.ts
  public/sheep.png
  src/utils/worker/create.ts
  src/utils/worker/resolve.ts
  src/utils/worker/sheep.ts
Due: eslint --fix, prettier --write

feat(State): use `css-vars` instead of `color-layer` lib
  src/components/Badge.tsx
  src/components/ColorizedMenuItem.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList.tsx
  src/components/GoalList.tsx
  src/components/State.tsx
  src/components/StateDot.tsx
  src/components/StateSwitch.tsx
  src/components/StateWrapper.tsx
Due: eslint --fix, prettier --write

chore(deps): remove `color-layer` from deps
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat: system theme resolves as dark or light
  src/components/ThemeSetter.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(CommentForm): add an error handler
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write

fix(GoalListItem): comments icon is show
  src/components/GoalListItem.tsx
Due: eslint --fix, prettier --write

fix(FlatGoalList): list item is focused when GoalPreview is open
  src/components/FlatGoalList.tsx
Due: eslint --fix, prettier --write

fix: table is stratched
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

chore: release 2.15.0
  .release_notes/2.15.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(StateDropdown): default state is always set
  src/components/StateDropdown.tsx
Due: eslint --fix, prettier --write

feat: runs & force support
  prisma/migrations/20231225113714_job_force_runs/migration.sql
  prisma/schema.prisma
  src/utils/worker/index.ts
Due: eslint --fix, prettier --write
