Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: hide criteria and dependencies for private projects
  src/components/GoalActivityFeed.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalHistory): rewrite types with calculated fields
  src/components/GoalActivity.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/types/history.ts
  src/utils/db.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

test(langs): implements i18n api for specs usage
  cypress/fixtures/langs.json
  cypress/index.d.ts
  cypress/support/index.ts
  cypress/support/lang.ts
  cypress/tsconfig.json
  package.json
  scripts/generateLangsFixture.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: personal goals
  package-lock.json
  package.json
  prisma/migrations/20231129193746_project_personal/migration.sql
  prisma/schema.prisma
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/GroupedGoalList.tsx
  src/components/PageHeaderActionButton/PageHeaderActionButton.i18n/en.json
  src/components/PageHeaderActionButton/PageHeaderActionButton.i18n/ru.json
  src/components/PageHeaderActionButton/PageHeaderActionButton.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/StateDropdown.tsx
  src/hooks/useGoalResource.ts
  src/hooks/useLocalStorage.ts
  src/pages/explore/projects.tsx
  src/schema/goal.ts
  src/utils/db.ts
  src/utils/domObjects.ts
  trpc/access/accessCheckers.ts
  trpc/access/accessMiddlewares.ts
  trpc/inferredTypes.ts
  trpc/queries/project.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalHistory): grouping the same history records
  src/components/GoalActivity.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.12.0
  .release_notes/2.12.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: whats new for 2.12.0
  public/CollectSameHistoryRecords.png
  public/PersonalGoal.png
  src/pages/whatsnew/2.12.0/en.mdx
  src/pages/whatsnew/2.12.0/ru.mdx
Due: none

feat: allow participants editing in project settings
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectParticipants/ProjectParticipants.i18n/en.json
  src/components/ProjectParticipants/ProjectParticipants.i18n/index.ts
  src/components/ProjectParticipants/ProjectParticipants.i18n/ru.json
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSettingsUserList.tsx
  src/components/UserEditableList/UserEditableList.tsx
  src/hooks/useProjectResource.ts
  src/schema/project.ts
  src/utils/worker/mail/templates.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

test(e2e): goal dependencies
  cypress/e2e/goalDependencies.cy.ts
  cypress/index.d.ts
  cypress/plugins/db.ts
  cypress/tsconfig.json
  src/components/AddInlineTrigger.tsx
  src/components/Badge.tsx
  src/components/GoalBadge.tsx
  src/components/GoalDependency/GoalDependency.i18n/en.json
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalList.tsx
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/IssueMeta.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bricks up to date canary
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.13.0
  .release_notes/2.13.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

test(langs): implements i18n api for specs usage
  cypress/fixtures/langs.json
  scripts/generateLangsFixture.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(schema): valid translates
  cypress/fixtures/langs.json
  src/schema/goal.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

test(goals): write new tests
  cypress/e2e/goals.cy.ts
  cypress/index.d.ts
  cypress/plugins/db.ts
  cypress/support/index.ts
Due: eslint --fix, prettier --write

chore(domAttrs): apply test attrs for components
  src/components/CommonCombobox.tsx
  src/components/CommonDropdown.tsx
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate/EstimateDate.tsx
  src/components/EstimateOption.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter/EstimateQuarter.tsx
  src/components/EstimateYear/EstimateYear.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalParentComboBox.tsx
  src/components/PriorityDropdown.tsx
  src/components/StateDropdown.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

fix(dateTime): reexport helper funcs
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

feat: filter deps and criterias
  cypress/fixtures/langs.json
  src/components/GoalHeader.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/PrivateDepsWarning/PrivateDepsWarning.i18n/en.json
  src/components/PrivateDepsWarning/PrivateDepsWarning.i18n/index.ts
  src/components/PrivateDepsWarning/PrivateDepsWarning.i18n/ru.json
  src/components/PrivateDepsWarning/PrivateDepsWarning.tsx
  src/utils/db.ts
  trpc/queries/access.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: cron support
  package-lock.json
  package.json
  src/utils/worker/create.ts
  src/utils/worker/index.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): remove `color-layer` from deps
  package-lock.json
  package.json
Due: prettier --write --parser json, node

test(goals): fix spacs
  cypress/e2e/goals.cy.ts
Due: eslint --fix, prettier --write

fix(FilterPanel): correct appling `groupBy` param
  src/components/GoalsPage/GoalsPage.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/goals/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
