Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalDependencies): another one fixes pack
  src/hooks/useGoalDependencyResource.ts
  src/schema/goal.ts
  src/utils/db.ts
  trpc/inferredTypes.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalDependencies): rewrite api methods and minor fixes
  src/schema/goal.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): drop unsed code
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix(GoalDependencies): add validation form, minor fixes
  src/components/ActivityFeed.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/en.json
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/ru.json
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/InlineForm.tsx
  src/schema/goal.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(InlineForm,GoalListItemCompact): comfortable components
  src/components/ActivityFeed.tsx
  src/components/Circle.tsx
  src/components/GoalActivity.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/en.json
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/index.ts
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/ru.json
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalDependencyList/GoalDependencyList.i18n/en.json
  src/components/GoalDependencyList/GoalDependencyList.i18n/index.ts
  src/components/GoalDependencyList/GoalDependencyList.i18n/ru.json
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
  src/components/InlineForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.16.0
  .release_notes/1.16.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalCriteria): off autocomplete for weight input
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write

fix(GoalCriteria): update criteria flag by the state goal change
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/StateSwitch.tsx
  src/schema/goal.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): completed criterias move to list begin
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix(FiltersPanel): filters shouldn'' be hidden after empty search
  src/components/FiltersPanel/FiltersPanel.tsx
Due: eslint --fix, prettier --write

fix(GoalDependencies): beta mark on this feature
  src/components/BetaBadge.tsx
  src/components/Circle.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
Due: eslint --fix, prettier --write

chore: release 1.16.1
  .release_notes/1.16.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(goal.switchState): add project owner to Editable
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 1.16.2
  .release_notes/1.16.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(Goal): fix update criteria if goal not as criteria
  src/hooks/useCommentResource.ts
  src/schema/goal.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 1.16.3
  .release_notes/1.16.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalPreview): pin latest state comment
  package-lock.json
  package.json
  src/components/CommentFixed.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(estimateFilter): only unique estimates
  src/components/EstimateFilter.tsx
  trpc/router/estimates.ts
Due: eslint --fix, prettier --write

fix(GoalSuggest): search query params
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(CommentView): remove duplicate component
  src/components/CommentFixed.tsx
  src/components/CommentView/CommentView.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

chore: release 1.16.4
  .release_notes/1.16.4.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(UserGroup): user and counter tooltips
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write

fix(GoalCriteria): remake title input for form
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalSuggest.tsx
  src/components/InlineForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: upgrade @taskany/bricks version
  package-lock.json
  package.json
  src/components/EstimateComboBox.tsx
  src/components/FlowComboBox.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentComboBox.tsx
  src/components/PageFooter/PageFooter.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.16.5
  .release_notes/1.16.5.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
