Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: estimate unexpected update
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate/EstimateDate.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(deps): bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: getting user name
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/UserComboBox.tsx
  src/types/history.ts
  src/utils/db.ts
  src/utils/getUserName.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

fix(CriteriaForm): edit criteria form shouldnt have render trigger prop
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write

chore: release 1.32.1
  .release_notes/1.32.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: whats new version
  src/pages/whatsnew/1.32.2/en.mdx
  src/pages/whatsnew/1.32.2/ru.mdx
Due: none

chore: add reusable domObjects variables
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

test: add db tasks
  .github/workflows/e2e.yml
  cypress.config.ts
  cypress/index.d.ts
  cypress/plugins/db.ts
  cypress/plugins/index.ts
  cypress/support/index.ts
Due: eslint --fix, prettier --write

chore: provide reusable domObjects for components
  src/components/CommonCombobox.tsx
  src/components/CommonDropdown.tsx
  src/components/EstimatePopup.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalHeader.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentComboBox.tsx
  src/components/IssueParent.tsx
  src/components/IssueTitle.tsx
  src/components/Page.tsx
  src/components/PriorityDropdown.tsx
  src/components/ProjectMenuItem.tsx
  src/components/StateDropdown.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
Due: eslint --fix, prettier --write

fix(StateDropdown): simplify usage
  src/components/GoalForm/GoalForm.tsx
  src/components/StateDropdown.tsx
  trpc/router/flow.ts
Due: eslint --fix, prettier --write

test(goalCreate): write specs
  cypress/e2e/goals.cy.ts
Due: eslint --fix, prettier --write

chore: unify combobox selectors
  cypress/e2e/goals.cy.ts
  src/components/GoalParentComboBox.tsx
  src/components/UserComboBox.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

test: create stub subjects with cy.task, fix selectors
  cypress/e2e/dashboard.cy.ts
  cypress/e2e/projectSettings.cy.ts
  cypress/e2e/projects.cy.ts
Due: eslint --fix, prettier --write

chore: release 1.32.2
  .release_notes/1.32.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: on new comment input re-renders only comment form
  src/components/GoalActivityFeed.tsx
  src/components/GoalCommentCreateForm.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/useGoalResource.ts
  src/hooks/useLSDraft.ts
  src/hooks/useLatest.ts
  src/hooks/useLocalStorage.ts
Due: eslint --fix, prettier --write

chore: release 1.32.3
  .release_notes/1.32.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalPage): pass NextLink via Link prop
  package-lock.json
  package.json
  src/components/IssueParent.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(HistoryRecord): remove CSS overrides
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

chore: release 1.32.4
  .release_notes/1.32.4.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
