Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: remove legacy state dot
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalList.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/StateDot/StateDot.module.css
  src/components/StateDot/StateDot.tsx
  src/components/StateWrapper/StateWrapper.module.css
  src/components/StateWrapper/StateWrapper.tsx
Due: eslint --fix, prettier --write

chore: release 2.33.0
  .release_notes/2.33.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: whats new for 2.33.0
  public/Breadcrumbs.png
  public/NewCommentsDesign.png
  src/pages/whatsnew/2.33.0/en.mdx
  src/pages/whatsnew/2.33.0/ru.mdx
Due: none

refactor: dont override bricks via sc. part 2
  package-lock.json
  package.json
  src/components/ActivityFeed.tsx
  src/components/ActivityFeed/ActivityFeed.module.css
  src/components/ActivityFeed/ActivityFeed.tsx
  src/components/AddInlineTrigger.tsx
  src/components/AddInlineTrigger/AddInlineTrigger.module.css
  src/components/AddInlineTrigger/AddInlineTrigger.tsx
  src/components/BetaBadge.tsx
  src/components/Circle.tsx
  src/components/Circle/Circle.module.css
  src/components/Circle/Circle.tsx
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivity.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.tsx
  src/components/InlineTrigger.tsx
  src/components/UserEditableList/UserEditableList.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: comment time color blinking
  src/components/GoalContentHeader/GoalContentHeader.module.css
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/GoalPage/GoalPage.module.css
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.module.css
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalTableList/GoalTableList.module.css
  src/components/HistoryRecord/HistoryRecord.module.css
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/RelativeTime/RelativeTime.module.css
Due: eslint --fix, prettier --write

fix: colors in whats news
  src/components/WhatsNewLayout.tsx
Due: eslint --fix, prettier --write

refactor: dont override bricks via sc. part 7
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.module.css
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/AddInlineTrigger/AddInlineTrigger.module.css
  src/components/CommentCreateForm/CommentCreateForm.module.css
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/FilterCheckbox.tsx
  src/components/FilterTabLabel.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalMenuItem.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalSidebar/GoalSidebar.module.css
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/IssueMeta.tsx
  src/components/IssueMeta/IssueMeta.module.css
  src/components/IssueMeta/IssueMeta.tsx
  src/components/KeyInput/KeyInput.module.css
  src/components/KeyInput/KeyInput.tsx
  src/components/LoadMoreButton/LoadMoreButton.module.css
  src/components/LoadMoreButton/LoadMoreButton.tsx
  src/components/MenuGroupItem.tsx
  src/components/PrivateDepsWarning/PrivateDepsWarning.module.css
  src/components/PrivateDepsWarning/PrivateDepsWarning.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.module.css
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemCompact/ProjectListItemCompact.tsx
  src/components/ProjectMenuItem.tsx
  src/components/UserComboBox.tsx
  src/components/UserMenuItem.tsx
Due: eslint --fix, prettier --write

refactor: dont override bricks via sc. part 6
  src/components/GoalList/GoalList.module.css
  src/components/GoalList/GoalList.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/PageSep.tsx
  src/components/PageSep/PageSep.module.css
  src/components/PageSep/PageSep.tsx
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.module.css
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.tsx
  src/components/Reactions/Reactions.module.css
  src/components/Reactions/Reactions.tsx
  src/components/TableRowItem/TableRowItem.module.css
  src/components/TableRowItem/TableRowItem.tsx
  src/components/TextList.tsx
  src/components/TextList/TextList.module.css
  src/components/TextList/TextList.tsx
  src/components/UserEditableList/UserEditableList.module.css
  src/components/UserEditableList/UserEditableList.tsx
Due: eslint --fix, prettier --write

feat: change locale in settings
  prisma/migrations/20240412082257_locale_in_settings/migration.sql
  prisma/schema.prisma
  src/components/Page/Page.tsx
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/schema/user.ts
  src/utils/auth.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.33.1
  .release_notes/2.33.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: remove js color variables
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.module.css
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/CriteriaForm/CriteriaForm.module.css
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/IssueKey/IssueKey.module.css
  src/components/IssueKey/IssueKey.tsx
  src/components/Page/Page.tsx
  src/components/RotatableTip/RotatableTip.module.css
  src/components/RotatableTip/RotatableTip.tsx
  src/components/Theme.tsx
Due: eslint --fix, prettier --write

feat: sorting at filters bar
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/SortButton/SortButton.tsx
  src/hooks/useUrlFilterParams.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.34.0
  .release_notes/2.34.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(UserSettingsPage): i18n for labels in FormRadio
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: return paddings to settings cards
  src/components/SettingsContent/SettingsContent.tsx
Due: eslint --fix, prettier --write

chore: remove projects from LS
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/Page/Page.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/hooks/useProjectResource.ts
Due: eslint --fix, prettier --write

fix: remove unexpected p in markdown
  src/hooks/useMarkdown.tsx
Due: eslint --fix, prettier --write

feat: replace GoalSidebar to harmony view
  src/components/GoalList/GoalList.tsx
  src/components/GoalSidebar/GoalSidebar.module.css
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/IssueMeta/IssueMeta.module.css
  src/components/IssueMeta/IssueMeta.tsx
  src/components/List/List.module.css
  src/components/List/List.tsx
  src/components/UserEditableList/UserEditableList.module.css
  src/components/UserEditableList/UserEditableList.tsx
Due: eslint --fix, prettier --write

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(GlobalSearch): result priority
  prisma/schema.prisma
  src/utils/translit.test.ts
  src/utils/translit.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

fix: layout GoalActivityFeed
  src/components/ActivityFeed/ActivityFeed.module.css
  src/components/GoalContentHeader/GoalContentHeader.module.css
  src/components/GoalContentHeader/GoalContentHeader.tsx
Due: eslint --fix, prettier --write

fix(HistoryRecord): records count translation
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: harmony tips
  package-lock.json
  package.json
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.module.css
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/RotatableTip/RotatableTip.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: return sorting to Dasboard page
  trpc/router/project.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
