Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(ExternalTask): use tasks as criteria
  src/schema/criteria.ts
  trpc/queries/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(ExternalTasks): cleanup code
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalList/GoalList.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/hooks/router.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

feat(interation): implements of jira api
  generated/kysely/types.ts
  package-lock.json
  package.json
  prisma/migrations/20240903082008_external_tasks/migration.sql
  prisma/schema.prisma
  src/hooks/router.ts
  src/utils/integration/jira.ts
  trpc/queries/external.ts
  trpc/router/external.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(TaskBadge): a brand new component
  src/components/TaskBadge/TaskBadge.module.css
  src/components/TaskBadge/TaskBadge.tsx
Due: eslint --fix, prettier --write

fix(ExternalTasks): check if task is completed
  .env.ci
  generated/kysely/types.ts
  prisma/migrations/20240906111435_external_tasks/migration.sql
  prisma/schema.prisma
  src/utils/integration/jira.ts
  trpc/queries/external.ts
  trpc/router/external.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(ExternalTasks): rename Task to JiraTask and cleanup code
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/JiraTaskBadge/JiraTaskBadge.module.css
  src/components/JiraTaskBadge/JiraTaskBadge.tsx
  src/utils/integration/jira.ts
  trpc/router/index.ts
  trpc/router/jira.ts
Due: eslint --fix, prettier --write

fix: remove e2e tests skip
  cypress/e2e/dashboard.cy.ts
Due: eslint --fix, prettier --write

fix(ExternalTasks): don`t destroy service on startup
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/Page/Page.tsx
  src/utils/declareSsrProps.ts
  src/utils/integration/jira.ts
  src/utils/pageContext.ts
  trpc/router/jira.ts
Due: eslint --fix, prettier --write

feat(ExternalTask): view history changes
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  trpc/queries/history.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(ExternalTasks): show external task form only for beta users
  src/components/BetaLiteral.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
Due: eslint --fix, prettier --write

feat: goals lazy pagination
  cypress/fixtures/langs.json
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/Kanban/Kanban.tsx
  src/components/Loader/Loader.i18n/en.json
  src/components/Loader/Loader.i18n/index.ts
  src/components/Loader/Loader.i18n/ru.json
  src/components/Loader/Loader.tsx
  src/components/ProjectGoalList/ProjectGoalList.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/en.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/ru.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/useGoalPreviewInvalidate.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/schema/common.ts
  src/utils/getShownStates.ts
  src/utils/projectCollapsableItemInit.ts
  trpc/inferredTypes.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.56.0
  .release_notes/2.56.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(ExternalTasks): get right props
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
Due: eslint --fix, prettier --write

chore: release 2.56.1
  .release_notes/2.56.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: update bricks version
  package-lock.json
  package.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release notes
  public/PartialCriteriaProgress.png
  src/pages/whatsnew/2.57.0/en.mdx
  src/pages/whatsnew/2.57.0/ru.mdx
Due: none

fix(jiraService): renew init
  src/utils/integration/jira.ts
Due: eslint --fix, prettier --write

fix(CriteriaForm): rename `Task` to `Jira task`
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ExternalTasks): color map for tasks statuses
  src/utils/db/calculatedGoalsFields.ts
  src/utils/integration/jira.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(Activity): apply state colors for external tasks
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/utils/db/calculatedGoalsFields.ts
  trpc/queries/history.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.57.0
  .release_notes/2.57.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

test(Project): fix waiting for loading project list
  cypress/e2e/projects.cy.ts
Due: eslint --fix, prettier --write

feat: add option to sort projects
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(ExternalTasks): more safely determinate task status
  generated/kysely/types.ts
  prisma/migrations/20240923113428_append_resolution_fields_for_task_model/migration.sql
  prisma/schema.prisma
  src/utils/db/calculatedGoalsFields.ts
  src/utils/integration/jira.ts
  trpc/queries/external.ts
  trpc/router/goal.ts
  trpc/router/jira.ts
Due: eslint --fix, prettier --write
