Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

test(e2e): dom-objects
  src/components/KeyInput.tsx
  src/components/Page.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeaderActionButton/PageHeaderActionButton.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

chore: kill all processes if any was failed
  Dockerfile
Due: none

docs(CONTRIBUTING): e2e how to
  CONTRIBUTING.md
Due: prettier --write --parser markdown

chore(e2e): use testing env
  Dockerfile.ci
  app_run.ci.sh
  package.json
Due: prettier --write --parser json, node

chore(deps): bump dom-objects
  package-lock.json
  package.json
Due: prettier --write --parser json, node

test(e2e): default auth and project creating specs
  cypress/e2e/auth.cy.ts
  cypress/e2e/dashboard.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/helpers.ts
  cypress/index.d.ts
  cypress/support/index.ts
  package-lock.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(FeedbackCreateForm): form closes after submit
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  trpc/router/feedback.ts
Due: eslint --fix, prettier --write

chore: add separate request for rest goals
  trpc/router/project.ts
Due: eslint --fix, prettier --write

test(e2e): run scripts
  .env.ci
  package-lock.json
  package.json
  scripts/e2eEnv.sh
  scripts/e2eRun.sh
Due: prettier --write --parser json, node

chore: do not ignore screenshots
  .gitignore
Due: none

chore(cypress): setup default viewport
  cypress.config.ts
Due: eslint --fix, prettier --write

test(e2e): screenshots matching
  cypress.config.ts
  cypress/e2e/__image_snapshots__/customKeyHint #0.png
  cypress/e2e/__image_snapshots__/emptyForm #0.png
  cypress/e2e/__image_snapshots__/keyPredictorError #0.png
  cypress/e2e/__image_snapshots__/keyPredictorHint #0.png
  cypress/e2e/__image_snapshots__/projectAlreadyExistError #0.png
  cypress/e2e/__image_snapshots__/signinForm #0.png
  cypress/e2e/__image_snapshots__/tooShortTitleError #0.png
  cypress/e2e/auth.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/helpers.ts
  cypress/index.d.ts
  cypress/support/index.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Dashboard): rewrite selects into two queries
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 1.23.2
  .release_notes/1.23.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(ImageFullScreen): no closed GoalPreview on ESC and can be closed on outside click
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/ImageFullScreen.tsx
  src/components/Page.tsx
Due: eslint --fix, prettier --write

fix(GoalDependencyList): the circle is in the center
  src/components/GoalDependencyList/GoalDependencyList.tsx
Due: eslint --fix, prettier --write

chore(worker): capture errors and retry limit
  src/utils/worker/index.ts
Due: eslint --fix, prettier --write

feat(FiltersPanel): default global filter support
  prisma/migrations/20230815132917_default_filter/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PageTitlePreset/PageTitlePreset.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/StateFilter.tsx
  src/hooks/router.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/index.tsx
  src/schema/common.ts
  src/utils/defaultFilterAlias.ts
  src/utils/filters.ts
  trpc/queries/goals.ts
  trpc/queries/sqlProject.ts
  trpc/router/filter.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 1.23.3
  .release_notes/1.23.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(CookiesProvider): use cookies for noPresetSearch on filters
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/router.ts
  src/hooks/useCookies.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/_app.tsx
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/index.tsx
  src/utils/declareSsrProps.ts
  src/utils/defaultFilterAlias.ts
  src/utils/filters.ts
  trpc/router/filter.ts
Due: eslint --fix, prettier --write

feat(sqlGoalsFilter): add stateType filter
  src/hooks/useCookies.tsx
  src/hooks/useUrlFilterParams.ts
  trpc/queries/sqlProject.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(seed): beautify filter title
  prisma/seed.ts
Due: eslint --fix, prettier --write

feat(sqlGoalsFilter): stateType native enum
  src/components/StateFilter.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/router/filter.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(CookiesProvider): remove extra cache
  src/hooks/useCookies.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
