Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1717): search goal by passed identifier
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.70.1
  .release_notes/2.70.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(INTERNAL-1741): projects search bug
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1671): markdown strong tag bug
  src/hooks/useMarkdown.tsx
Due: eslint --fix, prettier --write

fix(INTERNAL-1745): more stability
  src/utils/integration/jira.ts
  src/utils/worker/externalTasksJob.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write

chore: release 2.71.0
  .release_notes/2.71.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

test(Project): skip whatsnew
  cypress/e2e/projects.cy.ts
Due: eslint --fix, prettier --write

chore: disable scheduled release
  .github/workflows/release.yml
Due: none

fix(issues/3174): fix footer
  src/components/PageFooter/PageFooter.tsx
  src/components/PageNavigation/PageNavigation.module.css
  src/components/PageNavigation/PageNavigation.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips.css
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/index.ts
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/ru.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips/index.ts
  src/components/SheepLogoWithTips/SheepLogoWithTips/ru.json
  src/components/TitleLogo.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1643): fix footer
  cypress/fixtures/langs.json
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/ru.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.module.css
  src/components/SheepLogoWithTips/SheepLogoWithTips.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips/index.ts
  src/components/SheepLogoWithTips/SheepLogoWithTips/ru.json
  src/utils/getRandomIndex.tsx
  src/utils/utils.i18n/en.json
  src/utils/utils.i18n/index.ts
  src/utils/utils.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1796): support worker
  package-lock.json
  package.json
  src/utils/worker/index.ts
  src/utils/worker/sentry.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(INTERNAL-1682): fix editor file paste
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.72.0
  .release_notes/2.72.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1163): fix footer
  cypress/fixtures/langs.json
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
  src/components/PageNavigation/PageNavigation.module.css
  src/components/PageNavigation/PageNavigation.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/index.ts
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/ru.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.module.css
  src/components/SheepLogoWithTips/SheepLogoWithTips.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips/index.ts
  src/components/SheepLogoWithTips/SheepLogoWithTips/ru.json
  src/components/TitleLogo.tsx
  src/utils/getRandomIndex.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1702): hide personal goals
  src/components/PageNavigation/PageNavigation.tsx
  src/schema/project.ts
  src/utils/declareSsrProps.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1498): starred/watching goals fix
  src/hooks/useUrlFilterParams.ts
  src/pages/goals/starred.tsx
  src/pages/goals/watching.tsx
  src/utils/declareGoalsSsrProps.ts
  src/utils/parseUrlParams.ts
  trpc/queries/goalV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1702): hide private projects from admins
  src/utils/db/index.ts
  trpc/queries/access.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1747): estimate sorting
  cypress/fixtures/langs.json
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.tsx
  src/schema/common.ts
  src/utils/db/generated/kysely/types.ts
  src/utils/parseUrlParams.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1808): access users defaults
  package-lock.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1728): tag filter fill
  src/components/TagDropdown/TagDropdown.tsx
  trpc/queries/goalV2.ts
  trpc/router/tag.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1747): estimate sorting
  cypress/fixtures/langs.json
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.tsx
  src/schema/common.ts
  src/utils/parseUrlParams.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
