Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: release 1.0.0
  .release_notes/1.0.0.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: test publish on issue open
  .github/workflows/publish.yml
Due: none

chore: test publish on issue opened
  .github/workflows/publish.yml
Due: none

chore: publish if release PR merged
  .github/workflows/publish.yml
Due: none

chore: create release every Monday at 7am
  .github/workflows/release.yml
Due: none

chore: manual release workflow
  .github/workflows/manual_release.yml
Due: none

chore: release 1.0.1
  .release_notes/1.0.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: do not show empty values in applied filters
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
Due: eslint --fix, prettier --write

chore: gh actions up to date
  .github/workflows/pr.yml
Due: none

chore: drop Storybook
  .eslintrc.js
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/stories/Button.stories.tsx
  src/stories/ComboBox.stories.tsx
  src/stories/CommentCreateForm.stories.tsx
  src/stories/CommentView.stories.tsx
  src/stories/EstimateDropdown.stories.tsx
  src/stories/FlowCompletion.stories.tsx
  src/stories/GoalCreateForm.stories.tsx
  src/stories/GoalItem.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/Keyboard.stories.tsx
  src/stories/ReactionsDropdown.stories.tsx
  src/stories/State.stories.tsx
  src/stories/StateDot.stories.tsx
  src/stories/Tag.stories.tsx
  src/stories/Tip.stories.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: add dx and devops reasons to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write --parser markdown

fix: vulnerabilities audit
  package-lock.json
Due: prettier --write --parser json, node

feat(Goal): goal project parents owners can edit goal
  graphql/queries/goals.ts
Due: eslint --fix, prettier --write

feat: FilterPanel @taskany/bricks integration
  package.json
  src/components/EstimateFilterDropdown.tsx
  src/components/Filters/EstimateFilter.tsx
  src/components/Filters/Filters.i18n/en.json
  src/components/Filters/Filters.i18n/index.ts
  src/components/Filters/Filters.i18n/ru.json
  src/components/Filters/Filters.tsx
  src/components/Filters/LimitFilter.tsx
  src/components/Filters/PriorityFilter.tsx
  src/components/Filters/ProjectFilter.tsx
  src/components/Filters/StateFilter.tsx
  src/components/Filters/TagsFilter.tsx
  src/components/Filters/UserFilter.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/en.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/index.ts
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/ru.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/LimitFilterDropdown.tsx
  src/components/PriorityFilterDropdown.tsx
  src/components/ProjectFilterDropdown.tsx
  src/components/StateFilterDropdown.tsx
  src/components/UserFilterDropdown.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(trpc): filter router
  graphql/resolvers/Filter.ts
  graphql/resolvers/User.ts
  graphql/schema.graphql
  package-lock.json
  package.json
  src/components/AdminPage/AdminPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/HomePage/HomePage.tsx
  src/components/PresetFilterDropdown.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/hooks/useFilterResource.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/_app.tsx
  src/pages/admin/index.tsx
  src/pages/api/trpc/[trpc].ts
  src/pages/explore/projects.tsx
  src/pages/explore/top.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/[id]/settings.tsx
  src/pages/users/settings.tsx
  src/schema/filter.ts
  src/types/void.ts
  src/utils/declareSsrProps.ts
  src/utils/trpcClient.ts
  trpc/context.ts
  trpc/inferredTypes.ts
  trpc/routers/_trpcRouter.ts
  trpc/routers/filterRouter.ts
  trpc/trpcBackend.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(trpc): cleanup filters
  graphql/resolvers/Filter.ts
  graphql/resolvers/User.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
Due: eslint --fix, prettier --write

fix(GoalsPage): check query params
  src/components/GoalsPage/GoalsPage.tsx
Due: eslint --fix, prettier --write

chore(deps): bump @trpc/* from 10.21.1 to 10.23.1
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(ProjectPage): restore gql ssr data
  src/components/ProjectPage/ProjectPage.tsx
  src/pages/projects/[id]/index.tsx
Due: eslint --fix, prettier --write

fix(trpc): add transformer to ssr helper
  src/utils/declareSsrProps.ts
Due: eslint --fix, prettier --write

fix(GoalsPage): hook call without condition
  src/components/GoalsPage/GoalsPage.tsx
Due: eslint --fix, prettier --write

fix(GoalsPage): restore gql ssr data
  src/components/GoalsPage/GoalsPage.tsx
  src/pages/goals/index.tsx
Due: eslint --fix, prettier --write

chore(Flow): migrate to tRPC
  graphql/resolvers/Flow.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  src/components/FlowComboBox.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/StateDropdown.tsx
  src/components/StateSwitch.tsx
  src/pages/api/trpc/[trpc].ts
  src/utils/declareSsrProps.ts
  src/utils/trpcClient.ts
  trpc/inferredTypes.ts
  trpc/router/filter.ts
  trpc/router/flow.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write

chore(User): migrate to tRPC
  graphql/resolvers/User.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/components/UserComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/schema/user.ts
  src/utils/auth.ts
  trpc/router/index.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
