Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat: create ParticipantDeleteError modal
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/en.json
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/index.ts
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/ru.json
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserEditableList/UserEditableList.tsx
  src/utils/dispatchModal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalCriteria): change relation type between goal and criteria data tables
  prisma/migrations/20231114134050_one_to_many_goal_is_criteria_relation/migration.sql
  prisma/schema.prisma
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/types/history.ts
  src/utils/db.ts
  src/utils/recalculateCriteriaScore.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(VersaCriteria): implements a new feature
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/CriteriaFormV2/CriteriaForm.tsx
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/en.json
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/ru.json
  src/components/GoalBadge.tsx
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.i18n/en.json
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.i18n/index.ts
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.i18n/ru.json
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.tsx
  src/components/GoalDependencyList.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/VersaCriteria/VersaCriteria.i18n/en.json
  src/components/VersaCriteria/VersaCriteria.i18n/index.ts
  src/components/VersaCriteria/VersaCriteria.i18n/ru.json
  src/components/VersaCriteria/VersaCriteria.tsx
  src/hooks/useGoalResource.ts
  src/schema/common.ts
  src/schema/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalCriteria): change relation type between goal and criteria data tables
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(GoalCriteria): a brand new form for manage criteria list
  src/components/Box.ts
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/CriteriaFormV2/CriteriaForm.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/VersaCriteria/VersaCriteria.tsx
  src/hooks/useGoalResource.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): remove unused code, update criteria scheme
  src/components/Box.ts
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/CriteriaFormV2/CriteriaForm.tsx
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/en.json
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/index.ts
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/ru.json
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.tsx
  src/components/VersaCriteria/VersaCriteria.tsx
  src/schema/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalCriteria): make criteria form inside popup
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

chore: release 2.9.0
  .release_notes/2.9.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(whatsnew): 2.9.0
  public/ANewLookAtCriteria.png
  public/VersaCriteria.png
  src/pages/whatsnew/2.9.0/en.mdx
  src/pages/whatsnew/2.9.0/ru.mdx
Due: none

feat: participants project settings
  src/components/AddInlineTrigger.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/ProjectPage/ProjectPage.i18n/en.json
  src/components/ProjectPage/ProjectPage.i18n/ru.json
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/en.json
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/index.ts
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/ru.json
  src/components/ProjectPageTabs/ProjectPageTabs.tsx
  src/components/ProjectParticipants/ProjectParticipants.i18n/en.json
  src/components/ProjectParticipants/ProjectParticipants.i18n/index.ts
  src/components/ProjectParticipants/ProjectParticipants.i18n/ru.json
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserEditableList/UserEditableList.i18n/en.json
  src/components/UserEditableList/UserEditableList.i18n/index.ts
  src/components/UserEditableList/UserEditableList.i18n/ru.json
  src/components/UserEditableList/UserEditableList.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/[id]/settings.tsx
  src/schema/goal.ts
  src/schema/project.ts
  src/utils/worker/mail/templates.ts
  trpc/access/accessCheckers.ts
  trpc/access/accessEntityGetters.ts
  trpc/access/accessMiddlewares.ts
  trpc/queries/access.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: move access list to separate type
  prisma/migrations/20231124100326_access_users/migration.sql
  prisma/schema.prisma
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.i18n/en.json
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.i18n/index.ts
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.i18n/ru.json
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/AddInlineTrigger.tsx
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/en.json
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/ru.json
  src/components/ProjectAccessUser/ProjectAccessUser.i18n/en.json
  src/components/ProjectAccessUser/ProjectAccessUser.i18n/index.ts
  src/components/ProjectAccessUser/ProjectAccessUser.i18n/ru.json
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectParticipants/ProjectParticipants.i18n/en.json
  src/components/ProjectParticipants/ProjectParticipants.i18n/ru.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/schema/project.ts
  src/utils/dispatchModal.ts
  trpc/access/accessEntityGetters.ts
  trpc/queries/access.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalCriteria): fetch suggestion goals by versa criteria
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/VersaCriteria/VersaCriteria.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.10.0
  .release_notes/2.10.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(whatsnew): 2.10.0
  public/PrivacyProjectSettings.png
  src/pages/whatsnew/2.10.0/en.mdx
  src/pages/whatsnew/2.10.0/ru.mdx
Due: none

fix(VersaCriteria): hide popup after submit
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.tsx
  src/components/NotificationsHub/NotificationHub.map.ts
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/hooks/useGoalResource.ts
  src/pages/whatsnew/2.10.1/en.mdx
  src/pages/whatsnew/2.10.1/ru.mdx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.10.1
  .release_notes/2.10.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(*Criteria): get criteria title and validation
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/VersaCriteria/VersaCriteria.tsx
  src/hooks/useGoalResource.ts
  src/pages/whatsnew/2.10.2/en.mdx
  src/pages/whatsnew/2.10.2/ru.mdx
  src/schema/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.10.2
  .release_notes/2.10.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node
