Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

test(projectsSettings): fix unstable tests
  cypress/e2e/projectSettings.cy.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): correct condition for `criteriaGoal`
  src/components/GoalActivityFeed.tsx
  src/pages/whatsnew/2.10.3/en.mdx
  src/pages/whatsnew/2.10.3/ru.mdx
Due: eslint --fix, prettier --write

chore: release 2.10.3
  .release_notes/2.10.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalCriteria): correct condition for `criteriGoal` again
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/pages/whatsnew/2.10.4/en.mdx
  src/pages/whatsnew/2.10.4/ru.mdx
Due: eslint --fix, prettier --write

chore: release 2.10.4
  .release_notes/2.10.4.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor(VersaCriteria): remove component
  src/components/VersaCriteria/VersaCriteria.i18n/en.json
  src/components/VersaCriteria/VersaCriteria.i18n/index.ts
  src/components/VersaCriteria/VersaCriteria.i18n/ru.json
  src/components/VersaCriteria/VersaCriteria.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(UserEditableList): remove copied component
  src/components/UserEditableList/UserEditableList.tsx
Due: eslint --fix, prettier --write

refactor(GoalCriteriaSuggest): remove component
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.i18n/en.json
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.i18n/index.ts
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.i18n/ru.json
  src/components/GoalCriteriaSuggest/GoalCriteriaSuggest.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: sync goal criteria form & deps form
  src/components/AddInlineTrigger.tsx
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalFormPopupTrigger.tsx
  src/components/GoalList.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSelect.tsx
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.i18n/ru.json
  src/components/GoalSidebar/GoalSidebar.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(ProjectPageTab): hide alone goals tab
  src/components/ProjectPageTabs/ProjectPageTabs.tsx
Due: eslint --fix, prettier --write

feat(CommentView): show avatar with state comment
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

fix: submit comment form
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

feat: return type & name from uploaded files
  src/pages/api/upload.ts
Due: eslint --fix, prettier --write

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(Goal): email notification
  src/utils/prepareRecipients.ts
  src/utils/worker/create.ts
  src/utils/worker/mail/templates.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 2.11.0
  .release_notes/2.11.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: downgrade local monaco-loader version
  public/monaco/base/worker/workerMain.js
  public/monaco/basic-languages/markdown/markdown.js
  public/monaco/editor/editor.main.css
  public/monaco/editor/editor.main.js
  public/monaco/editor/editor.main.nls.js
  public/monaco/loader.js
  public/vs/base/common/worker/simpleWorker.nls.js
Due: eslint --fix, prettier --write

test(e2e): removed non-existent simpleWorker file from waitEditor
  cypress/support/index.ts
Due: eslint --fix, prettier --write

chore: brick up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.11.1
  .release_notes/2.11.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
