Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

replace date-fns with native Intl
  package-lock.json
  package.json
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

add pluralize function
  i18n/en.json
  i18n/ru.json
  src/components/IssueStats.tsx
  src/utils/pluralize.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

pass locale to Goal and Comment
  src/components/CommentView.tsx
  src/components/GoalItem.tsx
  src/components/IssueStats.tsx
  src/components/ProjectItem.tsx
  src/components/RelativeTime.tsx
  src/pages/explore/projects.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/projects/[key]/index.tsx
Due: eslint --fix, prettier --write

add i18n for PriorityDropdown
  i18n/en.json
  i18n/ru.json
  src/components/PriorityDropdown.tsx
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix PriorityDropdown title
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

add type-check to pre-push hook
  .husky/pre-push
  package.json
Due: prettier --write --parser json, node

add reactions for comments
  graphql/resolvers/Goal.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/CommentView.tsx
  src/components/Reactions.tsx
  src/components/ReactionsDropdown.tsx
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

add dependabot weekly packages updates
  .github/dependabot.yml
Due: none

Sentry basic set up
  .env.example
  next.config.js
  package-lock.json
  package.json
  sentry.client.config.ts
  sentry.server.config.ts
  src/pages/_error.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Sentry custom event
  graphql/resolvers/Comment.ts
Due: eslint --fix, prettier --write

run binaries in hooks with npx
  .husky/pre-commit
Due: none

filter Goal author from participants in time of comment
  graphql/resolvers/Comment.ts
Due: eslint --fix, prettier --write

fix date formatter for undefined value
  src/components/EstimateDropdown.tsx
  src/components/GoalCreateForm.tsx
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
  src/pages/goals/[id].tsx
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

fix locale dateTime parsing
  src/components/EstimateDropdown.tsx
  src/components/RelativeTime.tsx
  src/pages/goals/[id].tsx
  src/stories/EstimateDropdown.stories.tsx
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

use unified locale type
  src/components/EstimateDropdown.tsx
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
  src/components/GoalItem.tsx
  src/components/IssueStats.tsx
  src/components/ProjectItem.tsx
  src/utils/pageContext.ts
  src/utils/pluralize.ts
Due: eslint --fix, prettier --write

fix ru parser for en locale
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

fix Sentry connection via env variables
  next.config.js
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write

connect Sentry manualy
  next.config.js
  sentry.client.config.ts
  sentry.server.config.ts
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

up Node in Docker to 18.12.0 LTS
  Dockerfile.dev
  app_run.dev.sh
Due: none

order Goal comments by createdAt asc
  graphql/resolvers/Goal.ts
Due: eslint --fix, prettier --write
