Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(deps): bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

refactor: removed unnecessary styles for dropdown menu items
  src/components/CommentView/CommentView.tsx
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
Due: eslint --fix, prettier --write

feat(GoalPreview): background invalidate
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalHeader.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalPreview/GoalPreviewProvider.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/useGoalResource.ts
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write

chore: whats new for 2.0.0
  public/GoalsAndProjectsPage.jpg
  public/GoalsPreviewSidebar.png
  public/LinkGoalToAnotherProject.png
  src/pages/whatsnew/2.0.0/en.mdx
  src/pages/whatsnew/2.0.0/ru.mdx
Due: none

chore: release 2.0.0
  .release_notes/2.0.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(FiltersPanel): fix filter highlight
  src/components/FilteredPage/FilteredPage.tsx
Due: eslint --fix, prettier --write

fix(PageHeader): move out goals page from beta
  src/components/PageHeader/PageHeader.tsx
Due: eslint --fix, prettier --write

fix(GoalsPage): disable Group filter
  src/components/GoalsPage/GoalsPage.tsx
Due: eslint --fix, prettier --write

chore: release 2.0.1
  .release_notes/2.0.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(whatsnew): move notes from major to patch
  src/pages/whatsnew/2.0.1/en.mdx
  src/pages/whatsnew/2.0.1/ru.mdx
Due: none

fix(GoalPreview): dropshadow for modal header
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix(FilterPanel): correct appling `groupBy` param
  src/components/GoalsPage/GoalsPage.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

fix(ProjectPage): return parent projects in breadcrumbs
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectTitleList.tsx
Due: eslint --fix, prettier --write

fix(GoalListItem): updatedAt time aligned to left
  src/components/GoalListItem.tsx
Due: eslint --fix, prettier --write

fix(ProjectPage): removed useless description
  src/components/ProjectPage/ProjectPage.i18n/en.json
  src/components/ProjectPage/ProjectPage.i18n/ru.json
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalDeleteModal): archive goal, not delete
  src/components/GoalDeleteModal/GoalDeleteModal.i18n/en.json
  src/components/GoalDeleteModal/GoalDeleteModal.i18n/ru.json
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalSidebar/GoalSidebar.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: remove unused template
  src/pages/whatsnew/1.0.0.mdx
Due: none

fix: sync dashborad and goals pages design
  src/components/CollapsableItem.tsx
  src/components/GoalListItem.tsx
  src/components/GoalsGroup.tsx
  src/components/PageSep.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

chore: release 2.1.0
  .release_notes/2.1.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Revert "fix(FilterPanel): correct appling `groupBy` param"
  src/components/GoalsPage/GoalsPage.tsx
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

chore: release 2.1.1
  .release_notes/2.1.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
