Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore(SortFilter): remove component
  src/components/SortFilter/SortFilter.i18n/en.json
  src/components/SortFilter/SortFilter.i18n/index.ts
  src/components/SortFilter/SortFilter.i18n/ru.json
  src/components/SortFilter/SortFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(TagFilter): remove component
  src/components/TagFilter.tsx
Due: eslint --fix, prettier --write

chore(PriorityFilter): remove component
  src/components/PriorityFilter.tsx
Due: eslint --fix, prettier --write

chore(ProjectFilter): remove component
  src/components/ProjectFilter.tsx
Due: eslint --fix, prettier --write

feat: interactive applied filters
  src/components/AppliedEstimateFilter/AppliedEstimateFilter.tsx
  src/components/AppliedFiltersBar/AppliedFiltersBar.tsx
  src/components/AppliedGoalParentFilter/AppliedGoalParentFilter.tsx
  src/components/AppliedPriorityFilter/AppliedPriorityFilter.tsx
  src/components/AppliedStateFilter/AppliedStateFilter.tsx
  src/components/AppliedTagFilter/AppliedTagFilter.tsx
  src/components/AppliedUsersFilter/AppliedUsersFilter.tsx
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.module.css
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.tsx
  src/components/TagComboBox/TagComboBox.tsx
  src/components/TeamComboBox/TeamComboBox.tsx
  src/hooks/useUrlFilterParams.ts
  src/utils/dateTime.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(EstimateFilter): remove component
  src/components/EstimateFilter.tsx
Due: eslint --fix, prettier --write

chore(FilterPopup): remove component
  src/components/FilterPopup/FilterPopup.i18n/en.json
  src/components/FilterPopup/FilterPopup.i18n/index.ts
  src/components/FilterPopup/FilterPopup.i18n/ru.json
  src/components/FilterPopup/FilterPopup.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(UserFilter): remove component
  src/components/UserFilter/UserFilter.i18n/en.json
  src/components/UserFilter/UserFilter.i18n/index.ts
  src/components/UserFilter/UserFilter.i18n/ru.json
  src/components/UserFilter/UserFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(StateFilter): remove component
  src/components/StateFilter.tsx
Due: eslint --fix, prettier --write

refactor: replace custom badge via harmony Badge
  src/components/Badge.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/ProjectBadge.tsx
  src/components/StarButton/StarButton.tsx
  src/components/TeamMemberListItem/TeamMemberListItem.tsx
  src/components/UserBadge.tsx
  src/components/UserBadge/UserBadge.module.css
  src/components/UserBadge/UserBadge.tsx
  src/components/UserEditableList/UserEditableList.tsx
Due: eslint --fix, prettier --write

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: state dots and user gorups
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.32.0
  .release_notes/2.32.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: hide archived project
  trpc/queries/project.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

chore: release 2.32.1
  .release_notes/2.32.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(EstimateDropdown): add aliases
  package-lock.json
  package.json
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/types/date.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(StarButton): change Badge to Counter
  src/components/StarButton/StarButton.tsx
Due: eslint --fix, prettier --write

feat: harmony Card support
  package-lock.json
  package.json
  prisma/seed.ts
  src/components/CardHeader/CardHeader.module.css
  src/components/CardHeader/CardHeader.tsx
  src/components/CommentView/CommentView.module.css
  src/components/CommentView/CommentView.tsx
  src/components/CommentViewHeader/CommentViewHeader.module.css
  src/components/CommentViewHeader/CommentViewHeader.tsx
  src/components/GoalActivity.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalContentHeader/GoalContentHeader.module.css
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/ReactionsDropdown/ReactionsDropdown.module.css
  src/components/ReactionsDropdown/ReactionsDropdown.tsx
  src/components/State.tsx
  src/components/State/State.module.css
  src/components/State/State.tsx
  src/components/StateDropdown/StateDropdown.tsx
  src/hooks/useGoalResource.ts
  trpc/inferredTypes.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: replace HistoryRecord to harmony view
  package-lock.json
  package.json
  src/components/GoalActivity.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.module.css
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: remove redundant props
  src/components/GoalTableList/GoalTableList.tsx
  src/components/UserBadge/UserBadge.tsx
Due: eslint --fix, prettier --write

feat: add breadcrumbs to Project page
  package-lock.json
  src/components/ProjectPage/ProjectPage.module.css
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: comment margin
  src/components/CommentView/CommentView.module.css
  src/components/CommentView/CommentView.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.module.css
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
Due: eslint --fix, prettier --write

chore: remove legacy state dot
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalList.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/StateDot/StateDot.module.css
  src/components/StateDot/StateDot.tsx
  src/components/StateWrapper/StateWrapper.module.css
  src/components/StateWrapper/StateWrapper.tsx
Due: eslint --fix, prettier --write

chore: release 2.33.0
  .release_notes/2.33.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node
