Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1702): hide private projects from admins
  src/utils/db/index.ts
  trpc/queries/access.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1702): hide personal goals
  src/components/PageNavigation/PageNavigation.tsx
  src/schema/project.ts
  src/utils/declareSsrProps.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.73.0
  .release_notes/2.73.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(INTERNAL-1159): crew team projects page
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/TeamGroupedGoalsList/TeamGroupedGoalsList.tsx
  src/pages/team/[externalTeamId].tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.74.0
  .release_notes/2.74.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1701): groupped projects filterring
  src/components/GoalsPage/GoalsPage.tsx
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1834): rebuild link with tasks
  package-lock.json
  package.json
  src/pages/api/goal/[scopedId]/state.ts
  src/utils/integration/jira.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
