Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(GoalPage): sidebar redesign
  src/components/GoalPage/GoalPage.i18n/en.json
  src/components/GoalPage/GoalPage.i18n/ru.json
  src/components/GoalPage/GoalPage.tsx
  src/components/IssueMeta.tsx
  src/components/Page.tsx
  src/components/UserComboBox.tsx
  src/schema/goal.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ProjectListItemCollapsable): ghost button for goals trigger
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

fix(HistoryRecord): do not show pretext for participants
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

chore: introduce InlineTrigger component
  src/components/InlineTrigger.tsx
Due: eslint --fix, prettier --write

fix(RelativeTime): use named export
  src/components/CommentView/CommentView.tsx
  src/components/GoalListItem.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

refactor: remove participants form and modal
  src/components/IssueParticipants/IssueParticipants.i18n/en.json
  src/components/IssueParticipants/IssueParticipants.i18n/index.ts
  src/components/IssueParticipants/IssueParticipants.i18n/ru.json
  src/components/IssueParticipants/IssueParticipants.tsx
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/en.json
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/index.ts
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/ru.json
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/components/IssueParticipantsList.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: introduce UserBadge
  src/components/UserBadge.tsx
Due: eslint --fix, prettier --write

feat(State): type is not nullable
  prisma/migrations/20230627140447_/migration.sql
  prisma/schema.prisma
Due: none

fix(GoalsPage): sync client and server fetch
  src/components/GoalsPage/GoalsPage.tsx
  src/pages/goals/index.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItemConnected): add query state to goals counter
  package-lock.json
  package.json
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/useProjectResource.ts
  src/pages/explore/projects.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/[id]/settings.tsx
  src/pages/projects/index.tsx
  trpc/queries/project.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: allow to change state of goal if goal is editable only
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(ProjectCreateForm): cleanup state based code
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write

refactor(CommentForm): use hidden inputs, no spread for form data
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentEditForm/CommentEditForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/hooks/useCommentResource.ts
  src/schema/comment.ts
  src/schema/goal.ts
  trpc/router/comment.ts
  trpc/router/goal.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write

fix(ProjectListItemCollapsable): fix border error
  src/components/CollapsableItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

chore(getDeepInfo): remove unnecessary condition
  src/components/ProjectListItemConnected.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

refactor(FilterCreateForm): add cancel button and some improvements
  src/components/CommentEditForm/CommentEditForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/FilterCreateForm/FilterCreateForm.i18n/en.json
  src/components/FilterCreateForm/FilterCreateForm.i18n/ru.json
  src/components/FilterCreateForm/FilterCreateForm.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(ProjectListItemCollapsable): fix offset blinking
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

feat(PageTitlePreset): added component for page title with applied preset
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PageTitlePreset/PageTitlePreset.i18n/en.json
  src/components/PageTitlePreset/PageTitlePreset.i18n/index.ts
  src/components/PageTitlePreset/PageTitlePreset.i18n/ru.json
  src/components/PageTitlePreset/PageTitlePreset.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalAchievmentCriteria): markup changes and beatufy
  package-lock.json
  package.json
  src/components/ActivityFeed.tsx
  src/components/Circle.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.tsx
  src/schema/criteria.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(UserGroup): default user count is circle
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write

feat(ProjectSettingsPage): added outline in button
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

feat(UserSettingsPage): added outline in button
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write

fix(GoalCriteriaItem): move remove button into title cell
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write
