Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(apollo): remove useless plugins
  package-lock.json
  package.json
  src/pages/api/graphql.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(GoalGroup, GoalList): goals groups render components
  src/components/GoalGroup.tsx
  src/components/GoalList.tsx
Due: eslint --fix, prettier --write

fix(LimitFilterDropdown): remove dublicated item
  src/components/LimitFilterDropdown.tsx
Due: eslint --fix, prettier --write

chore(createFetcher): embed data refresh interval
  src/utils/createFetcher.ts
Due: eslint --fix, prettier --write

chore(TeamTitleList): teams list renderer
  src/components/TeamTitleList.tsx
Due: eslint --fix, prettier --write

chore(prisma): one shared prismaClient
  graphql/context.ts
  src/pages/api/graphql.ts
  src/utils/prisma.ts
Due: eslint --fix, prettier --write

chore(GoalPreview): remove useless visible prop
  src/components/GoalPreview.tsx
Due: eslint --fix, prettier --write

chore(ProjectPageLayout): show tabs menu for project owner only
  src/components/ProjectPageLayout.tsx
Due: eslint --fix, prettier --write

feat(GoalList): click on tag adds it to filter
  src/components/GoalGroup.tsx
  src/components/GoalListItem.tsx
  src/components/Tag.tsx
  src/components/TagsFilterDropdown.tsx
  src/hooks/useUrlFilterParams.ts
  src/pages/goals/index.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/teams/[slug]/goals.tsx
Due: eslint --fix, prettier --write

chore(Team): use key instead of slug
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  prisma/migrations/20230304140352_/migration.sql
  prisma/migrations/20230304144029_/migration.sql
  prisma/schema.prisma
  src/components/GoalGroup.tsx
  src/components/IssueParent.tsx
  src/components/ProjectListItem.tsx
  src/components/TeamCreateForm.tsx
  src/components/TeamListItem.tsx
  src/components/TeamPageLayout.tsx
  src/components/TeamTitleList.tsx
  src/hooks/router.ts
  src/pages/explore/projects.tsx
  src/pages/explore/teams.tsx
  src/pages/goals/index.tsx
  src/pages/projects/[key]/settings.tsx
  src/pages/teams/[key]/goals.tsx
  src/pages/teams/[key]/index.tsx
  src/pages/teams/[key]/settings.tsx
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write

chore(Team): title is not unique
  prisma/migrations/20230304151656_/migration.sql
  prisma/schema.prisma
Due: none

fix: key validation in team and project creating forms
  i18n/en.json
  i18n/ru.json
  src/components/ProjectCreateForm.tsx
  src/components/TeamCreateForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(KeyInput): support dirty, errors and keyPredictor
  src/components/KeyInput.tsx
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

chore(keyPredictor): allow numbers
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

fix(Project): remove slug fields from fetcher
  src/pages/projects/[key]/index.tsx
Due: eslint --fix, prettier --write

fix(i18n): tag successfully created message
  i18n/ru.json
Due: prettier --write --parser json, node

fix(keyPredictor): remove unicode symbols
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

chore: ssr data fallback
  src/pages/explore/projects.tsx
  src/pages/explore/teams.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/projects/[key]/settings.tsx
  src/pages/teams/[key]/goals.tsx
  src/pages/teams/[key]/index.tsx
  src/pages/teams/[key]/settings.tsx
  src/pages/users/[id].tsx
  src/pages/users/settings.tsx
  src/utils/declareSsrProps.ts
Due: eslint --fix, prettier --write

fix(UserMenuItem): provide email for gravatar
  src/components/UserMenuItem.tsx
Due: eslint --fix, prettier --write

fix(Gravatar): pass classname and default src props
  src/components/Gravatar.tsx
  src/components/UserPic.tsx
Due: eslint --fix, prettier --write

fix(prisma): skip ghost logic for users without invite
  src/utils/prisma.ts
Due: eslint --fix, prettier --write

fix(auth): keykloak extra field
  src/utils/prisma.ts
Due: eslint --fix, prettier --write

Revert "chore(Tag): title must be unique"
  prisma/migrations/20230228142135_/migration.sql
  prisma/schema.prisma
Due: none

fix(auth): return rest params
  src/utils/prisma.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
