Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore: bump packages version
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(UserBadge): use `IconX` instead of `CleanButton`
  src/components/UserBadge.tsx
Due: eslint --fix, prettier --write

fix(Tag): remove unreachable `descrition` prop
  src/components/GoalListItem.tsx
  src/components/IssueTags.tsx
  src/components/TagComboBox.tsx
Due: eslint --fix, prettier --write

fix(GoalForm): invalidate Project Page after goal list update
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
Due: eslint --fix, prettier --write

feat(Estimates): estimate as a date
  prisma/migrations/20230914121320_estimates/migration.sql
  prisma/schema.prisma
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate.tsx
  src/components/EstimateFilter.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalForm/GoalFormEstimate.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSuggest.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/ProjectListItemConnected.tsx
  src/schema/common.ts
  src/schema/goal.ts
  src/types/estimate.ts
  src/types/history.ts
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
  src/utils/db.ts
  src/utils/estimateToString.ts
  src/utils/filters.ts
  trpc/inferredTypes.ts
  trpc/queries/goals.ts
  trpc/router/estimates.ts
  trpc/router/goal.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat(Estimates): redirects from legacy url
  src/hooks/useUrlFilterParams.ts
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/index.tsx
  src/utils/filters.ts
Due: eslint --fix, prettier --write

feat: doesn't send email for action author
  src/utils/worker/create.ts
  src/utils/worker/mail/templates.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 1.30.0
  .release_notes/1.30.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(IssueStats): header improvements
  src/components/IssueStats/IssueStats.tsx
Due: eslint --fix, prettier --write

feat(UserSettingsPage): validate unique nickname
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.tsx
  trpc/router/user.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: merge ProjectsPage & ProjectPage
  src/components/CommonHeader.tsx
  src/components/ProjectPage/ProjectPage.i18n/en.json
  src/components/ProjectPage/ProjectPage.i18n/ru.json
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectPageLayout/ProjectPageLayout.i18n/index.ts
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectTabsMenu/ProjectTabsMenu.i18n/en.json
  src/components/ProjectTabsMenu/ProjectTabsMenu.i18n/index.ts
  src/components/ProjectTabsMenu/ProjectTabsMenu.i18n/ru.json
  src/components/ProjectTabsMenu/ProjectTabsMenu.tsx
  src/components/ProjectsPage/ProjectsPage.i18n/en.json
  src/components/ProjectsPage/ProjectsPage.i18n/ru.json
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/useProjectResource.ts
  src/pages/projects/[id]/index.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: goals hook
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/hooks/useCommentResource.ts
  src/hooks/useCriteriaResource.ts
  src/hooks/useGoalCommentsActions.ts
  src/hooks/useGoalDependencyResource.ts
  src/hooks/useGoalResource.ts
  src/hooks/useGoalUpdate.ts
  src/hooks/useLSDraft.ts
Due: eslint --fix, prettier --write

refactor: added separated requests to update goal
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/hooks/useGoalResource.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(GoalPage): user can remove tags from GoalPage
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

feat(Estimates): estimate as a date
  prisma/migrations/20230914121320_estimates/migration.sql
  prisma/schema.prisma
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate.tsx
  src/components/EstimateFilter.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalForm/GoalFormEstimate.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSuggest.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/ProjectListItemConnected.tsx
  src/schema/goal.ts
  src/types/date.ts
  src/types/estimate.ts
  src/types/history.ts
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
  src/utils/db.ts
  src/utils/estimateToString.ts
  src/utils/filters.ts
  trpc/inferredTypes.ts
  trpc/queries/goals.ts
  trpc/router/estimates.ts
  trpc/router/goal.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat(Estimates): timezone issue
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalForm/GoalFormEstimate.tsx
  src/schema/goal.ts
  src/utils/dateTime.ts
  src/utils/db.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 1.31.0
  .release_notes/1.31.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: component Keyboard imported from bricks
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/HotkeysModal/HotkeysModal.tsx
  src/components/Keyboard.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write

feat: component GlobalSearch imported from bricks
  package-lock.json
  package.json
  src/components/GlobalSearch/GlobalSearch.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(EstimateFilter): @previous, @current, @next aliases
  src/components/EstimateFilter.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

fix: tab settings must be visible only for project owners
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectTabsMenu/ProjectTabsMenu.i18n/en.json
  src/components/ProjectTabsMenu/ProjectTabsMenu.i18n/index.ts
  src/components/ProjectTabsMenu/ProjectTabsMenu.i18n/ru.json
  src/components/ProjectTabsMenu/ProjectTabsMenu.tsx
  src/components/ProjectsPage/ProjectsPage.i18n/en.json
  src/components/ProjectsPage/ProjectsPage.i18n/ru.json
  src/components/ProjectsPage/ProjectsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: corrected a spelling mistake in word Schema
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/hooks/useGoalResource.ts
  src/schema/common.ts
  src/schema/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write
