Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore: release 2.30.0
  .release_notes/2.30.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: dont override bricks via sc. part 4
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.module.css
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/State.tsx
  src/components/State/State.module.css
  src/components/State/State.tsx
  src/components/StateDot/StateDot.module.css
  src/components/StateDot/StateDot.tsx
  src/components/StateFilter.tsx
  src/components/StateSwitch.tsx
  src/components/StateWrapper/StateWrapper.module.css
  src/components/StateWrapper/StateWrapper.tsx
  src/components/TagsList/TagsList.tsx
  src/components/UserInviteForm/UserInviteForm.module.css
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/WrappedRowLink.tsx
Due: eslint --fix, prettier --write

chore(SortFilter): remove component
  src/components/SortFilter/SortFilter.i18n/en.json
  src/components/SortFilter/SortFilter.i18n/index.ts
  src/components/SortFilter/SortFilter.i18n/ru.json
  src/components/SortFilter/SortFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(TagFilter): remove component
  src/components/TagFilter.tsx
Due: eslint --fix, prettier --write

chore(UserFilter): remove component
  src/components/UserFilter/UserFilter.i18n/en.json
  src/components/UserFilter/UserFilter.i18n/index.ts
  src/components/UserFilter/UserFilter.i18n/ru.json
  src/components/UserFilter/UserFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(PriorityFilter): remove component
  src/components/PriorityFilter.tsx
Due: eslint --fix, prettier --write

chore(ProjectFilter): remove component
  src/components/ProjectFilter.tsx
Due: eslint --fix, prettier --write

chore(FilterPopup): remove component
  src/components/FilterPopup/FilterPopup.i18n/en.json
  src/components/FilterPopup/FilterPopup.i18n/index.ts
  src/components/FilterPopup/FilterPopup.i18n/ru.json
  src/components/FilterPopup/FilterPopup.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(StateFilter): remove component
  src/components/StateFilter.tsx
Due: eslint --fix, prettier --write

chore(EstimateFilter): remove component
  src/components/EstimateFilter.tsx
Due: eslint --fix, prettier --write

feat: interactive applied filters
  src/components/AppliedEstimateFilter/AppliedEstimateFilter.tsx
  src/components/AppliedFiltersBar/AppliedFiltersBar.tsx
  src/components/AppliedGoalParentFilter/AppliedGoalParentFilter.tsx
  src/components/AppliedPriorityFilter/AppliedPriorityFilter.tsx
  src/components/AppliedStateFilter/AppliedStateFilter.tsx
  src/components/AppliedTagFilter/AppliedTagFilter.tsx
  src/components/AppliedUsersFilter/AppliedUsersFilter.tsx
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.module.css
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.tsx
  src/components/TagComboBox/TagComboBox.tsx
  src/components/TeamComboBox/TeamComboBox.tsx
  src/hooks/useUrlFilterParams.ts
  src/utils/dateTime.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalTableList): remove link underline decoration
  src/components/GoalTableList/GoalTableList.tsx
Due: eslint --fix, prettier --write

chore: release 2.30.1
  .release_notes/2.30.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: retrun star and watch buttons to project
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ProjectListItem/ProjectListItem.module.css
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSubscriptionButtons.tsx
  src/components/StarButton/StarButton.tsx
  src/components/TableRowItem/TableRowItem.module.css
  src/components/WatchButton/WatchButton.tsx
Due: eslint --fix, prettier --write

fix: add disable for load more
  src/components/DashboardPage/DashboardPage.tsx
Due: eslint --fix, prettier --write

fix: select exact fields
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix: select exact fields
  cypress/e2e/projects.cy.ts
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/utils/domObjects.ts
  trpc/inferredTypes.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 2.30.2
  .release_notes/2.30.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: dont override bricks via sc. part 5
  src/components/Estimate/Estimate.module.css
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate/EstimateDate.tsx
  src/components/EstimateOption/EstimateOption.module.css
  src/components/EstimateOption/EstimateOption.tsx
  src/components/EstimatePopup/EstimatePopup.module.css
  src/components/EstimatePopup/EstimatePopup.tsx
  src/components/EstimateQuarter/EstimateQuarter.module.css
  src/components/EstimateQuarter/EstimateQuarter.tsx
  src/components/EstimateYear/EstimateYear.module.css
  src/components/EstimateYear/EstimateYear.tsx
  src/components/FilterPopup/FilterPopup.module.css
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FiltersPanel/FiltersPanel.module.css
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCreateForm/GoalCreateForm.module.css
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.module.css
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalForm/GoalFormEstimate.tsx
  src/components/GoalFormPopupTrigger/GoalFormPopupTrigger.module.css
  src/components/GoalFormPopupTrigger/GoalFormPopupTrigger.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
Due: eslint --fix, prettier --write

fix(GoalForm): early selected projects cache
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/Page/Page.tsx
  src/hooks/useWillUnmount.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): update goal criteria
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalSelect.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.31.0
  .release_notes/2.31.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalCreateForm): cannot create goal into archived project
  src/components/GoalCreateForm/GoalCreateForm.i18n/en.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/NotificationsHub/NotificationsHub.tsx
  src/hooks/useGoalResource.ts
  src/utils/dispatchNotification.ts
  src/utils/notifyPromise.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: replace custom badge via harmony Badge
  src/components/Badge.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/ProjectBadge.tsx
  src/components/StarButton/StarButton.tsx
  src/components/TeamMemberListItem/TeamMemberListItem.tsx
  src/components/UserBadge.tsx
  src/components/UserBadge/UserBadge.module.css
  src/components/UserBadge/UserBadge.tsx
  src/components/UserEditableList/UserEditableList.tsx
Due: eslint --fix, prettier --write

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node
