Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(ExploreProjectsPage): rename files
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/en.json
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/index.ts
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/ru.json
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/pages/explore/projects.tsx
  src/pages/explore/top.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.27.1
  .release_notes/1.27.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: added pagination projects to dashboard & projects pages
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/pages/index.tsx
  src/pages/projects/index.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: remove babel, use swc
  .babelrc
  jest.config.js
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(GlobalStyle): remove unused css var
  src/components/GlobalStyle.ts
Due: eslint --fix, prettier --write

chore: release 1.28.0
  .release_notes/1.28.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: fix ssr on dashboard& projects pages
  src/pages/index.tsx
  src/pages/projects/index.tsx
Due: eslint --fix, prettier --write

feat(GoalPage): inline edit for goal owner
  src/components/GoalPage/GoalPage.i18n/en.json
  src/components/GoalPage/GoalPage.i18n/ru.json
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

perf(HelpPage): drop gray-matter from client bundle
  src/components/HelpPage/HelpPage.tsx
  src/pages/help/[slug].tsx
Due: eslint --fix, prettier --write

fix: user without permission cant route to project settings
  src/pages/projects/[id]/settings.tsx
  src/utils/declareSsrProps.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): added render prop to create criteria trigger
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

bricks components — commit will be removed
  src/components/ContentToggle.tsx
  src/components/TreeView.tsx
Due: eslint --fix, prettier --write

refactor(Page): obvious naming
  src/components/Page.tsx
Due: eslint --fix, prettier --write

chore: use material css grid — must be discussed
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: new list components
  src/components/CollapsableItem.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalsGroup.tsx
  src/components/ListItem.tsx
  src/components/NextLink.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/ProjectTreeNode.tsx
Due: eslint --fix, prettier --write

refactor(GlobalSearch): use simplified list components
  src/components/GlobalSearch/GlobalSearch.tsx
Due: eslint --fix, prettier --write

refactor(Dashboard): use simplified components
  src/components/DashboardPage/DashboardPage.tsx
Due: eslint --fix, prettier --write

refactor(GlobalSearch): calc project children
  trpc/router/search.ts
Due: eslint --fix, prettier --write

fix(UserBadge): show email if user noname
  src/components/UserBadge.tsx
Due: eslint --fix, prettier --write

chore(GoalPage): clean types for assignee and tags methods
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

perf: drop redundant data refetch on the client
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/WhatsNew/WhatsNew.tsx
  src/utils/trpcClient.ts
Due: eslint --fix, prettier --write

chore: release 1.29.0
  .release_notes/1.29.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: release 1.29.1
  .release_notes/1.29.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: bump packages version
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(UserBadge): use `IconX` instead of `CleanButton`
  src/components/UserBadge.tsx
Due: eslint --fix, prettier --write

fix(Tag): remove unreachable `descrition` prop
  src/components/GoalListItem.tsx
  src/components/IssueTags.tsx
  src/components/TagComboBox.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
