Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix(GoalCriteria): exclude current criterion from validity data
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix: hide "no goals yet" if the project has child projects
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

refactor: move condition on prev line
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

fix(ProjectSettingsPage): forbidden to set a project as a parent if it is in a children
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/pages/projects/[id]/settings.tsx
  src/schema/project.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

refactor: add recursive query to check nested project children
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/pages/projects/[id]/settings.tsx
  trpc/queries/projectV2.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.52.0
  .release_notes/2.52.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GrouppedGoals): rewrite prisma with kysely for get project list
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GrouppedGoalListV2.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat(GrouppedGoals): rewrite project children getter from prisma to kysely
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat(GroupedGoalView,ProjectListItem): rewrite goals project getter with kysely
  cypress/fixtures/langs.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/GrouppedGoalListV2.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/en.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/index.ts
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/ru.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/schema/common.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalCriteria): recalc with partial goal score
  src/utils/recalculateCriteriaScore.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(Criteria): show linked goal progress instead of state
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/IssueStats/IssueStats.tsx
  trpc/queries/criteria.ts
Due: eslint --fix, prettier --write

fix: change subscribe buttons view
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

feat(GoalCriteria): support accounting partial criteria score w/o weight
  src/utils/recalculateCriteriaScore.ts
Due: eslint --fix, prettier --write

chore: release 2.53.0
  .release_notes/2.53.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(Goals): faster query for project's goal
  trpc/queries/goalV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.53.1
  .release_notes/2.53.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(telemetry): use env for correct host
  src/middleware.ts
Due: eslint --fix, prettier --write

chore: release 2.54.0
  .release_notes/2.54.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: add recursive check on goal parent and children criteria
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/schema/common.ts
  trpc/queries/goalV2.ts
  trpc/router/goal.ts
  trpc/router/goalV2.ts
  trpc/router/index.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(goal requests): remove useless condition, replace bad request to precondition failed code
  trpc/queries/goalV2.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write
