Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(ProjectListItem): average project score
  prisma/migrations/20230718153020_/migration.sql
  prisma/schema.prisma
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/utils/db.ts
Due: eslint --fix, prettier --write

fix(GoalDependencies): drop `cuid` validatation check
  src/schema/goal.ts
Due: eslint --fix, prettier --write

chore: release 1.17.0
  .release_notes/1.17.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(hooks): unconditional hook call in StateDropdown and StateSwitch
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/StateDropdown.tsx
  src/components/StateSwitch.tsx
Due: eslint --fix, prettier --write

fix(search): don't search for archived goals
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat: replaced projects request to sql
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(db): fix search estimate with optional parameters q and date
  src/utils/db.ts
Due: eslint --fix, prettier --write

feat(GoalHistory): recording changes about criterias
  prisma/migrations/20230713092449_/migration.sql
  prisma/schema.prisma
  src/components/GoalActivity.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalSuggest.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
  src/schema/criteria.ts
  src/types/history.ts
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: completely replaced to sql and add filters
  trpc/queries/sqlProject.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(commentForm): goalId out of sync
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write

fix: remove test db name
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(HistoryRecord): spelling issue
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
Due: prettier --write --parser json, node

fix(FeedbackCreateForm): change feedback api to trpc
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/pages/api/feedback.ts
  src/schema/criteria.ts
  src/schema/feedback.ts
  src/schema/filter.ts
  src/utils/declareSsrProps.ts
  trpc/context.ts
  trpc/router/feedback.ts
  trpc/router/index.ts
  trpc/trpcBackend.ts
Due: eslint --fix, prettier --write

feat(schema): added translations i18
  src/components/GoalForm/GoalForm.i18n/en.json
  src/components/GoalForm/GoalForm.i18n/ru.json
  src/components/GoalForm/GoalForm.tsx
  src/schema/goal.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.17.1
  .release_notes/1.17.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalHistory): fix user avatars
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

fix(GoalDependencies,GoalCriteria): apply common styles for features
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalDependencyList/GoalDependencyList.i18n/en.json
  src/components/GoalDependencyList/GoalDependencyList.i18n/ru.json
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSuggest.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node
