Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: theme blinking
  src/components/Page/Page.tsx
Due: eslint --fix, prettier --write

chore: release 2.19.2
  .release_notes/2.19.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: use new state color format
  src/components/ColorizedFilterDropdown.tsx
  src/components/ColorizedMenuItem.tsx
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.module.css
  src/components/CommentView/CommentView.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalBadge.tsx
  src/components/GoalHeader.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
  src/components/State.tsx
  src/components/StateDot.tsx
  src/components/StateDropdown.tsx
  src/components/StateFilter.tsx
  src/components/StateSwitch.tsx
  src/components/StateWrapper.tsx
  src/hooks/useGoalResource.ts
Due: eslint --fix, prettier --write

chore(State): add theme based colors to db model
  prisma/migrations/20240207173340_/migration.sql
  prisma/schema.prisma
Due: none

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: map new state colors
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalHeader.tsx
  src/components/StateFilter.tsx
Due: eslint --fix, prettier --write

chore: `no-restricted-imports` rule
  .eslintrc.js
Due: eslint --fix, prettier --write

feat: create global font-size
  src/pages/_app.css
Due: none

chore(_app): syntax error in css
  src/pages/_app.css
Due: none

chore: release 2.20.0
  .release_notes/2.20.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: update FormEditors to harmony view
  src/components/CommentForm/CommentForm.module.css
  src/components/CommentForm/CommentForm.tsx
  src/components/FormActions/FormActions.module.css
  src/components/FormActions/FormActions.tsx
  src/components/FormControlEditor/FormControlEditor.i18n/en.json
  src/components/FormControlEditor/FormControlEditor.i18n/index.ts
  src/components/FormControlEditor/FormControlEditor.i18n/ru.json
  src/components/FormControlEditor/FormControlEditor.tsx
  src/components/FormEditor/FormEditor.i18n/en.json
  src/components/FormEditor/FormEditor.i18n/ru.json
  src/components/GoalForm/GoalForm.module.css
  src/components/GoalForm/GoalForm.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.module.css
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bricks up to date canary
  package-lock.json
  package.json
Due: prettier --write --parser json, node

test(e2e): fixed to new form
  cypress/e2e/goals.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/fixtures/langs.json
  cypress/index.d.ts
  cypress/support/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Harmony): use offline bar from bricks
  cypress/fixtures/langs.json
  package-lock.json
  package.json
  src/components/OfflineBanner/OfflineBanner.i18n/en.json
  src/components/OfflineBanner/OfflineBanner.i18n/index.ts
  src/components/OfflineBanner/OfflineBanner.i18n/ru.json
  src/components/OfflineBanner/OfflineBanner.tsx
  src/components/Page/Page.tsx
  src/pages/api/health.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.21.0
  .release_notes/2.21.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(Harmony): add shadow to GoalListItem when theme is light
  src/components/GoalListItem/GoalListItem.module.css
  src/components/ScrollableView.tsx
Due: eslint --fix, prettier --write

chore: colors up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: bring inputs to one view
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GlobalSearch/GlobalSearch.i18n/en.json
  src/components/GlobalSearch/GlobalSearch.i18n/ru.json
  src/components/GlobalSearch/GlobalSearch.module.css
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/PageHeader/PageHeader.module.css
  src/components/ProjectListItemCompact.tsx
  src/components/SearchFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(emails): infra for react based emails
  emails/notion-magic-link.tsx
  package-lock.json
  package.json
  src/utils/worker/mail/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
