Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

unnecessary callback
  src/components/GoalPreview.tsx
Due: eslint --fix, prettier --write

Team basic views
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  prisma/migrations/20221221200109_/migration.sql
  prisma/migrations/20221221200207_/migration.sql
  prisma/schema.prisma
  src/components/Page.tsx
  src/components/TeamCreateForm.tsx
  src/components/TeamPageLayout.tsx
  src/hooks/router.ts
  src/pages/explore/projects.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/projects/[key]/settings.tsx
  src/pages/teams/[slug]/goals.tsx
  src/pages/teams/[slug]/index.tsx
  src/pages/teams/[slug]/settings.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

remove is helper and attach types to css components
  src/components/Button.tsx
  src/components/EstimateComboBox.tsx
  src/components/Form.tsx
  src/components/FormActions.tsx
  src/components/FormInput.tsx
  src/components/FormTextarea.tsx
  src/components/Input.tsx
  src/components/InputContaier.tsx
  src/components/IssueListItem.tsx
  src/components/Link.tsx
  src/components/Popup.tsx
  src/components/ProjectListItem.tsx
  src/components/Tag.tsx
  src/components/Text.tsx
  src/utils/styles.ts
Due: eslint --fix, prettier --write

fix Comment key in i18n
  i18n/ru.json
Due: prettier --write --parser json, node

support title prop in Link
  src/components/Link.tsx
Due: eslint --fix, prettier --write

fix i18n keys in TeamCreateForm
  src/components/TeamCreateForm.tsx
Due: eslint --fix, prettier --write

feat(Project): show teams on project page
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/ProjectPageLayout.tsx
  src/pages/goals/index.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/projects/[key]/settings.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(Project): useProjectResource
  i18n/en.json
  i18n/ru.json
  src/components/ProjectCreateForm.tsx
  src/components/ProjectPageLayout.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/projects/[key]/settings.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(Goal): use WatchButton and StarButton
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/StarButton.tsx
  src/hooks/useGoalResource.ts
  src/hooks/useProjectResource.ts
  src/pages/goals/[id].tsx
  src/pages/projects/[key]/index.tsx
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write

feat: universal WatchButton and StarButton
  src/components/ProjectStarButton.tsx
  src/components/ProjectWatchButton.tsx
  src/components/StarButton.tsx
  src/components/WatchButton.tsx
Due: eslint --fix, prettier --write

chore(Project): aggregation fields
  graphql/resolvers/Project.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
Due: eslint --fix, prettier --write

chore(Project): all mutations via hook
  src/hooks/useProjectResource.ts
Due: eslint --fix, prettier --write

chore: move out Page from layouts
  src/components/ExplorePageLayout.tsx
  src/components/TeamPageLayout.tsx
  src/pages/explore/projects.tsx
  src/pages/explore/teams.tsx
  src/pages/teams/[slug]/goals.tsx
  src/pages/teams/[slug]/index.tsx
  src/pages/teams/[slug]/settings.tsx
Due: eslint --fix, prettier --write

fix(dateTime): list of available years for this year
  src/utils/dateTime.test.ts
Due: eslint --fix, prettier --write

feat: global create button
  i18n/en.json
  i18n/ru.json
  src/components/Dropdown.tsx
  src/components/Header.tsx
  src/components/HeaderMenu.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/teams/[slug]/goals.tsx
  src/pages/users/settings.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(CommentView): remove user-select: none
  src/components/CommentView.tsx
Due: eslint --fix, prettier --write

fix(IssueParticipants): use Modal layout components
  src/components/IssueParticipantsForm.tsx
Due: eslint --fix, prettier --write

feat(Team): add flow field
  graphql/schema.graphql
  graphql/types.ts
  prisma/migrations/20230112185149_/migration.sql
  prisma/schema.prisma
Due: eslint --fix, prettier --write

fix(keyPredictor): support ru lang
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

feat(ComboBox): support groups
  src/components/ComboBox.tsx
  src/components/GoalParentComboBox.tsx
  src/components/MenuGroupItem.tsx
  src/utils/flatten.ts
Due: eslint --fix, prettier --write

feat(Goal): support creating goals for Team
  graphql/resolvers/Goal.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  prisma/migrations/20230119172422_/migration.sql
  prisma/schema.prisma
  src/components/EstimateComboBox.tsx
  src/components/GoalCreateForm.tsx
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
  src/components/GoalParentComboBox.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(TeamCreateForm): add key field
  i18n/en.json
  i18n/ru.json
  src/components/KeyInput.tsx
  src/components/ProjectCreateForm.tsx
  src/components/TeamCreateForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Team): show team goals on team page
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/Page.tsx
  src/pages/teams/[slug]/goals.tsx
Due: eslint --fix, prettier --write

feat(Goal): show team info on goal page
  graphql/resolvers/Goal.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/GoalPreview.tsx
  src/components/IssueParent.tsx
  src/components/IssueProject.tsx
  src/pages/goals/[id].tsx
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
