Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat(GoalPage): remove Dot
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

feat(ColorizedMenuItem): remove Dot
  package-lock.json
  package.json
  src/components/ColorizedMenuItem.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(PriorityDropdown): remove Dot
  src/components/PriorityDropdown.tsx
Due: eslint --fix, prettier --write

feat(GoalAchievement): new schema, validate, routes
  prisma/migrations/20230613115108_/migration.sql
  prisma/schema.prisma
  src/hooks/useCriteriaResource.ts
  src/schema/criteria.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalAchievement): new components CriteriaForm and GoalCriteria
  src/components/CreateCriteriaForm/CreateCreteriaForm.tsx
  src/components/CreateCriteriaForm/CreateCriteriaForm.i18n/en.json
  src/components/CreateCriteriaForm/CreateCriteriaForm.i18n/index.ts
  src/components/CreateCriteriaForm/CreateCriteriaForm.i18n/ru.json
  src/components/GoalCriterion/GoalCriterion.i18n/en.json
  src/components/GoalCriterion/GoalCriterion.i18n/index.ts
  src/components/GoalCriterion/GoalCriterion.i18n/ru.json
  src/components/GoalCriterion/GoalCriterion.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalAchievement): use new components in goal's preview and page
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

feat(GoalAchievement): only owner or issuer can update state of criteria
  src/components/GoalCriterion/GoalCriterion.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix(GoalAchievement): used components improvements
  src/components/UserGroup.tsx
  trpc/inferredTypes.ts
Due: eslint --fix, prettier --write

fix(GoalEditForm): inferred types of update
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalPage/GoalPage.tsx
  trpc/inferredTypes.ts
Due: eslint --fix, prettier --write

feat(GoalAchievement): add remove criteria action
  prisma/migrations/20230616115656_/migration.sql
  prisma/schema.prisma
  src/components/CreateCriteriaForm/CreateCreteriaForm.tsx
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/index.ts
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/index.ts
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriterion/GoalCriterion.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/IssueDependenciesForm/IssueDependenciesForm.tsx
  src/hooks/useCriteriaResource.ts
  src/schema/common.ts
  src/schema/criteria.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalAchievement): add title unique validate
  prisma/migrations/20230616115656_/migration.sql
  prisma/migrations/20230616141315_/migration.sql
  prisma/schema.prisma
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(EstimateComboBox): added the ability to select the annual quarter
  prisma/migrations/20230615101320_/migration.sql
  prisma/schema.prisma
  src/components/EstimateComboBox.tsx
  src/schema/goal.ts
  src/utils/dateTime.ts
  src/utils/estimateToString.ts
Due: eslint --fix, prettier --write

fix(useHotkey): use helper to not run hotkeys in editable fields
  src/hooks/useHotkeys.ts
Due: eslint --fix, prettier --write

chore: add LoadMoreButton
  src/components/LoadMoreButton/LoadMoreButton.i18n/en.json
  src/components/LoadMoreButton/LoadMoreButton.i18n/index.ts
  src/components/LoadMoreButton/LoadMoreButton.i18n/ru.json
  src/components/LoadMoreButton/LoadMoreButton.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Dashboard): move to / page
  next.config.js
  src/components/DashboardPage/DashboardPage.i18n/en.json
  src/components/DashboardPage/DashboardPage.i18n/index.ts
  src/components/DashboardPage/DashboardPage.i18n/ru.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/HomePage/HomePage.i18n/en.json
  src/components/HomePage/HomePage.i18n/ru.json
  src/components/HomePage/HomePage.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalListItem): accept nullable props
  src/components/GoalListItem.tsx
Due: eslint --fix, prettier --write

feat: introduce goals page with lazy load
  src/components/DashboardPage/DashboardPage.i18n/en.json
  src/components/DashboardPage/DashboardPage.i18n/ru.json
  src/components/GoalsPage/GoalsPage.i18n/en.json
  src/components/GoalsPage/GoalsPage.i18n/ru.json
  src/components/GoalsPage/GoalsPage.tsx
  src/pages/goals/index.tsx
  trpc/inferredTypes.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalCriteria): fix typo in TickCircleIcon
  package-lock.json
  package.json
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: use MenuItem for PriorityFilter and PriorityDropdown
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/PriorityDropdown.tsx
  src/components/PriorityFilter.tsx
  src/components/PriorityText/PriorityText.tsx
  src/hooks/useUrlFilterParams.ts
  src/types/priority.ts
Due: eslint --fix, prettier --write

feat(GoalPreview): added placeholder for empty description
  src/components/GoalPreview/GoalPreview.i18n/en.json
  src/components/GoalPreview/GoalPreview.i18n/ru.json
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.9.0
  .release_notes/1.9.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GoalCreateForm): goal button improvements
  src/components/GoalCreateForm/GoalCreateForm.i18n/en.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/hooks/useLocalStorage.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
