Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(CriteriaForm): a brand new vision
  package-lock.json
  package.json
  src/components/CriteriaFormV2/CriteriaForm.tsx
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/en.json
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/index.ts
  src/components/CriteriaFormV2/CriteriaFormV2.i18n/ru.json
  src/hooks/useForkedRef.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(RotatableTip): tips change randomly
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/en.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.i18n/en.json
  src/components/GoalEditForm/GoalEditForm.i18n/ru.json
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/en.json
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/ru.json
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/RotatableTip/RotatableTip.i18n/en.json
  src/components/RotatableTip/RotatableTip.i18n/index.ts
  src/components/RotatableTip/RotatableTip.i18n/ru.json
  src/components/RotatableTip/RotatableTip.tsx
  src/components/UserInviteForm/UserInviteForm.i18n/en.json
  src/components/UserInviteForm/UserInviteForm.i18n/ru.json
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.7.0
  .release_notes/2.7.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: fully copied handlers moved from GoalPage & GoalPreview to hook
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/hooks/useGoalResource.ts
Due: eslint --fix, prettier --write

feat: add OpenTelemetry
  instrumentation.node.ts
  instrumentation.ts
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: participants project settings
  src/components/AddInlineTrigger.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/ProjectSettingsPage/CustomFormField.tsx
  src/components/ProjectSettingsPage/ParticipantsFormField.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserEditableList/UserEditableList.i18n/en.json
  src/components/UserEditableList/UserEditableList.i18n/index.ts
  src/components/UserEditableList/UserEditableList.i18n/ru.json
  src/components/UserEditableList/UserEditableList.tsx
  src/schema/project.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: folder for OpenTelemetry files
  src/instrumentation.node.ts
  src/instrumentation.ts
Due: eslint --fix, prettier --write

chore(deps): bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

refactor: all forms upgraded to new bricks component
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/EstimateDate/EstimateDate.tsx
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FlowComboBox.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalParentComboBox.tsx
  src/components/KeyInput.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/SearchFilter.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write

feat: private project access filters
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/projects/[id]/index.tsx
  src/schema/goal.ts
  trpc/access/accessCheckers.ts
  trpc/access/accessEntityGetters.ts
  trpc/access/accessMiddlewares.ts
  trpc/queries/access.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat: create ParticipantDeleteError modal
  src/components/ProjectSettingsPage/ParticipantsFormField.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/utils/dispatchModal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: improve opentelemetry dx
  README.md
  src/instrumentation.node.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

chore: release 2.8.0
  .release_notes/2.8.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor(GoalsGroup): removed component
  src/components/GoalsGroup.tsx
Due: eslint --fix, prettier --write

fix: after click on the "Create goal" button, the selected project should be in the goal form
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write

refactor(CollapsableItem): removed component
  src/components/CollapsableItem.tsx
Due: eslint --fix, prettier --write

feat: cron support
  package-lock.json
  package.json
  src/utils/worker/create.ts
  src/utils/worker/index.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: "Create goal" button is shown inside the tree
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

test(e2e): element search fix
  cypress/e2e/dashboard.cy.ts
Due: eslint --fix, prettier --write

chore: release 2.8.1
  .release_notes/2.8.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GoalCriteria): change relation type between goal and criteria data tables
  prisma/migrations/20231114134050_one_to_many_goal_is_criteria_relation/migration.sql
  prisma/schema.prisma
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/types/history.ts
  src/utils/db.ts
  src/utils/recalculateCriteriaScore.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat: participants project settings
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/ProjectPage/ProjectPage.i18n/en.json
  src/components/ProjectPage/ProjectPage.i18n/ru.json
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/en.json
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/index.ts
  src/components/ProjectPageTabs/ProjectPageTabs.i18n/ru.json
  src/components/ProjectPageTabs/ProjectPageTabs.tsx
  src/components/ProjectParticipants/ProjectParticipants.i18n/en.json
  src/components/ProjectParticipants/ProjectParticipants.i18n/index.ts
  src/components/ProjectParticipants/ProjectParticipants.i18n/ru.json
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserEditableList/UserEditableList.i18n/en.json
  src/components/UserEditableList/UserEditableList.i18n/index.ts
  src/components/UserEditableList/UserEditableList.i18n/ru.json
  src/components/UserEditableList/UserEditableList.tsx
  src/schema/project.ts
  src/utils/worker/mail/templates.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: participants project settings
  src/components/AddInlineTrigger.tsx
  src/pages/goals/[id].tsx
  src/pages/goals/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/[id]/settings.tsx
  src/schema/goal.ts
  trpc/access/accessCheckers.ts
  trpc/access/accessEntityGetters.ts
  trpc/access/accessMiddlewares.ts
  trpc/queries/access.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat: create ParticipantDeleteError modal
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/en.json
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/index.ts
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.i18n/ru.json
  src/components/ParticipantDeleteErrorModal/ParticipantDeleteErrorModal.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserEditableList/UserEditableList.tsx
  src/utils/dispatchModal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node
