Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

refactor: rewrite get starred query from prisma to kysely
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/pages/explore/projects/starred.tsx
  trpc/queries/projectV2.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat: add starred projects tab
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/en.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/index.ts
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/ru.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/hooks/router.ts
  src/pages/explore/projects/index.tsx
  src/pages/explore/projects/starred.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: remove top/projects switch from starred projects header
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/en.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/ru.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.47.0
  .release_notes/2.47.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: add partnership goals to project
  trpc/queries/projectV2.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

test(Dashboard): write personalized specs
  cypress/e2e/comments.cy.ts
  cypress/e2e/dashboard.cy.ts
  cypress/e2e/goalDependencies.cy.ts
  cypress/e2e/goals.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/index.d.ts
  cypress/plugins/db.ts
  cypress/support/index.ts
  src/components/AppliedEstimateFilter/AppliedEstimateFilter.tsx
  src/components/AppliedFilter/AppliedFilter.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/WatchButton/WatchButton.tsx
  src/utils/dateTime.ts
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

feat(Goal): new activity feed
  cypress/fixtures/langs.json
  src/components/GoalActivityFeed/GoalActivityFeed.module.css
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalActivityWithTabs/GoalActivityV2.tsx
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/en.json
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/index.ts
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/ru.json
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.module.css
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  trpc/inferredTypes.ts
  trpc/queries/activity.ts
  trpc/queries/comments.ts
  trpc/queries/goalV2.ts
  trpc/queries/history.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalActivity): safe last comment
  trpc/utils.ts
Due: eslint --fix, prettier --write

fix(GoalActivity): get last state comment
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/hooks/useGoalResource.ts
  src/utils/db/calculatedGoalsFields.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(GoalActivity): remove unused code
  src/components/GoalActivity.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.tsx
  src/utils/db/index.ts
  src/utils/goalHistory.ts
  trpc/queries/history.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(Goal): calculate last state comment
  src/utils/db/calculatedGoalsFields.ts
  trpc/router/goal.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write

fix(Dashboard): filter by partnershipProjects now is correct
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.47.1
  .release_notes/2.47.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(StarredProjects): fix empty list
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/en.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/ru.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.module.css
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.47.2
  .release_notes/2.47.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(FormControlEditor): add a env to an internal cdn link
  src/components/FormControlEditor/FormControlEditor.tsx
Due: eslint --fix, prettier --write

fix: blocks translation
  cypress/fixtures/langs.json
  src/components/GoalDependency/GoalDependency.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
Due: prettier --write --parser json, node

fix: default flow doesn't loaded
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/pages/projects/[id]/index.tsx
Due: eslint --fix, prettier --write

chore: release 2.47.3
  .release_notes/2.47.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: kysely project suggestion
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/schema/project.ts
  src/utils/filters.ts
  trpc/queries/projectV2.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(GoalTableList): overflow goal owner name
  package-lock.json
  package.json
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(SortList): brand new component
  cypress/fixtures/langs.json
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/SortButton/SortButton.tsx
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/index.ts
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.module.css
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(SortList): union useMemo calls
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

fix(Dashboard,Goals,Project): correct sort order
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/SortButton/SortButton.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

fix(Sorting): remove unused code
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

refactor: remove repeated code block
  src/components/PageNavigation/PageNavigation.tsx
Due: eslint --fix, prettier --write

refactor: move navigation sidebar to the @taskany/bricks
  package-lock.json
  package.json
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/NavigationSidebar/NavigationSidebar.tsx
  src/components/PageNavigation/PageNavigation.module.css
  src/components/PageNavigation/PageNavigation.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalTableList): overflow goal owner name
  package-lock.json
  package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
