Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

build: add standalone build
  README.md
  next.config.js
  package-lock.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

build: use 18.12.0 node.js version
  Dockerfile
  README.md
Due: prettier --write --parser markdown

build: use 18.12.0 node.js version
  Dockerfile
Due: none

build: use 18.12.0 node.js in enterprise Dockerfile
  Dockerfile.enterprise
Due: none

chore: disable bundle analyzer workflow
  .github/workflows/nextjs_bundle_analysis.yml
Due: none

build: add standalone build, update package-lock file and fix cdn libs
  Dockerfile
  Dockerfile.enterprise
  README.md
  next.config.js
  package-lock.json
  src/pages/_document.tsx
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(FiltersPanelApplied): incorrect space position
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
Due: eslint --fix, prettier --write

chore: patch package-lock.json
  package-lock.json
Due: prettier --write --parser json, node

chore(seed): add scopeId for dev data
  prisma/seed.ts
Due: eslint --fix, prettier --write

chore: use short id to fetch goal
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/IssueDependenciesList/IssueDependenciesList.tsx
  src/components/IssueListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/router.ts
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(Goal): change project with scope id
  src/schema/goal.ts
  src/utils/db.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(Goal): create id in project scope
  package-lock.json
  package.json
  prisma/migrations/20230519174041_/migration.sql
  prisma/schema.prisma
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/hooks/router.ts
  src/utils/createGoalInDb.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.2.0
  .release_notes/1.2.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(wdyr): move to utils
  next.config.js
  src/pages/_app.tsx
  src/utils/wdyr.ts
Due: eslint --fix, prettier --write

chore(worker): precompile with next
  .gitignore
  Dockerfile
  README.md
  package.json
  src/utils/worker/create.ts
  src/utils/worker/index.ts
  src/utils/worker/mail/index.ts
  src/utils/worker/mail/server.ts
  src/utils/worker/mail/templates.ts
  src/utils/worker/resolve.ts
  src/utils/worker/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(docker): use bin path to run binary
  Dockerfile
  README.md
Due: prettier --write --parser markdown

fix(Goal): use shortId to confirm deleting
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

chore(FiltersPanel): reorder filters
  src/components/FiltersPanel/FiltersPanel.tsx
Due: eslint --fix, prettier --write

chore: force goal update after new comment
  trpc/router/comment.ts
Due: eslint --fix, prettier --write

feat(Goal): sort by updatedAt by default
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalsGroup.tsx
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: add forgoten env variable to example
  .env.example
Due: none

chore: remove unused filter components
  src/components/FiltersMenuItem.tsx
  src/components/LimitFilterDropdown.tsx
  src/components/PresetFilterDropdown.tsx
Due: eslint --fix, prettier --write

feat(FiltersPanel): support sort filter
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/SortFilter/SortFilter.i18n/en.json
  src/components/SortFilter/SortFilter.i18n/index.ts
  src/components/SortFilter/SortFilter.i18n/ru.json
  src/components/SortFilter/SortFilter.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  src/schema/goal.ts
  src/schema/project.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: drop console statement
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
