Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: release 2.16.2
  .release_notes/2.16.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: support filter nested goals
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.16.3
  .release_notes/2.16.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalCriteria): make them wider
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

chore: release 2.16.4
  .release_notes/2.16.4.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

ci: update npm version to 20.9.0
  .nvmrc
  Dockerfile
  Dockerfile.ci
  Dockerfile.enterprise
  README.md
Due: prettier --write --parser markdown

fix(SettingsContent): space between content & tips
  src/components/SettingsContent.tsx
Due: eslint --fix, prettier --write

chore: release 2.16.5
  .release_notes/2.16.5.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: parallel worker support
  src/utils/worker/index.ts
Due: eslint --fix, prettier --write

feat(useCopyToClipboard): add hook from bricks
  package-lock.json
  package.json
  src/components/CommentView/CommentView.tsx
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/hooks/useCopyToClipboard.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.17.0
  .release_notes/2.17.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

test(unit): migrate from jest to node
  jest.config.js
  package-lock.json
  package.json
  src/utils/calculateDiffBetweenArrays.test.ts
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
  src/utils/keyPredictor.test.ts
  src/utils/transformer.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: add uniq rule to Reaction model
  prisma/migrations/20240131191725_/migration.sql
  prisma/schema.prisma
Due: none

fix: email sent when updatedFields are not empty
  src/utils/worker/mail/templates.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.17.1
  .release_notes/2.17.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(Harmony): add components & themes
  .gitignore
  package-lock.json
  package.json
  postcss.config.js
  src/components/Page.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/dark.css
  src/styles/light.css
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: new vision of GoalListItem
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItem/GoalListItem.module.css
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/RelativeTime/RelativeTime.tsx
  src/hooks/useUrlFilterParams.ts
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

feat: goals list keyboard navigation
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FlatGoalList.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.18.0
  .release_notes/2.18.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalListItem): keyboard hover
  src/components/GoalListItem/GoalListItem.module.css
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalTableList/GoalTableList.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
