Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

common components: <FormActions />
  src/components/CommentForm.tsx
  src/components/GoalDeleteModal.tsx
  src/components/GoalForm.tsx
  src/components/ProjectCreateForm.tsx
  src/components/TeamCreateForm.tsx
  src/components/UserInviteForm.tsx
  src/components/lib/FormActions.tsx
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/components/pages/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write

common components: fix lint errors
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.tsx
  src/components/pages/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/components/pages/TeamGoalsPage/TeamGoalsPage.tsx
  src/components/pages/TeamPage/TeamPage.tsx
Due: eslint --fix, prettier --write

common components: Header
  src/components/CommentCreateForm.tsx
  src/components/CommentView.tsx
  src/components/GoalListItem.tsx
  src/components/GoalPreview.tsx
  src/components/Header.tsx
  src/components/HeaderLogo.tsx
  src/components/HeaderMenu.tsx
  src/components/IssueParticipantsList.tsx
  src/components/Page.tsx
  src/components/PageHeader.tsx
  src/components/PageHeaderActionButton.tsx
  src/components/PageHeaderLogo.tsx
  src/components/ProjectListItem.tsx
  src/components/TeamListItem.tsx
  src/components/UserComboBox.tsx
  src/components/UserMenuItem.tsx
  src/components/lib/Gravatar.tsx
  src/components/lib/Header.tsx
  src/components/lib/TaskanyLogo.tsx
  src/components/lib/UserMenu.tsx
  src/components/lib/UserPic.tsx
  src/components/lib/utils/isRetina.ts
  src/components/pages/GoalPage/GoalPage.tsx
  src/stories/Button.stories.tsx
  src/stories/HeaderLogo.stories.tsx
Due: eslint --fix, prettier --write

common components: remove todo
  src/components/lib/__ColorizedMenuItem.tsx
Due: eslint --fix, prettier --write

chore(Team): title can be 50 symbols max
  i18n/en.json
  i18n/ru.json
  src/components/TeamCreateForm.tsx
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/en.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/ru.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(Project): title can be 50 symbols max
  src/hooks/useProjectResource/index.ts
  src/hooks/useProjectResource/useProjectResource.i18n/en.json
  src/hooks/useProjectResource/useProjectResource.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: truncate project and team description in list view
  src/components/ProjectListItem.tsx
  src/components/ProjectPageLayout.tsx
  src/components/TeamListItem.tsx
Due: eslint --fix, prettier --write

chore(swr): up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(Team): user can delete team
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/en.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/ru.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(ParentListItem): merge TeamListItem and ProjectListItem components
  src/components/ParentListItem.tsx
  src/components/TeamListItem.tsx
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.tsx
  src/components/pages/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/pages/TeamPage/TeamPage.tsx
Due: eslint --fix, prettier --write

fix(Reaction): check current user reactions only
  graphql/resolvers/Reaction.ts
  src/components/Reactions.tsx
Due: eslint --fix, prettier --write

fix(ProjectPageLayout): do not show watch/star actions on settings page
  src/components/ProjectPageLayout.tsx
Due: eslint --fix, prettier --write

feat(Project): user can transfer ownership
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/UserComboBox.tsx
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/hooks/useProjectResource/index.ts
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Team): user can transfer ownership
  graphql/resolvers/Team.ts
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/en.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/ru.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(Tag): title must be unique
  prisma/migrations/20230403171218_/migration.sql
  prisma/schema.prisma
Due: none

fix(CommonHeader): do not show title attr for header
  src/components/CommonHeader.tsx
Due: eslint --fix, prettier --write

feat(EstimateFilterDropdown): user can filter goals via estimates
  graphql/queries/goals.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/EstimateFilterDropdown.tsx
  src/components/FiltersPanel.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/components/pages/TeamGoalsPage/TeamGoalsPage.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(FiltersPanel): add projects filter
  graphql/queries/goals.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/FiltersPanel.tsx
  src/components/ProjectFilterDropdown.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/components/pages/TeamGoalsPage/TeamGoalsPage.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: do not migrate when app is starting
  app_run.sh
Due: none

chore: Team and Project id is String and not autoincrement
  graphql/resolvers/Project.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  prisma/migrations/20230405161213_/migration.sql
  prisma/migrations/20230405163310_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/components/FiltersPanel.tsx
  src/components/GoalForm.tsx
  src/components/ProjectCreateForm.tsx
  src/components/ProjectFilterDropdown.tsx
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/hooks/useGrouppedGoals.ts
  src/hooks/useProjectResource/index.ts
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

chore: drop key column for Team and Project models
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  prisma/migrations/20230405172312_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/components/GoalForm.tsx
  src/components/GoalGroup.tsx
  src/components/GoalParentComboBox.tsx
  src/components/IssueDependenciesForm.tsx
  src/components/IssueParent.tsx
  src/components/ProjectCreateForm.tsx
  src/components/ProjectPageLayout.tsx
  src/components/TeamCreateForm.tsx
  src/components/TeamPageLayout.tsx
  src/components/TeamTitleList.tsx
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.tsx
  src/components/pages/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/pages/TeamGoalsPage/TeamGoalsPage.tsx
  src/components/pages/TeamPage/TeamPage.tsx
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/components/pages/UserPage/UserPage.tsx
  src/hooks/router.ts
  src/hooks/useProjectResource/index.ts
  src/pages/projects/[id]/index.tsx
  src/pages/projects/[id]/settings.tsx
  src/pages/teams/[id]/goals.tsx
  src/pages/teams/[id]/index.tsx
  src/pages/teams/[id]/settings.tsx
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
