Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix(PriorityDropdown): use value not text
  src/components/PriorityDropdown.tsx
Due: eslint --fix, prettier --write

feat(GoalCreateForm): goal button improvements
  src/components/GoalCreateForm/GoalCreateForm.i18n/en.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/hooks/useLocalStorage.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(goal): use max operator for new goal scopeId
  src/utils/db.ts
Due: eslint --fix, prettier --write

chore: release 1.10.0
  .release_notes/1.10.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(RelativeTime): no hover for unclickable timestamps
  src/components/CommentView/CommentView.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

chore(deps): bump bricks version
  package-lock.json
  package.json
  src/components/IssueStats/IssueStats.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalPage): redesign header, add criteria progress bar
  src/components/GoalPage/GoalPage.i18n/en.json
  src/components/GoalPage/GoalPage.i18n/ru.json
  src/components/GoalPage/GoalPage.tsx
  src/components/IssueStats/IssueStats.tsx
  src/utils/dateTime.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalPreview): redesign header, add criteria progress bar
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.i18n/en.json
  src/components/GoalPreview/GoalPreview.i18n/ru.json
  src/components/GoalPreview/GoalPreview.tsx
  src/components/IssueStats/IssueStats.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(State): add basic types
  prisma/migrations/20230620174150_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, prettier --write

fix(Goal): unique constraint for scopeId
  prisma/migrations/20230621101038_/migration.sql
  prisma/schema.prisma
Due: none

fix(GoalHistory): check prev and next estimate before push
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(StateComment): synchroniosly update goal and create comment next
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(i18n): exact pattern match in getLangClient
  src/utils/getLang.ts
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): prisma project.getByIds endpoint
  src/components/CollapsableItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): support project loading status
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): codereview changes
  src/components/CollapsableItem.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectListItem/ProjectListItem.i18n/en.json
  src/components/ProjectListItem/ProjectListItem.i18n/index.ts
  src/components/ProjectListItem/ProjectListItem.i18n/ru.json
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ProjectListItemCollapsible): fix toggle blinking
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): new components
  src/components/CollapsableItem.tsx
  src/components/GoalListItem.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): add goals button
  src/components/CollapsableItem.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): fix css important style
  src/components/CollapsableItem.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): support goals loading on click
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): component composition step 1
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/en.json
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/index.ts
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/ru.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/Table.tsx
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ProjectListItemCollapsible): remove props spread
  src/components/CollapsableItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  trpc/queries/project.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(package-lock.json): fix dependency problem
  package-lock.json
Due: prettier --write --parser json, node
