Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

refactor: bring FilterBar from bricks
  package-lock.json
  package.json
  src/components/AppliedEstimateFilter/AppliedEstimateFilter.tsx
  src/components/AppliedGoalParentFilter/AppliedGoalParentFilter.tsx
  src/components/AppliedPriorityFilter/AppliedPriorityFilter.tsx
  src/components/AppliedStateFilter/AppliedStateFilter.tsx
  src/components/AppliedTagFilter/AppliedTagFilter.tsx
  src/components/AppliedUsersFilter/AppliedUsersFilter.tsx
  src/components/CommonHeader.tsx
  src/components/FiltersBar/FiltersBar.module.css
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.54.1
  .release_notes/2.54.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: add an option to hide criteria goals
  cypress/fixtures/langs.json
  package-lock.json
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  src/utils/db/index.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: avoid unnecessary query to the db
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

fix: add a deleted filter for correct querying goal ids
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

refactor: move criteria id`s outside goalsFilter
  src/utils/db/index.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat: add "open in a new tab" button next to goal create in tree view
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.module.css
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.tsx
Due: eslint --fix, prettier --write

refactor: rewrite getGoalActivityFilterIdsQuery from prisma to kysely
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix: dom nesting validation warn
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore: release 2.55.0
  .release_notes/2.55.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: project page e2e test
  cypress/e2e/projects.cy.ts
Due: eslint --fix, prettier --write

refactor: remove url param hook from ProjectListItem
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.module.css
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.tsx
Due: eslint --fix, prettier --write

feat: add view option to show empty projects
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: e2e tests on dashboard page
  cypress/e2e/dashboard.cy.ts
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

fix: return pagination to goal list
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

feat(TaskBadge): a brand new component
  src/components/TaskBadge/TaskBadge.module.css
  src/components/TaskBadge/TaskBadge.tsx
Due: eslint --fix, prettier --write

feat(interation): implements of jira api
  generated/kysely/types.ts
  package-lock.json
  package.json
  prisma/migrations/20240903082008_external_tasks/migration.sql
  prisma/schema.prisma
  src/hooks/router.ts
  src/utils/integration/jira.ts
  trpc/queries/external.ts
  trpc/router/external.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalCriteria): support external task as criteria
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/StateDot/StateDot.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ExternalTask): use tasks as criteria
  src/schema/criteria.ts
  trpc/queries/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(ExternalTasks): cleanup code
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalList/GoalList.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/hooks/router.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

fix(ExternalTasks): rename Task to JiraTask and cleanup code
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/JiraTaskBadge/JiraTaskBadge.module.css
  src/components/JiraTaskBadge/JiraTaskBadge.tsx
  src/utils/integration/jira.ts
  trpc/router/index.ts
  trpc/router/jira.ts
Due: eslint --fix, prettier --write

fix(ExternalTasks): check if task is completed
  .env.ci
  generated/kysely/types.ts
  prisma/migrations/20240906111435_external_tasks/migration.sql
  prisma/schema.prisma
  src/utils/integration/jira.ts
  trpc/queries/external.ts
  trpc/router/external.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix: remove e2e tests skip
  cypress/e2e/dashboard.cy.ts
Due: eslint --fix, prettier --write
