Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(GoalHistory): new goal feed combined history and comments
  package-lock.json
  package.json
  prisma/seed.ts
  src/components/ActivityFeed.tsx
  src/components/GoalActivity.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/index.ts
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
  src/types/history.ts
  src/utils/db.ts
  src/utils/goalHistory.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(ActivityFeed): pass comment state
  src/components/GoalActivity.tsx
Due: eslint --fix, prettier --write

fix(GoalHistory): fix tags change record
  src/components/GoalPage/GoalPage.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/types/history.ts
  src/utils/calculateDiffBetweenArrays.test.ts
  src/utils/calculateDiffBetweenArrays.ts
  src/utils/db.ts
  src/utils/goalHistory.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(trpc): search route
  trpc/router/index.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat(PageHeader): add GlobalSearch
  src/components/GlobalSearch/GlobalSearch.i18n/en.json
  src/components/GlobalSearch/GlobalSearch.i18n/index.ts
  src/components/GlobalSearch/GlobalSearch.i18n/ru.json
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalListItemCompact.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): bump bricks
  package-lock.json
  package.json
  src/components/CommentForm/CommentForm.tsx
  src/hooks/useClickOutside.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: patch for package-lock.json by nextjs
  package-lock.json
Due: prettier --write --parser json, node

chore(Keyboard): add size=s
  src/components/Keyboard.tsx
Due: eslint --fix, prettier --write

chore: release 1.7.0
  .release_notes/1.7.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(State): no hover if not clickable
  src/components/State.tsx
Due: eslint --fix, prettier --write

chore(GoalsPage): cleaup unused code
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

feat(ProjectCreateForm): reorder form components
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/en.json
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/ru.json
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(HotkeysModal): use ModalContent as container
  src/components/HotkeysModal/HotkeysModal.tsx
Due: eslint --fix, prettier --write

chore(deps): bump bricks
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(CommentForm): form redesign
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.i18n/en.json
  src/components/CommentForm/CommentForm.i18n/ru.json
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Goal): create/edit forms redesign
  src/components/FormEditor/FormEditor.i18n/en.json
  src/components/FormEditor/FormEditor.i18n/ru.json
  src/components/FormEditor/FormEditor.tsx
  src/components/GoalCreateForm/GoalCreateForm.i18n/en.json
  src/components/GoalCreateForm/GoalCreateForm.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.i18n/en.json
  src/components/GoalEditForm/GoalEditForm.i18n/ru.json
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.i18n/en.json
  src/components/GoalForm/GoalForm.i18n/ru.json
  src/components/GoalForm/GoalForm.tsx
  src/components/ModalOnEvent.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/Tip.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(search): limit results for 5 items
  trpc/router/search.ts
Due: eslint --fix, prettier --write

chore: release 1.8.0
  .release_notes/1.8.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GoalPage): remove Dot
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

feat(PriorityDropdown): remove Dot
  src/components/PriorityDropdown.tsx
Due: eslint --fix, prettier --write

feat(ColorizedMenuItem): remove Dot
  package-lock.json
  package.json
  src/components/ColorizedMenuItem.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalListItem): changed text style
  src/components/GoalListItem.tsx
Due: eslint --fix, prettier --write
