Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(ProjectPageLayout): compare paths without query string
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
Due: eslint --fix, prettier --write

chore(Goal): provide information about permission to edit
  src/components/GoalPreview/GoalPreview.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

fix(Project): do not cast id to number
  graphql/resolvers/Project.ts
Due: eslint --fix, prettier --write

fix(GoalPreview): adapt height for long goal titles
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix(RelativeTime): update relative time every 1 min
  src/components/IssueStats/IssueStats.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

chore: setup commitlint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: add release workflow
  .github/workflows/release.yml
Due: none

chore: setup git creds for release workflow
  .github/workflows/release.yml
Due: none

chore: push release
  .github/workflows/release.yml
Due: none

chore: push tags with no verify
  .github/workflows/release.yml
Due: none

chore: create gh release
  .github/workflows/release.yml
Due: none

chore: add GITHUB_TOKEN
  .github/workflows/release.yml
Due: none

chore: update GH_TOKEN
  .github/workflows/release.yml
Due: none

chore: use standard-version for release
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: disable release workflow
  .github/workflows/release.yml
Due: none

fix(ProjectPage): pass flowId to LS cache
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

chore: release script
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/release.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: create PR via release script
  .github/workflows/release.yml
Due: none

chore: push release branch with no verify
  .github/workflows/release.yml
Due: none

chore: read PRs title and body from file
  .github/workflows/release.yml
Due: none

chore: up to date actions
  .github/workflows/release.yml
Due: none

chore: provide gh token
  .github/workflows/release.yml
Due: none

chore: release 1.0.0
  .release_notes/1.0.0.md
Due: prettier --write --parser markdown

chore: bump package version in release script
  .github/workflows/release.yml
Due: none

chore: optimize release workflow
  .github/workflows/release.yml
Due: none

chore: add publish workflow
  .github/workflows/publish.yml
Due: none

chore: optimize release script
  scripts/release.js
Due: eslint --fix, prettier --write

chore: correct releases branch
  .github/workflows/release.yml
Due: none

chore: release 1.0.0
  .release_notes/1.0.0.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
