Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat(ProjectListItemCollapsible): prisma project.getByIds endpoint
  src/components/CollapsableItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(package-lock.json): fix dependency problem
  package-lock.json
Due: prettier --write --parser json, node

feat(ProjectListItemCollapsible): support goals loading on click
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): new components
  src/components/CollapsableItem.tsx
  src/components/GoalListItem.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): fix toggle blinking
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsible): codereview changes
  src/components/CollapsableItem.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectListItem/ProjectListItem.i18n/en.json
  src/components/ProjectListItem/ProjectListItem.i18n/index.ts
  src/components/ProjectListItem/ProjectListItem.i18n/ru.json
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ProjectListItemCollapsible): component composition step 1
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/en.json
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/index.ts
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/ru.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/Table.tsx
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.11.0
  .release_notes/1.11.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(ProjectItemCollapsable): add goals counter
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  trpc/queries/goals.ts
  trpc/queries/project.ts
Due: eslint --fix, prettier --write

feat(ProjectsPage): add projects page
  src/components/PageHeader/PageHeader.i18n/en.json
  src/components/PageHeader/PageHeader.i18n/ru.json
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/en.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/index.ts
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/ru.json
  src/components/ProjectsPage/ProjectsPage.i18n/en.json
  src/components/ProjectsPage/ProjectsPage.i18n/index.ts
  src/components/ProjectsPage/ProjectsPage.i18n/ru.json
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/router.ts
  src/pages/projects/index.tsx
  trpc/queries/goals.ts
  trpc/queries/project.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(ProjectListItemConnected): create separate component
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/en.json
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/index.ts
  src/components/ProjectListItemCollapsable/ProjectListItem.i18n/ru.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/en.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/ru.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.12.0
  .release_notes/1.12.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(ProjectListItemCollapsable): change item text
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/en.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.i18n/ru.json
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Fix duplicate goal description
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

chore: release 1.13.0
  .release_notes/1.13.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(i18n): help pages i18n
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/DashboardPage/DashboardPage.tsx
  src/components/EstimateComboBox.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/HelpButton/HelpButton.tsx
  src/components/HelpPage/HelpPage.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/Page.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/RelativeTime/RelativeTime.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/hooks/router.ts
  src/hooks/useLocale.ts
  src/pages/_app.tsx
  src/pages/help/[locale]/[slug].tsx
  src/pages/help/[slug].tsx
  src/pages/help/source/ru/welcome.md
  src/utils/getLang.ts
  src/utils/pageContext.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat(i18n): disable client-side locale detection
  src/components/HelpPage/HelpPage.tsx
  src/pages/_app.tsx
  src/utils/declareSsrProps.ts
  src/utils/getLang.ts
Due: eslint --fix, prettier --write

feat(UserGroup): add counter
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsable): default state is opened
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
Due: eslint --fix, prettier --write

feat(CollapsableItem): highlight collapsable
  src/components/CollapsableItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

fix(ProjectsPage): show only first level projects
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: introduce UserBadge
  src/components/UserBadge.tsx
Due: eslint --fix, prettier --write

fix(HistoryRecord): do not show pretext for participants
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

refactor: remove participants form and modal
  src/components/IssueParticipants/IssueParticipants.i18n/en.json
  src/components/IssueParticipants/IssueParticipants.i18n/index.ts
  src/components/IssueParticipants/IssueParticipants.i18n/ru.json
  src/components/IssueParticipants/IssueParticipants.tsx
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/en.json
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/index.ts
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/ru.json
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/components/IssueParticipantsList.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(RelativeTime): use named export
  src/components/CommentView/CommentView.tsx
  src/components/GoalListItem.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

chore: introduce InlineTrigger component
  src/components/InlineTrigger.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
