Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix(CommentForm): implemented receiving a response based on which change the local state busy
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/hooks/useCommentResource.ts
Due: eslint --fix, prettier --write

fix(CommentForm): removed unnecessary
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write

fix(GoalCreateForm): disable the local state busy after request response
  src/components/GoalCreateForm/GoalCreateForm.tsx
Due: eslint --fix, prettier --write

fix(ProjectSettingsPage): change modal event on transfer ownership button
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

fix(GoalDependencies,GoalCriteria): apply common styles for features
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalDependencyList/GoalDependencyList.i18n/en.json
  src/components/GoalDependencyList/GoalDependencyList.i18n/ru.json
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSuggest.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Goal): email notifications
  package-lock.json
  package.json
  src/types/common.ts
  src/utils/db.ts
  src/utils/worker/create.ts
  src/utils/worker/mail/templates.ts
  src/utils/worker/resolve.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: add Array.filter extended declaration
  src/types/lib.es5.d.ts
Due: eslint --fix, prettier --write

feat(Project): email notifications
  src/utils/worker/mail/templates.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(Goal): support estimate diff in email notification, #1358
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(templates): spelling issues
  src/utils/worker/mail/templates.ts
Due: eslint --fix, prettier --write

chore: release 1.18.0
  .release_notes/1.18.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: request returns last 5 created goals of the user if nthg is typing
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: request returns last 5 created goals of the user if nthg is typing
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write

feat(GoalPage): remove specific styles
  package-lock.json
  package.json
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: request returns last 5 created goals of the user if nthg is typing
  src/components/CriteriaForm/CriteriaForm.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(ProjectScore): recalc score after move goal into archive
  src/utils/db.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(deps): nextjs soft update
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/HelpButton/HelpButton.tsx
  src/components/IssueListItem.tsx
  src/components/IssueParent.tsx
  src/components/IssueTitle.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeaderLogo.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
  src/components/ProjectTitleList.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(linters): use pre-packaged linter configs
  .eslintrc.js
  .prettierrc.js
  .prettierrc.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: fixed click inside & set focus after comment submit
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.tsx
  src/hooks/useCommentResource.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node
