Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: empty projects visible only without filters
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/ProjectListItemConnected.tsx
  src/hooks/useUrlFilterParams.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

test(e2e): check project's visible with global default filters
  cypress/e2e/dashboard.cy.ts
Due: eslint --fix, prettier --write

test(e2e): added an action to clear filters
  cypress/e2e/projects.cy.ts
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

chore(auth): disable email provider in production
  .env.ci
  app_run.ci.sh
  src/utils/auth.ts
Due: eslint --fix, prettier --write

fix(auth): allow account linking via email, #1711
  src/utils/auth.ts
Due: eslint --fix, prettier --write

chore: release 1.32.0
  .release_notes/1.32.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: access middleware
  trpc/access/accessCheckers.ts
  trpc/access/accessEntityGetters.ts
  trpc/access/accessMiddlewares.ts
  trpc/queries/project.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/trpcBackend.ts
Due: eslint --fix, prettier --write

feat: estimate aliases in new filter
  prisma/seed.ts
  src/components/Estimate/Estimate.i18n/en.json
  src/components/Estimate/Estimate.i18n/ru.json
  src/components/Estimate/Estimate.tsx
  src/components/Estimate/EstimateProvider.tsx
  src/components/EstimateDate/EstimateDate.i18n/en.json
  src/components/EstimateDate/EstimateDate.i18n/ru.json
  src/components/EstimateDate/EstimateDate.tsx
  src/components/EstimateFilter.tsx
  src/components/EstimateOption.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
  src/components/EstimateQuarter/EstimateQuarter.i18n/en.json
  src/components/EstimateQuarter/EstimateQuarter.i18n/index.ts
  src/components/EstimateQuarter/EstimateQuarter.i18n/ru.json
  src/components/EstimateQuarter/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
  src/components/EstimateYear/EstimateYear.i18n/en.json
  src/components/EstimateYear/EstimateYear.i18n/index.ts
  src/components/EstimateYear/EstimateYear.i18n/ru.json
  src/components/EstimateYear/EstimateYear.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/types/date.ts
  src/utils/dateTime.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: user dont see an empty participants block
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

fix: user cant remove tags from any goal
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

refactor: merged GoalPage & GoalPreview
  src/components/GoalActivityFeed.tsx
  src/components/GoalContentHeader/GoalContentHeader.i18n/en.json
  src/components/GoalContentHeader/GoalContentHeader.i18n/index.ts
  src/components/GoalContentHeader/GoalContentHeader.i18n/ru.json
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/GoalHeader.tsx
  src/components/GoalPage/GoalPage.i18n/en.json
  src/components/GoalPage/GoalPage.i18n/ru.json
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.i18n/en.json
  src/components/GoalPreview/GoalPreview.i18n/ru.json
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.i18n/index.ts
  src/components/GoalSidebar/GoalSidebar.i18n/ru.json
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/Page.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: hotfix criteria handlers
  trpc/access/accessEntityGetters.ts
  trpc/access/accessMiddlewares.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(FilterPopup): prevent outside clicks
  src/components/FilterPopup/FilterPopup.tsx
Due: eslint --fix, prettier --write

fix: added scroll for markdown when it crowded
  src/components/ActivityFeed.tsx
  src/components/CommentView/CommentView.tsx
  src/components/Md.tsx
Due: eslint --fix, prettier --write

chore: what's new for 1.32.0
  public/FiltersPanelPopup.png
  public/FiltersPanelPopupEstimate.png
  public/FiltersPanelPopupSort.png
  src/pages/whatsnew/1.32.0/en.mdx
  src/pages/whatsnew/1.32.0/ru.mdx
Due: none

fix(FiltersPanel): highlighted filters label
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/hooks/useUrlFilterParams.ts
  src/pages/explore/projects.tsx
  src/utils/filters.ts
Due: eslint --fix, prettier --write

fix(FiltersPanel): user can change default preset to custom query
  src/components/FiltersPanel/FiltersPanel.tsx
  src/utils/filters.ts
Due: eslint --fix, prettier --write

fix: spelling note mistake
  src/pages/whatsnew/1.32.0/ru.mdx
Due: none

fix: goal comment can be deleted
  src/hooks/useGoalResource.ts
  trpc/access/accessEntityGetters.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
