Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: env example up to date
  .env.example
Due: none

docs(readme): install instruction
  README.md
Due: prettier --write --parser markdown

chore: manual docker workflow
  .github/workflows/docker.yml
Due: none

chore: publish docker with release tag
  .github/workflows/docker.yml
Due: none

chore: publish to DockerHub after release
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Due: none

fix(i18n): unused translations keys
  src/components/ExplorePageLayout/ExplorePageLayout.i18n/en.json
  src/components/ExplorePageLayout/ExplorePageLayout.i18n/ru.json
  src/components/ExplorePageLayout/ExplorePageLayout.tsx
  src/components/GoalEditForm/GoalEditForm.i18n/en.json
  src/components/GoalEditForm/GoalEditForm.i18n/ru.json
  src/components/GoalForm/GoalForm.i18n/en.json
  src/components/GoalForm/GoalForm.i18n/ru.json
  src/components/IssueDependenciesForm/IssueDependenciesForm.i18n/en.json
  src/components/IssueDependenciesForm/IssueDependenciesForm.i18n/ru.json
  src/components/IssueDependenciesForm/IssueDependenciesForm.tsx
  src/components/IssueDependenciesList/IssueDependenciesList.tsx
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/en.json
  src/components/IssueParticipantsForm/IssueParticipantsForm.i18n/ru.json
  src/components/PageHeader/PageHeader.i18n/en.json
  src/components/PageHeader/PageHeader.i18n/ru.json
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/en.json
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/ru.json
  src/components/RelativeTime/RelativeTime.tsx
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/hooks/useCommentResource/useCommentResource.i18n/en.json
  src/hooks/useCommentResource/useCommentResource.i18n/ru.json
  src/hooks/useProjectResource/useProjectResource.i18n/en.json
  src/hooks/useProjectResource/useProjectResource.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

docs(contributing): update steps to create PR
  CONTRIBUTING.md
Due: prettier --write --parser markdown

chore(docker): add enterprise version
  .github/workflows/publish.yml
  Dockerfile.enterprise
Due: none

docs(readme): add contributing section
  README.md
Due: prettier --write --parser markdown

chore(ci): run check when source changed only
  .github/workflows/codeql-analysis.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/pr.yml
Due: none

chore(scripts): remove unused release script
  scripts/release.js
Due: eslint --fix, prettier --write

chore(deps): sync prisma, remove unused packages
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore(script): remove unused healthcheck
  healthcheck.sh
Due: none

chore(deps): remove redundant packages
  package-lock.json
  package.json
  scripts/types.js
  src/components/HelpPage/HelpPage.tsx
  src/hooks/router.ts
  src/types/help.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): add dotenv
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(sentry): correct Sentry plugin usage
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: react and react-dom are externals by default
  .env.example
  next.config.js
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

fix(GoalPreview): automatically open early opened GoalEditForm modal
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix: invalidate goal and project cache after clicks by watch or star buttons
  src/components/GoalPage/GoalPage.tsx
  src/components/ProjectPageLayout/ProjectPageLayout.tsx
  src/components/StarButton/StarButton.tsx
  src/components/WatchButton/WatchButton.tsx
  src/hooks/useGoalResource.ts
  src/hooks/useProjectResource.ts
Due: eslint --fix, prettier --write

fix(GoalPage): wrap content in dropdown items
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

chore: release 1.1.0
  .release_notes/1.1.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
