Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat(keyPredictor): supported transliteration
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

test(e2e): added keypredictor transliteration check
  cypress/e2e/projects.cy.ts
Due: eslint --fix, prettier --write

chore: release 2.5.0
  .release_notes/2.5.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(workflow): pr can be triggered
  .github/workflows/pr.yml
Due: none

chore(workflows): notify can be triggered
  .github/workflows/release_notify.yml
Due: none

chore(workflows): inherit secrets for manual release
  .github/workflows/manual_release.yml
Due: none

chore(workflows): inherit secrets
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/release_notify.yml
Due: none

chore(goal): new goal route
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(newGoalQuery): filters except estimates
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(newGoalQuery): estimates filter
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(workflows): pass secrets for gh release
  .github/workflows/publish.yml
Due: none

feat(CommentView): sended to crew profile when UserPic is clicked
  .env.example
  src/components/CommentView/CommentView.tsx
  src/utils/config.ts
Due: eslint --fix, prettier --write

chore(deps): bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(GoalSidebar): user can not remove partnership projects & tags
  src/components/GoalSidebar/GoalSidebar.tsx
Due: eslint --fix, prettier --write

test(e2e): to fixed combobox test
  cypress/e2e/goals.cy.ts
Due: eslint --fix, prettier --write

fix: default avatar has initials
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserBadge.tsx
  src/components/UserComboBox.tsx
Due: eslint --fix, prettier --write

chore: release 2.6.0
  .release_notes/2.6.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: goal deps redesign
  src/components/Badge.tsx
  src/components/FilterBase/FilterBase.tsx
  src/components/GoalActivityFeed.tsx
  src/components/GoalBadge.tsx
  src/components/GoalDependency/GoalDependency.i18n/en.json
  src/components/GoalDependency/GoalDependency.i18n/index.ts
  src/components/GoalDependency/GoalDependency.i18n/ru.json
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalDependencyList.tsx
  src/components/GoalDependencyList/GoalDependencyList.i18n/ru.json
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalFormPopupTrigger.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.i18n/ru.json
  src/components/GoalSidebar/GoalSidebar.tsx
  src/utils/db.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(GoalDependencyForm): remove component
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/en.json
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/index.ts
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/ru.json
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: clear view related goals
  src/components/GoalDependencyList.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/schema/goal.ts
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore(newGoalQuery): typed query
  prisma/queryRaw/goal.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
