Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1616): fix file uploads in comments
  src/components/FormControlEditor/FormControlEditor.tsx
Due: eslint --fix, prettier --write

chore: release 2.67.2
  .release_notes/2.67.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1617): fix read only comment mode
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.67.3
  .release_notes/2.67.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(INTERNAL-1624): support preset target
  generated/kysely/types.ts
  package-lock.json
  prisma/migrations/20250226082910_fitlers_target/migration.sql
  prisma/schema.prisma
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/hooks/router.ts
  src/hooks/useFiltersPreset.ts
  src/schema/filter.ts
  src/utils/getPageTitle.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.68.0
  .release_notes/2.68.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1518): fix movement on end of list
  src/components/GoalTableList/GoalTableList.tsx
Due: eslint --fix, prettier --write

feat(INTERNAL-1573): support Groupped Goals filters
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/pages/explore/projects/index.tsx
  src/utils/declareGoalsSsrProps.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.69.0
  .release_notes/2.69.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1563): isEditbale from parents
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/en.json
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/index.ts
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/ru.json
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/hooks/useGoalPreviewInvalidate.ts
  src/pages/explore/top.tsx
  src/utils/declareGoalsSsrProps.ts
  trpc/access/accessCheckers.ts
  trpc/access/accessMiddlewares.ts
  trpc/inferredTypes.ts
  trpc/queries/project.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1673): additional event data
  src/middleware.ts
  src/utils/analyticsEvent.ts
  src/utils/db/createComment.ts
  src/utils/db/index.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1563): goals isEditable from project chain
  .eslintignore
  cypress/plugins/db.ts
  prisma/schema.prisma
  src/components/GoalTableList/GoalTableList.tsx
  src/utils/db/calculatedGoalsFields.ts
  src/utils/db/connection/kysely.ts
  src/utils/db/connection/parseConnectionURL.ts
  src/utils/db/createComment.ts
  src/utils/db/generated/kysely/types.ts
  src/utils/db/getProjectEditable.ts
  src/utils/db/index.ts
  trpc/access/accessCheckers.ts
  trpc/inferredTypes.ts
  trpc/queries/activity.ts
  trpc/queries/comments.ts
  trpc/queries/criteria.ts
  trpc/queries/external.ts
  trpc/queries/filter.ts
  trpc/queries/flow.ts
  trpc/queries/goalV2.ts
  trpc/queries/history.ts
  trpc/queries/projectV2.ts
  trpc/queries/ranking.ts
  trpc/queries/tag.ts
  trpc/router/goal.ts
  trpc/router/goalV2.ts
  trpc/router/jira.ts
  trpc/router/priority.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
  trpc/router/search.ts
  trpc/router/state.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write

fix(issues/3174): fix footer
  src/components/PageFooter/PageFooter.tsx
  src/components/PageNavigation/PageNavigation.module.css
  src/components/PageNavigation/PageNavigation.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips.css
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/index.ts
  src/components/SheepLogoWithTips/SheepLogoWithTips.i18n/ru.json
  src/components/SheepLogoWithTips/SheepLogoWithTips.tsx
  src/components/SheepLogoWithTips/SheepLogoWithTips/en.json
  src/components/SheepLogoWithTips/SheepLogoWithTips/index.ts
  src/components/SheepLogoWithTips/SheepLogoWithTips/ru.json
  src/components/TitleLogo.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(issues/3174): fix footer
  src/components/PageFooter/PageFooter.tsx
Due: eslint --fix, prettier --write

feat(INTERNAL-1717): redirect from `/goals/{id}` to `/goals/{scopedId}`
  src/pages/goals/[id].tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1699): listen document visibility state
  src/components/FocusTracking.tsx
  src/components/Page/Page.tsx
  src/utils/analyticsEvent.ts
Due: eslint --fix, prettier --write

chore: support nullish value for history
  trpc/queries/history.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1346): set response link to jira issue
  src/utils/integration/jira.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.70.0
  .release_notes/2.70.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1698): append rest events
  package-lock.json
  package.json
  src/components/GoalPreview/GoalPreviewProvider.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/hooks/useClientEvent.ts
  src/utils/analyticsEvent.ts
  src/utils/db/connection/kysely.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/reaction.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1717): search goal by passed identifier
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
