Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(HotkeysModal): drop unnecessary effects
  src/components/HotkeysModal/HotkeysModal.tsx
Due: eslint --fix, prettier --write

test(e2e): project settings page
  cypress/e2e/projectSettings.cy.ts
  cypress/index.d.ts
  cypress/support/index.ts
  package-lock.json
  package.json
  prisma/seed.ts
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/SettingsContent.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalPage): align header elements
  src/components/GoalPage/GoalPage.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

fix(InlineForm): use bricks component
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/InlineForm.tsx
Due: eslint --fix, prettier --write

refactor: added _isEditable field to addCalculatedProjectFields function
  src/components/ProjectsPage/ProjectsPage.tsx
  src/pages/projects/[id]/settings.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(GoalListItem): align text
  src/components/GoalListItem.tsx
Due: eslint --fix, prettier --write

chore: icons up to date
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentsCountBadge.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/EstimateYear.tsx
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlowComboBox.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalListItem.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.tsx
  src/components/InlineTrigger.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/PageHeaderActionButton/PageHeaderActionButton.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ReactionsButton.tsx
  src/components/ReactionsDropdown.tsx
  src/components/StateDropdown.tsx
  src/components/TagComboBox.tsx
  src/components/WatchButton/WatchButton.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): bricks up to date
  package-lock.json
  package.json
  src/components/CommentsCountBadge.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FilterTabLabel.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/HelpButton/HelpButton.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/InlineTrigger.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/Tip.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: general way to get user name/email/nickname
  src/utils/getUserName.ts
Due: eslint --fix, prettier --write

perf: remove superjson
  src/utils/dateTime.ts
  src/utils/declareSsrProps.ts
  src/utils/prisma.ts
  src/utils/trpcClient.ts
  trpc/trpcBackend.ts
Due: eslint --fix, prettier --write

chore: release 1.32.0
  .release_notes/1.32.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

test(Project): additional key check
  cypress/e2e/projects.cy.ts
Due: eslint --fix, prettier --write

fix(keyPredictor): simplify impelementation and drop debounced call
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/utils/keyPredictor.test.ts
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

fix(CardHeader): show user name corectly
  src/components/CardHeader.tsx
  src/components/CommentView/CommentView.tsx
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix: typedef errors
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/UserFilter/UserFilter.tsx
  src/utils/getUserName.ts
Due: eslint --fix, prettier --write

fix(UserComboBox): getting user name
  src/components/UserComboBox.tsx
Due: eslint --fix, prettier --write

feat(users): add nickname in search params
  trpc/router/user.ts
Due: eslint --fix, prettier --write

fix: apply user name getter in whole places
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/UserBadge.tsx
  src/components/UserComboBox.tsx
  src/components/UserFilter/UserFilter.tsx
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write

feat(EstimateFilter): new estimate picker
  src/components/DashboardPage/DashboardPage.tsx
  src/components/Estimate/Estimate.i18n/en.json
  src/components/Estimate/Estimate.i18n/index.ts
  src/components/Estimate/Estimate.i18n/ru.json
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate/EstimateDate.i18n/en.json
  src/components/EstimateDate/EstimateDate.i18n/index.ts
  src/components/EstimateDate/EstimateDate.i18n/ru.json
  src/components/EstimateDate/EstimateDate.tsx
  src/components/EstimateFilter.tsx
  src/components/EstimateOption.tsx
  src/components/EstimatePopup.tsx
  src/components/EstimateQuarter.tsx
  src/components/EstimateYear.tsx
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalForm/GoalForm.i18n/en.json
  src/components/GoalForm/GoalForm.i18n/ru.json
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalForm/GoalFormEstimate.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/utils/dateTime.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(EstimateFilter): new estimate picker
  src/components/Estimate/Estimate.tsx
Due: eslint --fix, prettier --write

chore: drop legacy estimates
  prisma/migrations/20230927170929_remove_legacy_estimates/migration.sql
  prisma/schema.prisma
  src/utils/filters.ts
  trpc/router/estimates.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write

test(e2e): added an action to clear filters
  cypress/e2e/projects.cy.ts
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
