Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore(FiltersPanel): reorder filters
  src/components/FiltersPanel/FiltersPanel.tsx
Due: eslint --fix, prettier --write

chore: drop console statement
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(Goal): sort by updatedAt by default
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalsGroup.tsx
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(IssueDependenciesForm): scopedId in input field
  src/components/IssueDependenciesForm/IssueDependenciesForm.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 1.3.0
  .release_notes/1.3.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(worker): incorrect path to runner
  package.json
Due: prettier --write --parser json, node

chore: release 1.3.1
  .release_notes/1.3.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GoalHistory): db schema and seed data
  prisma/migrations/20230522102801_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/schema/goalHistory.ts
  trpc/queries/goals.ts
Due: eslint --fix, prettier --write

fix(GoalHistory): calculate typings of history
  src/utils/db.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(GoalHistory): recordings ids as changed values
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(GoalHistory): rewrite seeding GoalHistory data
  prisma/seed.ts
Due: eslint --fix, prettier --write

feat(GoalHistory): recordings changes
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/schema/goal.ts
  src/schema/goalHistory.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalHistory): query for history, drop unreachable code
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/schema/goal.ts
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(GoalHistory): recordings changes of state, participants and deps
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/components/StateSwitch.tsx
  src/schema/goal.ts
  src/schema/goalHistory.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(Goal): use count instead of max
  src/utils/db.ts
Due: eslint --fix, prettier --write

chore: release 1.4.0
  .release_notes/1.4.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: autofocus now works
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
Due: eslint --fix, prettier --write

fix: shrink text
  src/components/FormEditor/FormEditor.i18n/ru.json
Due: prettier --write --parser json, node

feat(GoalListItem): new GoalListItem design
  src/components/EstimateFilter.tsx
  src/components/GoalListItem/GoalListItem.tsx
  src/components/GoalsGroup.tsx
  src/components/PriorityText/PriorityText.i18n/ru.json
  src/components/UserGroup.tsx
  src/utils/estimateToString.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalEditForm): estimate is optional
  src/schema/goal.ts
Due: eslint --fix, prettier --write

fix(project): pass only id to connect property
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(GoalHistory): use strict type for records
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(goal): move goal to new project in update
  src/components/GoalEditForm/GoalEditForm.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write
