Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat(UserDropdown): create component
  src/components/UserDropdown/UserDropdown.i18n/en.json
  src/components/UserDropdown/UserDropdown.i18n/index.ts
  src/components/UserDropdown/UserDropdown.i18n/ru.json
  src/components/UserDropdown/UserDropdown.module.css
  src/components/UserDropdown/UserDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(PriorityDropdown): create component
  src/components/PriorityDropdown/PriorityDropdown.tsx
Due: eslint --fix, prettier --write

feat(EstimateDropdown): create component
  src/components/EstimateDropdown/EstimateDropdown.i18n/en.json
  src/components/EstimateDropdown/EstimateDropdown.i18n/index.ts
  src/components/EstimateDropdown/EstimateDropdown.i18n/ru.json
  src/components/EstimateDropdown/EstimateDropdown.module.css
  src/components/EstimateDropdown/EstimateDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalForm): harmony vision
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/FormActions/FormActions.module.css
  src/components/GoalCreateForm/GoalCreateForm.module.css
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.i18n/en.json
  src/components/GoalForm/GoalForm.i18n/ru.json
  src/components/GoalForm/GoalForm.module.css
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/HelpButton/HelpButton.module.css
  src/components/HelpButton/HelpButton.tsx
  src/components/ModalOnEvent.tsx
  src/components/PageHeaderActionButton/PageHeaderActionButton.i18n/ru.json
  src/components/PageHeaderActionButton/PageHeaderActionButton.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.module.css
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/StateWrapper.tsx
  src/components/TagComboBox.tsx
  src/components/TagsList.tsx
  src/components/TagsList/TagsList.module.css
  src/components/TagsList/TagsList.tsx
  src/components/TeamComboBox/TeamComboBox.module.css
  src/components/TeamComboBox/TeamComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(Dropdown): create component
  src/components/Dropdown/Dropdown.i18n/en.json
  src/components/Dropdown/Dropdown.i18n/index.ts
  src/components/Dropdown/Dropdown.i18n/ru.json
  src/components/Dropdown/Dropdown.module.css
  src/components/Dropdown/Dropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bump prisma to the same version that @prisma/client (4.16.2)
  package-lock.json
  package.json
Due: prettier --write --parser json, node

test(e2e): update to new goal form view
  cypress/e2e/goals.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/fixtures/langs.json
  cypress/index.d.ts
  cypress/support/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(StateDropdown): create component
  src/components/StateDropdown/StateDropdown.tsx
Due: eslint --fix, prettier --write

feat(GoalParentDropdown): create component
  src/components/GoalParentDropdown/GoalParentDropdown.i18n/en.json
  src/components/GoalParentDropdown/GoalParentDropdown.i18n/index.ts
  src/components/GoalParentDropdown/GoalParentDropdown.i18n/ru.json
  src/components/GoalParentDropdown/GoalParentDropdown.module.css
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(TagCombobox): create component
  src/components/TagComboBox/TagComboBox.i18n/en.json
  src/components/TagComboBox/TagComboBox.i18n/index.ts
  src/components/TagComboBox/TagComboBox.i18n/ru.json
  src/components/TagComboBox/TagComboBox.module.css
  src/components/TagComboBox/TagComboBox.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: appConfig prefetch
  src/components/Page/Page.tsx
  src/utils/db/index.ts
  src/utils/declareSsrProps.ts
  trpc/router/appConfig.ts
  trpc/router/index.ts
Due: eslint --fix, prettier --write

feat(GoalPreview): background color updated
  src/components/CardHeader/CardHeader.module.css
  src/components/CardHeader/CardHeader.tsx
  src/components/CommentView/CommentView.module.css
  src/components/CommentView/CommentView.tsx
  src/components/GoalContentHeader/GoalContentHeader.module.css
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/GoalPreview/GoalPreview.module.css
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix(GoalCriteria): reset form action
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.module.css
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteriaSuggest.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: remove legacy Table
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/GlobalSearch/GlobalSearch.module.css
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependency/GoalDependency.module.css
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.module.css
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
  src/components/IssueMeta.tsx
  src/components/ProjectListItem/ProjectListItem.module.css
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/ProjectListItemCompact/ProjectListItemCompact.module.css
  src/components/ProjectListItemCompact/ProjectListItemCompact.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/Table.tsx
  src/components/TableRowItem/TableRowItem.module.css
  src/components/TableRowItem/TableRowItem.tsx
  src/components/TeamListItem/TeamListItem.module.css
  src/components/TeamListItem/TeamListItem.tsx
Due: eslint --fix, prettier --write

fix: app config seed
  prisma/seed.ts
Due: eslint --fix, prettier --write

chore: release 2.23.0
  .release_notes/2.23.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalTableList): immediatly mark opening goal in preview
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

fix(GoalTableList): move open preview click handler inside `<GoalTableList />`
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

chore: release 2.23.1
  .release_notes/2.23.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: config logo
  package-lock.json
  package.json
  prisma/migrations/20240228135246_config_logo/migration.sql
  prisma/schema.prisma
  src/components/Page/Page.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeaderLogo.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: change goal preview header to harmony view
  src/components/Dropdown/Dropdown.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/GoalForm/GoalForm.module.css
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalHeader.tsx
  src/components/GoalHeader/GoalHeader.module.css
  src/components/GoalHeader/GoalHeader.tsx
  src/components/GoalPage/GoalPage.module.css
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.module.css
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/GoalPreview/GoalPreview.module.css
  src/components/GoalPreview/GoalPreview.tsx
  src/components/IssueParent.tsx
  src/components/IssueParent/IssueParent.module.css
  src/components/IssueParent/IssueParent.tsx
  src/components/IssueStats/IssueStats.module.css
  src/components/IssueStats/IssueStats.tsx
  src/components/IssueTitle.tsx
  src/components/PriorityDropdown/PriorityDropdown.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/RelativeTime/RelativeTime.module.css
  src/components/RelativeTime/RelativeTime.tsx
  src/components/StateDropdown/StateDropdown.tsx
  src/components/UserDropdown/UserDropdown.module.css
  src/components/UserDropdown/UserDropdown.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
