Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore: release 1.14.2
  .release_notes/1.14.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(TableCountable): create new Table component
  src/components/TableCountable.tsx
Due: eslint --fix, prettier --write

fix(goal): map tags id to connect
  src/utils/db.ts
Due: eslint --fix, prettier --write

fix(TagComboBox): deleted tags are not returned after being deleted
  src/components/TagComboBox.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItem): align actions right
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItemCollapsable): added background for project purposes
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

fix(FiltersPanelApplied): fixed 500 on applied preset
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
Due: eslint --fix, prettier --write

fix(TableCountable): fix row recount
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/TableCountable.tsx
Due: eslint --fix, prettier --write

chore: release 1.15.0
  .release_notes/1.15.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: update CODEOWNERS
  CODEOWNERS
Due: none

feat(Page): added footer menu
  package-lock.json
  package.json
  src/components/Page.tsx
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/index.ts
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(UserFilter): add autocomplete and server fetch
  package-lock.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/UserFilter/UserFilter.tsx
  src/schema/user.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(FiltersPanel): autocomplete for Projects/Tags/Presets
  package-lock.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PresetDropdown.tsx
  src/components/ProjectFilter.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/TagComboBox.tsx
  src/components/TagFilter.tsx
  src/schema/project.ts
  src/schema/tag.ts
  trpc/router/project.ts
  trpc/router/tag.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(FiltersPanel): autocomplete for States
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  trpc/router/index.ts
  trpc/router/state.ts
  trpc/router/tag.ts
Due: eslint --fix, prettier --write

feat(FiltersPanel): autocomplete for Priority
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PriorityFilter.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

feat(FiltersPanel): add SSR
  src/components/DashboardPage/DashboardPage.tsx
  src/components/EstimateFilter.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/pages/goals/index.tsx
  src/pages/index.tsx
  src/pages/projects/[id]/index.tsx
  src/pages/projects/index.tsx
  src/utils/declareSsrProps.ts
  trpc/router/estimates.ts
  trpc/router/index.ts
  trpc/router/project.ts
  trpc/router/tag.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

fix(ProjectListItemCollapsable): uncollapsable items are not intercative
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

fix(GoalDependencies): another one fixes pack
  src/hooks/useGoalDependencyResource.ts
  src/schema/goal.ts
  src/utils/db.ts
  trpc/inferredTypes.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalDependencies): rewrite api methods and minor fixes
  src/schema/goal.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalDependencies): refactor form component state
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalSuggest.tsx
Due: eslint --fix, prettier --write

fix(GoalDependencies): add validation form, minor fixes
  src/components/ActivityFeed.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/en.json
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/ru.json
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/InlineForm.tsx
  src/schema/goal.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(InlineForm,GoalListItemCompact): comfortable components
  src/components/ActivityFeed.tsx
  src/components/Circle.tsx
  src/components/GoalActivity.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/en.json
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/index.ts
  src/components/GoalDependencyForm/GoalDependencyForm.i18n/ru.json
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
  src/components/GoalDependencyList/GoalDependencyList.i18n/en.json
  src/components/GoalDependencyList/GoalDependencyList.i18n/index.ts
  src/components/GoalDependencyList/GoalDependencyList.i18n/ru.json
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
  src/components/InlineForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalCriteria): drop unsed code
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

feat(GoalDependencies): use new components and drop unused legacy components
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSuggest.tsx
  src/components/IssueDependencies/IssueDependencies.i18n/en.json
  src/components/IssueDependencies/IssueDependencies.i18n/index.ts
  src/components/IssueDependencies/IssueDependencies.i18n/ru.json
  src/components/IssueDependencies/IssueDependencies.tsx
  src/components/IssueDependenciesForm/IssueDependenciesForm.i18n/en.json
  src/components/IssueDependenciesForm/IssueDependenciesForm.i18n/index.ts
  src/components/IssueDependenciesForm/IssueDependenciesForm.i18n/ru.json
  src/components/IssueDependenciesForm/IssueDependenciesForm.tsx
  src/components/IssueDependenciesList/IssueDependenciesList.i18n/en.json
  src/components/IssueDependenciesList/IssueDependenciesList.i18n/index.ts
  src/components/IssueDependenciesList/IssueDependenciesList.i18n/ru.json
  src/components/IssueDependenciesList/IssueDependenciesList.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.16.0
  .release_notes/1.16.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node
