Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

refactor: move navigation sidebar to the @taskany/bricks
  package-lock.json
  package.json
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/NavigationSidebar/NavigationSidebar.tsx
  src/components/PageNavigation/PageNavigation.module.css
  src/components/PageNavigation/PageNavigation.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: remove repeated code block
  src/components/PageNavigation/PageNavigation.tsx
Due: eslint --fix, prettier --write

fix(GoalTableList): overflow goal owner name
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(SortList): union useMemo calls
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

feat(SortList): brand new component
  cypress/fixtures/langs.json
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/SortButton/SortButton.tsx
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/index.ts
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.module.css
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Dashboard,Goals,Project): correct sort order
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/SortButton/SortButton.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

fix(Sorting): remove unused code
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/SortList/SortList.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.48.0
  .release_notes/2.48.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GoalSidebar): clone goal
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.i18n/ru.json
  src/components/GoalSidebar/GoalSidebar.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: kanban mode
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GoalsKanbanCard/GoalsKanbanCard.module.css
  src/components/GoalsKanbanCard/GoalsKanbanCard.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/Kanban/Kanban.module.css
  src/components/Kanban/Kanban.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.module.css
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/router.ts
  src/hooks/useUrlFilterParams.ts
  src/utils/kanban.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: kanban mode
  .github/workflows/e2e.yml
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GoalsKanbanCard/GoalsKanbanCard.module.css
  src/components/GoalsKanbanCard/GoalsKanbanCard.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/Kanban/Kanban.module.css
  src/components/Kanban/Kanban.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.module.css
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/router.ts
  src/hooks/useUrlFilterParams.ts
  src/utils/kanban.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.49.0
  .release_notes/2.49.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: filter update with view props
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

chore: release 2.49.1
  .release_notes/2.49.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(GrouppedGoals): rewrite prisma with kysely for get project list
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GrouppedGoalListV2.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat(GrouppedGoals): rewrite project children getter from prisma to kysely
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix: add nothing found in global search
  cypress/fixtures/langs.json
  src/components/GlobalSearch/GlobalSearch.i18n/en.json
  src/components/GlobalSearch/GlobalSearch.i18n/ru.json
  src/components/GlobalSearch/GlobalSearch.module.css
  src/components/GlobalSearch/GlobalSearch.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: add create goal, star, watch icon buttons to project row on dashboard
  cypress/fixtures/langs.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectSubscriptionIconButtons/ProjectSubscriptionIconButtons.module.css
  src/components/ProjectSubscriptionIconButtons/ProjectSubscriptionIconButtons.tsx
  src/components/StarButton/StarButton.tsx
  src/components/WatchButton/WatchButton.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalTableList): mark partnership goals
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectListItemConnected.tsx
  src/utils/dateTime.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(Kanban,GoalTableList): data mapping to props
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GoalsKanbanCard/GoalsKanbanCard.tsx
  src/components/Kanban/Kanban.tsx
  src/components/ProjectListItemConnected.tsx
  src/utils/kanban.ts
Due: eslint --fix, prettier --write

feat(GroupedGoalView,ProjectListItem): rewrite goals project getter with kysely
  cypress/fixtures/langs.json
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GroupedGoalList.tsx
  src/components/GrouppedGoalListV2.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/en.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/index.ts
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/ru.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/utils/kanban.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.49.2
  .release_notes/2.49.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(Kanban,GoalTableList): data mapping to props
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GoalsKanbanCard/GoalsKanbanCard.tsx
  src/components/Kanban/Kanban.tsx
  src/components/ProjectListItemConnected.tsx
  src/utils/kanban.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix: e2e on dashboard and projects pages
  cypress/e2e/dashboard.cy.ts
  package-lock.json
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.i18n/en.json
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.i18n/index.ts
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.i18n/ru.json
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.tsx
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(ProjectSubscriptionButtons): remove component icon button, add new icon variant
  cypress/fixtures/langs.json
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/NoGoalsText/NoGoalsText.i18n/en.json
  src/components/NoGoalsText/NoGoalsText.i18n/index.ts
  src/components/NoGoalsText/NoGoalsText.i18n/ru.json
  src/components/NoGoalsText/NoGoalsText.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectSubscriptionButtons.tsx
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.i18n/en.json
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.i18n/index.ts
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.i18n/ru.json
  src/components/ProjectSubscriptionButtons/ProjectSubscriptionButtons.tsx
  src/components/ProjectSubscriptionIconButtons/ProjectSubscriptionIconButtons.module.css
  src/components/ProjectSubscriptionIconButtons/ProjectSubscriptionIconButtons.tsx
  src/components/StarButton/StarButton.tsx
  src/components/WatchButton/WatchButton.module.css
  src/components/WatchButton/WatchButton.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: remove inactive icons from project list item
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/components/ProjectListItem/ProjectListItem.module.css
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write
