Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

useCommentResource hook
  src/hooks/useCommentResource.ts
Due: eslint --fix, prettier --write

useReactionProps hook
  src/hooks/useReactionsProps.ts
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

move out CommentForm and ActivityFeed
  i18n/en.json
  i18n/ru.json
  src/components/ActivityFeed.tsx
  src/components/Button.tsx
  src/components/CommentCreateForm.tsx
  src/components/CommentEditForm.tsx
  src/components/CommentForm.tsx
  src/components/CommentView.tsx
  src/components/FormActions.tsx
  src/components/FormEditor.tsx
  src/components/GoalPreview.tsx
  src/hooks/useHighlightedComment.ts
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

support reactions in GoalPreview
  src/components/GoalPreview.tsx
Due: eslint --fix, prettier --write

useReactionsResource hook
  src/components/CommentView.tsx
  src/components/GoalPreview.tsx
  src/components/Reactions.tsx
  src/hooks/useReactionsProps.ts
  src/hooks/useReactionsResource.ts
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

fix scroll in GoalPreview and modal shadow for light theme
  src/components/ActivityFeed.tsx
  src/components/GoalPreview.tsx
  src/components/ModalPreview.tsx
Due: eslint --fix, prettier --write

remove focus on new comment via click
  src/components/CommentCreateForm.tsx
  src/components/FormEditor.tsx
  src/components/GoalPreview.tsx
  src/components/IssueStats.tsx
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

support file uploading in FormEditor
  package-lock.json
  package.json
  src/components/CommentCreateForm.tsx
  src/components/CommentForm.tsx
  src/components/FormEditor.tsx
  src/hooks/useUpload.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

disable Sentry in dev env
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

fix upload path
  src/pages/api/upload.ts
Due: eslint --fix, prettier --write

update comments i18n
  i18n/en.json
  i18n/ru.json
Due: prettier --write --parser json, node

fix tags creating via enter key
  src/components/ComboBox.tsx
  src/components/TagComboBox.tsx
Due: eslint --fix, prettier --write

flowRecommended completion
  src/components/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write

Team model and resolvers
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  prisma/migrations/20221216162858_/migration.sql
  prisma/migrations/20221216165107_/migration.sql
  prisma/schema.prisma
Due: eslint --fix, prettier --write

remove is helper and attach types to css components
  src/components/Button.tsx
  src/components/EstimateComboBox.tsx
  src/components/Form.tsx
  src/components/FormActions.tsx
  src/components/FormInput.tsx
  src/components/FormTextarea.tsx
  src/components/Input.tsx
  src/components/InputContaier.tsx
  src/components/IssueListItem.tsx
  src/components/Link.tsx
  src/components/Popup.tsx
  src/components/ProjectListItem.tsx
  src/components/Tag.tsx
  src/components/Text.tsx
  src/utils/styles.ts
Due: eslint --fix, prettier --write

remove css helper usage
  src/components/Badge.tsx
  src/components/Button.tsx
  src/components/ColorizedMenuItem.tsx
  src/components/CommentView.tsx
  src/components/CommonHeader.tsx
  src/components/Dot.tsx
  src/components/EstimateComboBox.tsx
  src/components/FiltersMenuItem.tsx
  src/components/FormActions.tsx
  src/components/FormEditor.tsx
  src/components/FormInput.tsx
  src/components/FormRadio.tsx
  src/components/FormTextarea.tsx
  src/components/GoalListItem.tsx
  src/components/GoalMenuItem.tsx
  src/components/Header.tsx
  src/components/Icon.tsx
  src/components/Input.tsx
  src/components/InputContaier.tsx
  src/components/Link.tsx
  src/components/MenuItem.tsx
  src/components/Modal.tsx
  src/components/Plus.tsx
  src/components/Popup.tsx
  src/components/ProjectMenuItem.tsx
  src/components/SettingsContent.tsx
  src/components/State.tsx
  src/components/StateDot.tsx
  src/components/TabsMenu.tsx
  src/components/Tag.tsx
  src/components/UserMenuItem.tsx
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

this is TeamCreateForm
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/Page.tsx
  src/components/TeamCreateForm.tsx
  src/hooks/router.ts
  src/pages/help/source/en/teams.md
  src/pages/help/source/ru/teams.md
  src/utils/dispatchModal.ts
  src/utils/hotkeys.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

unnecessary callback
  src/components/GoalPreview.tsx
Due: eslint --fix, prettier --write

incorrect description in GoalPreview, #485
  src/components/Md.tsx
Due: eslint --fix, prettier --write

Team basic views
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  prisma/migrations/20221221200109_/migration.sql
  prisma/migrations/20221221200207_/migration.sql
  prisma/schema.prisma
  src/components/Page.tsx
  src/components/TeamCreateForm.tsx
  src/components/TeamPageLayout.tsx
  src/hooks/router.ts
  src/pages/explore/projects.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/projects/[key]/settings.tsx
  src/pages/teams/[slug]/goals.tsx
  src/pages/teams/[slug]/index.tsx
  src/pages/teams/[slug]/settings.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

explore teams
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/ExplorePageLayout.tsx
  src/components/TeamListItem.tsx
  src/pages/explore/projects.tsx
  src/pages/explore/teams.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

explore navigates to teams
  src/components/Header.tsx
Due: eslint --fix, prettier --write

fix i18n key
  i18n/ru.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
