Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: update Modal elements
  package-lock.json
  package.json
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.module.css
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.module.css
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalPreview/GoalPreview.module.css
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HotkeysModal/HotkeysModal.tsx
  src/components/ImageFullScreen/ImageFullScreen.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.module.css
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/WhatsNew/WhatsNew.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: replace form elements
  package-lock.json
  src/components/CommentForm/CommentForm.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FormActions/FormActions.module.css
  src/components/FormActions/FormActions.tsx
  src/components/GoalCreateForm/GoalCreateForm.module.css
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalEditForm/GoalEditForm.module.css
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.module.css
  src/components/GoalForm/GoalForm.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.module.css
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.module.css
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
  src/components/UserSettingsPage/UserSettingsPage.module.css
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: harmony Fieldset
  package-lock.json
  package.json
  src/components/GoalContentHeader/GoalContentHeader.module.css
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.39.0
  .release_notes/2.39.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: update Md, PageLoadProgress, ListView, Footer
  package-lock.json
  package.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/FlatGoalList.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GroupedGoalList.tsx
  src/components/Md.tsx
  src/components/NavigationSidebar/NavigationSidebar.tsx
  src/components/PageFooter/PageFooter.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/UserComboBox.tsx
  src/components/WhatsNewLayout.tsx
  src/hooks/usePageLoad.ts
  src/pages/_app.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: use Switch instead of AutoCompleteRadioGroup
  cypress/e2e/goalDependencies.cy.ts
  src/components/GoalDependency/GoalDependency.module.css
  src/components/GoalDependency/GoalDependency.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

chore: remove legacy ComboBox
  package-lock.json
  src/components/FlowComboBox.tsx
  src/components/FlowDropdown/FlowDropdown.i18n/en.json
  src/components/FlowDropdown/FlowDropdown.i18n/index.ts
  src/components/FlowDropdown/FlowDropdown.i18n/ru.json
  src/components/FlowDropdown/FlowDropdown.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.module.css
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.module.css
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserBadge/UserBadge.tsx
  src/components/UserComboBox.tsx
  src/components/UserDropdown/UserDropdown.tsx
  src/components/UserEditableList/UserEditableList.tsx
  src/hooks/useGoalResource.ts
  src/schema/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: remove styled-components from project
  cypress/support/index.ts
  next.config.js
  package-lock.json
  package.json
  src/components/Page/Page.tsx
  src/components/Theme.tsx
  src/components/WhatsNewLayout.tsx
  src/hooks/useMarkdown.tsx
  src/pages/_document.tsx
  src/styles/dark.css
  src/styles/light.css
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: return Gravatar host
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.39.1
  .release_notes/2.39.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: look up crew users by default
  src/components/AppliedUsersFilter/AppliedUsersFilter.tsx
  src/components/UserDropdown/UserDropdown.tsx
  src/hooks/useUserResource.ts
  src/types/crew.ts
  trpc/router/crew.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

fix: return typography
  package-lock.json
  package.json
  src/components/Md.tsx
  src/components/WhatsNewLayout.tsx
  src/hooks/useMarkdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: name for selected user
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

chore: release 2.40.0
  .release_notes/2.40.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: goal form update state problem
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/GoalForm/GoalForm.tsx
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

feat: add GoalParentCombobox to Project Create Modal
  src/components/Dropdown/Dropdown.i18n/en.json
  src/components/Dropdown/Dropdown.i18n/ru.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/components/ProjectContext/ProjectContext.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/en.json
  src/components/ProjectCreateForm/ProjectCreateForm.i18n/ru.json
  src/components/ProjectCreateForm/ProjectCreateForm.module.css
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/pages/projects/[id]/index.tsx
  src/schema/project.ts
  src/utils/declareSsrProps.ts
  trpc/queries/projectV2.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: remove nested projects from serp
  src/utils/declareGoalsSsrProps.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 2.41.0
  .release_notes/2.41.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(Settings): email notify control
  generated/kysely/types.ts
  prisma/migrations/20240611095016_/migration.sql
  prisma/schema.prisma
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/schema/user.ts
  src/utils/db/createComment.ts
  src/utils/prepareRecipients.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
