Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(lint): prefer destructing
  .eslintrc.js
Due: eslint --fix, prettier --write

feat(FilterPanel): add new components
  src/components/FilterBase/FilterBase.i18n/en.json
  src/components/FilterBase/FilterBase.i18n/index.ts
  src/components/FilterBase/FilterBase.i18n/ru.json
  src/components/FilterBase/FilterBase.tsx
  src/components/FilterCheckbox.tsx
  src/components/FilterPopup/FilterPopup.i18n/en.json
  src/components/FilterPopup/FilterPopup.i18n/index.ts
  src/components/FilterPopup/FilterPopup.i18n/ru.json
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FilterTabLabel.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(FilterPanel): replace Dropdown components to Tab and AutoComplete components
  src/components/PriorityFilter.tsx
  src/components/ProjectFilter.tsx
  src/components/StateFilter.tsx
  src/components/TagFilter.tsx
  src/components/UserFilter/UserFilter.tsx
Due: eslint --fix, prettier --write

feat(*Page): apply new component api
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
Due: eslint --fix, prettier --write

feat(FilterPanel): apply new components for panel
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
Due: eslint --fix, prettier --write

fix(FilterPanel): apply visual styles
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.i18n/en.json
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.i18n/index.ts
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.i18n/ru.json
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
  src/components/FilterBase/FilterBase.tsx
  src/components/FilterCheckbox.tsx
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FilterTabLabel.tsx
  src/components/PriorityFilter.tsx
  src/components/ProjectFilter.tsx
  src/components/StateFilter.tsx
  src/components/TagFilter.tsx
  src/components/UserFilter/UserFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(useUrlFilterParams): append batch method update for state
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

feat(SortFilter): rewrite filter with AutoComplete usage
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/LimitDropdown.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/SortFilter/SortFilter.tsx
  src/hooks/useUrlFilterParams.ts
  src/schema/common.ts
Due: eslint --fix, prettier --write

fix(FilterPanel): visual changes
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
  src/components/FilterCheckbox.tsx
  src/components/FilterTabLabel.tsx
Due: eslint --fix, prettier --write

fix(FilterTabLabel): drop unnecassery code
  src/components/FilterTabLabel.tsx
Due: eslint --fix, prettier --write

fix(CreateGoal): can create goal for empty project
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.i18n/en.json
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.i18n/index.ts
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.i18n/ru.json
  src/components/InlineCreateGoalControl/InlineCreateGoalControl.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: use new component
  src/components/DashboardPage/DashboardPage.i18n/en.json
  src/components/DashboardPage/DashboardPage.i18n/ru.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.32.0
  .release_notes/1.32.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: create and apply DOM attrs
  src/components/CollapsableItem.tsx
  src/components/CommonHeader.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalsGroup.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

test(Project): correct data and behavior
  cypress/e2e/projects.cy.ts
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

ci(e2e): save artifacts if tests is failure
  .github/workflows/e2e.yml
Due: none

chore(CriteriaForm): drop unnecessary effects
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write

chore(GoalDependencyAddForm): drop unnecessary effects
  src/components/GoalDependencyForm/GoalDependencyForm.tsx
Due: eslint --fix, prettier --write

chore(UserSettingsPage): drop unnecessary effects
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write

chore(GoalSuggest): drop unnecessary effects
  src/components/GoalSuggest.tsx
Due: eslint --fix, prettier --write

chore(HotkeysModal): drop unnecessary effects
  src/components/HotkeysModal/HotkeysModal.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
