Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(prisma): partnership projects relation
  prisma/migrations/20231008175304_/migration.sql
  prisma/schema.prisma
Due: none

feat: cross project goals
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.i18n/ru.json
  src/components/GoalSidebar/GoalSidebar.tsx
  src/hooks/useGoalResource.ts
  src/schema/goal.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): bricks up to date
  package-lock.json
Due: prettier --write --parser json, node

feat: state dot for pinned comment
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

fix(HistoryRecord): add partner projects record
  src/components/GoalActivity.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/types/history.ts
  src/utils/db.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(fillDevData): updated deprecated data
  scripts/fillDevData.ts
Due: eslint --fix, prettier --write

refactor!: remove field "priority" from goal model
  prisma/migrations/20231012130004_/migration.sql
  prisma/schema.prisma
Due: none

fix: added priority model instead of string
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalActivity.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/PriorityDropdown.tsx
  src/components/PriorityFilter.tsx
  src/schema/goal.ts
  src/types/history.ts
  src/utils/db.ts
  trpc/inferredTypes.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/index.ts
  trpc/router/priority.ts
Due: eslint --fix, prettier --write

refactor: priority string replaced with priority model
  scripts/fillDevData.ts
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalHeader.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

feat(GoalPreview): added sidebar like on GoalPage
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.i18n/en.json
  src/components/GoalPreview/GoalPreview.i18n/ru.json
  src/components/GoalPreview/GoalPreview.tsx
  src/components/TagComboBox.tsx
  src/types/tag.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: added field "default" to priority model
  prisma/migrations/20231013090023_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/schema/goal.ts
Due: eslint --fix, prettier --write

chore: e2e create/edit/delete goal access
  cypress/e2e/goals.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/index.d.ts
  cypress/support/index.ts
  prisma/migrations/20231012123728_goal_fields_cascade_delete/migration.sql
  prisma/schema.prisma
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalHeader.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/InlineTrigger.tsx
  src/components/IssueParent.tsx
  src/components/IssueTitle.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

chore(api): drop unnecessary code, add goals count route
  src/schema/common.ts
  trpc/router/filter.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(GoalsPage): add new components
  src/components/FilteredPage.tsx
  src/components/FlatGoalList.tsx
  src/components/GroupedGoalList.tsx
Due: eslint --fix, prettier --write

feat(GoalsPage,ProjectsPage): union goals and projects page
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalsPage/GoalsPage.i18n/en.json
  src/components/GoalsPage/GoalsPage.i18n/ru.json
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectPage/ProjectPage.i18n/en.json
  src/components/ProjectPage/ProjectPage.i18n/index.ts
  src/components/ProjectPage/ProjectPage.i18n/ru.json
  src/components/ProjectPage/ProjectPage.tsx
  src/hooks/router.ts
  src/hooks/useUrlFilterParams.ts
  src/pages/projects/[id]/index.tsx
  src/pages/projects/index.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(FilterPresetForm): simplify api
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
Due: eslint --fix, prettier --write

fix(GoalList): drop unused component
  src/components/GoalList.tsx
Due: eslint --fix, prettier --write

fix(FilterPanel): move Group control near Filter control
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FilteredPage/FilteredPage.i18n/en.json
  src/components/FilteredPage/FilteredPage.i18n/index.ts
  src/components/FilteredPage/FilteredPage.i18n/ru.json
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.i18n/en.json
  src/components/GoalsPage/GoalsPage.i18n/ru.json
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(HistoryRecord): show pretext for changed owner
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

chore: release 2.0.0
  .release_notes/2.0.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: removed unnecessary styles for dropdown menu items
  src/components/CommentView/CommentView.tsx
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
