Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalCriteriaItem): move remove button into title cell
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix(db): use default value for max function
  src/utils/db.ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): do not show zero weight
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix(CriteriaForm): hover for trigger content only
  src/components/CriteriaForm/CriteriaForm.tsx
Due: eslint --fix, prettier --write

fix(ColorizedMenuItem): return StateDot as marker
  src/components/ColorizedMenuItem.tsx
Due: eslint --fix, prettier --write

feat(ProjectListItem): button to open Project at new page
  package-lock.json
  package.json
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectsPage/ProjectsPage.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(PriorityText): remove PriorityText component
  src/components/PriorityText/PriorityText.tsx
Due: eslint --fix, prettier --write

feat(HistoryRecord): remove PriorityText component
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

feat(PriorityDropdown): remove PriorityText component
  src/components/PriorityDropdown.tsx
Due: eslint --fix, prettier --write

fix(TableRow): remove <a> from TableRow
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemCompact.tsx
  src/components/Table.tsx
Due: eslint --fix, prettier --write

feat(Settings): introduce beta testing
  prisma/migrations/20230628205205_/migration.sql
  prisma/schema.prisma
  src/components/BetaBadge.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/schema/user.ts
  src/utils/auth.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): bump bricks
  package-lock.json
Due: prettier --write --parser json, node

refactor(GoalPage): remove legacy modal visibility code
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

feat(GoalPage): transfer goal to other project
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalPage/GoalPage.i18n/en.json
  src/components/GoalPage/GoalPage.i18n/ru.json
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentComboBox.tsx
  src/components/UserComboBox.tsx
  src/utils/db.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.14.0
  .release_notes/1.14.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(ProjectListItem): remove conditional render
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

fix(CommentForm): pass value to hidden inputs
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write

chore: release 1.14.1
  .release_notes/1.14.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(State): desaturate stroke color
  src/components/State.tsx
  src/components/StateDot.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItemCollapsable): fix no goals text
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

chore: release 1.14.2
  .release_notes/1.14.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
