Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(GroupedGoalList): collapse projects by default
  package-lock.json
  package.json
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: optional OS specific bindings for @swc/core
  package-lock.json
Due: prettier --write --parser json, node

fix(UserComboBox): provided user image
  src/components/UserComboBox.tsx
Due: eslint --fix, prettier --write

fix(GroupedGoalList): `Create Goal` mirage
  src/components/CollapsableItem.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItemConnected): correct project links
  src/components/GroupedGoalList.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItemConnected): subscribe to archive goal from preview
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

refactor(GoalCriteria): refactor ui
  src/components/ActivityFeed.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalListItemCompact.tsx
Due: eslint --fix, prettier --write

chore: release 2.1.2
  .release_notes/2.1.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: links on hover are blue & actions are textColor
  src/components/CommentView/CommentView.tsx
  src/components/CommentsCountBadge.tsx
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/GoalListItem.tsx
  src/components/Light.tsx
  src/components/PageFooter/PageFooter.tsx
  src/components/ReactionsDropdown.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

chore(deps): bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(Circle): remove useless styles
  src/components/Circle.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

feat: delete estimates
  src/components/Estimate/Estimate.tsx
  src/components/Estimate/EstimateProvider.tsx
  src/components/EstimateDate/EstimateDate.tsx
  src/components/EstimateOption.tsx
  src/components/EstimateQuarter/EstimateQuarter.tsx
  src/components/EstimateYear/EstimateYear.tsx
  src/components/GoalForm/GoalFormEstimate.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.2.0
  .release_notes/2.2.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: empty projects should be hidden when filters are selected
  src/components/ProjectListItemConnected.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(UserGroup): fix types error
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write

chore: update @taskany/bricks
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.2.1
  .release_notes/2.2.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: taskany/bricks to deps
  package.json
Due: prettier --write --parser json, node

chore: release 2.2.2
  .release_notes/2.2.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalCriteria): remove layout shift
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
