Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

refactor: remove inactive icons from project list item
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/components/ProjectListItem/ProjectListItem.module.css
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectPage/ProjectPage.tsx
Due: eslint --fix, prettier --write

chore: release 2.50.0
  .release_notes/2.50.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(ExploreProjectsPage): change button view to icon
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
Due: eslint --fix, prettier --write

fix(GoalTableList): calculate partnership projects
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore: release 2.50.1
  .release_notes/2.50.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(ProjectSubscriptionButtons): change view to icons on goals and child projects on project page
  src/components/GroupedGoalList.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

fix: project list item color
  src/components/TableRowItem/TableRowItem.module.css
Due: none

fix: no goals padding
  src/components/DashboardPage/DashboardPage.tsx
Due: eslint --fix, prettier --write

feat(GoalForm): decrease title length upto 6 symbols
  src/schema/goal.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.50.2
  .release_notes/2.50.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: warnings & sidebar navigation
  package-lock.json
  package.json
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/PageNavigation/PageNavigation.module.css
  src/components/PageNavigation/PageNavigation.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalCriteriaSuggest): weight validation
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
Due: eslint --fix, prettier --write

chore: release 2.51.0
  .release_notes/2.51.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: tooltip to user
  src/components/GoalTableList/GoalTableList.tsx
  src/components/UserBadge/UserBadge.tsx
Due: eslint --fix, prettier --write

feat(telemetry): use middleware for pageviews
  src/middleware.ts
Due: eslint --fix, prettier --write

feat(GrouppedGoals): rewrite project children getter from prisma to kysely
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

refactor(GoalForm): descriminate validation by goal type
  cypress/fixtures/langs.json
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/hooks/useGoalResource.ts
  src/schema/goal.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(PartnershipProjects): disallow works with current project as partnership
  src/components/GoalSidebar/GoalSidebar.tsx
  src/utils/db/index.ts
  trpc/router/goal.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GroupedGoalView,ProjectListItem): rewrite goals project getter with kysely
  cypress/fixtures/langs.json
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/GroupedGoalList.tsx
  src/components/GrouppedGoalListV2.tsx
  src/components/ProjectListItemConnected.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/en.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/index.ts
  src/components/ProjectListItemConnected/ProjectListItemConnected.i18n/ru.json
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/schema/common.ts
  src/utils/kanban.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: z-index suggestions
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(GoalCriteria): exclude current criterion from validity data
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write
