Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

refactor: use translit function from bricks lib
  package-lock.json
  package.json
  src/utils/translit.test.ts
  src/utils/translit.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: privacy type Switch
  package-lock.json
  package.json
  src/components/ProjectAccessUser/ProjectAccessUser.i18n/en.json
  src/components/ProjectAccessUser/ProjectAccessUser.i18n/ru.json
  src/components/ProjectAccessUser/ProjectAccessUser.module.css
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.module.css
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.tsx
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.i18n/en.json
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.i18n/index.ts
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.i18n/ru.json
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.module.css
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.tsx
  src/components/SettingsContent/SettingsContent.module.css
  src/components/SettingsContent/SettingsContent.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: support top page
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/pages/explore/projects.tsx
  src/pages/explore/top.tsx
Due: eslint --fix, prettier --write

feat: privacy type Switch
  package-lock.json
  src/components/ProjectAccessUser/ProjectAccessUser.i18n/en.json
  src/components/ProjectAccessUser/ProjectAccessUser.i18n/ru.json
  src/components/ProjectAccessUser/ProjectAccessUser.module.css
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.module.css
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.tsx
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.i18n/en.json
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.i18n/index.ts
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.i18n/ru.json
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.module.css
  src/components/ProjectSwitchPublicConfirmModal/ProjectSwitchPublicConfirmModal.tsx
  src/components/SettingsContent/SettingsContent.module.css
  src/components/SettingsContent/SettingsContent.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(db): add `kysely` provider
  .eslintignore
  generated/kysely/types.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/utils/db/index.ts
  src/utils/declareSsrProps.ts
  trpc/connection/kysely.ts
  trpc/connection/utils.ts
  trpc/queries/criteria.ts
  trpc/queries/filter.ts
  trpc/queries/flow.ts
  trpc/queries/projectV2.ts
  trpc/queries/tag.ts
  trpc/router/filter.ts
  trpc/router/flow.ts
  trpc/router/goal.ts
  trpc/router/index.ts
  trpc/router/priority.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
  trpc/router/state.ts
  trpc/router/tag.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.38.0
  .release_notes/2.38.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: replace UserPic
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserComboBox.tsx
Due: eslint --fix, prettier --write

fix(TagsFilter): querying suggests
  src/components/AppliedTagFilter/AppliedTagFilter.tsx
  src/components/TagDropdown/TagDropdown.tsx
  trpc/queries/tag.ts
  trpc/router/tag.ts
Due: eslint --fix, prettier --write

fix(Criteria): correct sotring
  package-lock.json
  package.json
  src/components/GoalCriteria/GoalCriteria.tsx
  trpc/queries/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.38.1
  .release_notes/2.38.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: remove legacy Autocomplete
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FilterBase/FilterBase.i18n/en.json
  src/components/FilterBase/FilterBase.tsx
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalSelect.tsx
  src/components/GoalSelect/GoalSelect.i18n/en.json
  src/components/GoalSelect/GoalSelect.i18n/index.ts
  src/components/GoalSelect/GoalSelect.i18n/ru.json
  src/components/GoalSelect/GoalSelect.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: dom warning
  src/components/FiltersBar/FiltersBar.tsx
Due: eslint --fix, prettier --write

chore: update Keyboard
  src/components/HotkeysModal/HotkeysModal.tsx
  src/components/RotatableTip/RotatableTip.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
Due: eslint --fix, prettier --write

chore: release 2.38.2
  .release_notes/2.38.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: update Card
  package-lock.json
  package.json
  src/components/CommentView/CommentView.tsx
  src/components/SettingsContent/SettingsContent.module.css
  src/components/SettingsContent/SettingsContent.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: update Text from bricks
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/KeyInput/KeyInput.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write

chore: update KeyInput
  package-lock.json
  src/components/KeyInput/KeyInput.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: replace UserGroup
  package-lock.json
  package.json
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCompact/ProjectListItemCompact.tsx
  src/components/UserDropdown/UserDropdown.tsx
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: update Popup from bricks
  src/components/Reactions/Reactions.tsx
Due: eslint --fix, prettier --write

chore: replace legacy tag combobox
  src/components/GoalSidebar/GoalSidebar.module.css
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/TagComboBox.tsx
  src/components/TagComboBox/TagComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
Due: eslint --fix, prettier --write

fix: getUserName should return name before nickname
  src/utils/getUserName.ts
Due: eslint --fix, prettier --write
