Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat(upload): upload attaches with error handling
  package-lock.json
  package.json
  src/pages/api/upload.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(UserGroup): use component from bricks
  src/components/UserGroup.tsx
Due: eslint --fix, prettier --write

chore(Page): dynamic load for GoalPreview
  src/components/GoalPreview/GoalPreview.tsx
  src/components/Page.tsx
Due: eslint --fix, prettier --write

fix(ProjectListItemConnected): return hidden projects
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore: release 1.21.0
  .release_notes/1.21.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: setup mdx pages
  next.config.js
  package-lock.json
  package.json
  src/components/WhatsNewLayout.tsx
  src/pages/whatsnew/1.0.0.mdx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(CommentView): use memoized StateDot
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

chore(CollapsableItem): new version of Collapsable Item Component
  src/components/CollapsableItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

feat: onboarding mechanic
  prisma/migrations/20230808204342_/migration.sql
  prisma/schema.prisma
  src/components/Page.tsx
  src/components/WhatsNew/WhatsNew.i18n/en.json
  src/components/WhatsNew/WhatsNew.i18n/index.ts
  src/components/WhatsNew/WhatsNew.i18n/ru.json
  src/components/WhatsNew/WhatsNew.tsx
  src/hooks/router.ts
  src/schema/release.ts
  src/utils/dispatchModal.ts
  src/utils/getLang.ts
  trpc/router/index.ts
  trpc/router/whatsnew.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalPage): check participant before add
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

fix(GoalPage): check project before transfer
  src/components/GoalPage/GoalPage.tsx
Due: eslint --fix, prettier --write

fix(GlobalSearch): check item before redirect
  src/components/GlobalSearch/GlobalSearch.tsx
Due: eslint --fix, prettier --write

chore: change button to trigger & add ts to onclick prop
  src/components/DashboardPage/DashboardPage.tsx
Due: eslint --fix, prettier --write

chore: rewrite request from goals to projects on dashboard
  src/components/DashboardPage/DashboardPage.i18n/en.json
  src/components/DashboardPage/DashboardPage.i18n/ru.json
  src/components/DashboardPage/DashboardPage.tsx
  src/pages/index.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

docs: add comments
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: remove unused getUserGoals
  src/components/DashboardPage/DashboardPage.tsx
  src/utils/dispatchModal.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(Database): use re-generate migration to match db values
  prisma/migrations/20230809142748_change_values_to_match_sql/migration.sql
  prisma/schema.prisma
Due: none

fix(ProjectListItemConnected): remove react context
  src/components/CollapsableItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore(ci): return e2e workflow
  .github/workflows/e2e.yml
  docker-compose.ci.yml
Due: none

chore(cypress): disable video recording
  cypress.config.ts
Due: eslint --fix, prettier --write

chore(workflows): type-check in linters, full build in e2e
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
Due: none

chore(e2e): run migrations before specs
  Dockerfile
  docker-compose.ci.yml
Due: none

chore: bump cypress
  .github/workflows/e2e.yml
  package-lock.json
  package.json
Due: prettier --write --parser json, node

test(e2e): sign in as admin
  cypress/e2e/dashboard.cy.ts
  cypress/e2e/home_page.cy.ts
Due: eslint --fix, prettier --write

chore(jest): resolve types conflicts
  package-lock.json
  package.json
  src/utils/calculateDiffBetweenArrays.test.ts
  src/utils/dateTime.test.ts
  src/utils/keyPredictor.test.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(e2e): provide env variables
  .github/workflows/e2e.yml
  cypress.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
