Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix: return sorting to Dasboard page
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(GoalPreview): versa criteria click now open preview
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

fix: add participants edit access
  src/utils/db/calculatedGoalsFields.ts
Due: eslint --fix, prettier --write

chore: harmony tips
  package-lock.json
  package.json
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.module.css
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/RotatableTip/RotatableTip.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(HistoryRecord): records count translation
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: layout GoalActivityFeed
  src/components/ActivityFeed/ActivityFeed.module.css
  src/components/GoalContentHeader/GoalContentHeader.module.css
  src/components/GoalContentHeader/GoalContentHeader.tsx
Due: eslint --fix, prettier --write

fix(GlobalSearch): result priority
  prisma/schema.prisma
  src/utils/translit.test.ts
  src/utils/translit.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

chore: release 2.35.0
  .release_notes/2.35.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GlobalSearch): throws 500
  trpc/router/search.ts
Due: eslint --fix, prettier --write

fix: hydration errors and others
  package-lock.json
  package.json
  src/components/CommentView/CommentView.tsx
  src/components/GoalParentComboBox.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/NavigationSidebar/NavigationSidebar.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.35.1
  .release_notes/2.35.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: 500 error replaced to 400 & sended to sentry
  src/pages/api/trpc/[trpc].ts
Due: eslint --fix, prettier --write

fix(GoalCriteria): renew design
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.module.css
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FilterBase/FilterBase.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalBadge.tsx
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalFormPopupTrigger/GoalFormPopupTrigger.tsx
  src/components/RelativeTime/RelativeTime.tsx
  src/components/UserBadge/UserBadge.tsx
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: add autofocuses
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FeedbackCreateForm/FeedbackCreateForm.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/KeyInput/KeyInput.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/hooks/useForkedRef.ts
Due: eslint --fix, prettier --write

feat: add logging to opentelemetry
  package-lock.json
  package.json
  src/instrumentation.node.ts
  src/instrumentation.ts
  src/pages/_error.tsx
  src/pages/api/upload.ts
  src/utils/logger.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(i18n): backend error translate
  cypress/fixtures/langs.json
  package.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/hooks/useGoalResource.ts
  src/pages/api/trpc/[trpc].ts
  src/utils/declareSsrProps.ts
  trpc/access/access.i18n/en.json
  trpc/access/access.i18n/index.ts
  trpc/access/access.i18n/ru.json
  trpc/access/accessCheckers.ts
  trpc/access/accessEntityGetters.ts
  trpc/access/accessMiddlewares.ts
  trpc/router/filter.ts
  trpc/router/goal.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/index.ts
  trpc/router/router.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.36.0
  .release_notes/2.36.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.37.0
  .release_notes/2.37.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalParentCombobox): add handler to menu items
  src/components/GoalParentComboBox.tsx
Due: eslint --fix, prettier --write

chore: release 2.37.1
  .release_notes/2.37.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(db): add `kysely` provider
  .eslintignore
  generated/kysely/types.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/utils/db/index.ts
  src/utils/declareSsrProps.ts
  trpc/connection/kysely.ts
  trpc/connection/utils.ts
  trpc/queries/criteria.ts
  trpc/queries/filter.ts
  trpc/queries/flow.ts
  trpc/queries/projectV2.ts
  trpc/queries/tag.ts
  trpc/router/filter.ts
  trpc/router/flow.ts
  trpc/router/goal.ts
  trpc/router/index.ts
  trpc/router/priority.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
  trpc/router/state.ts
  trpc/router/tag.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node
