Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat: goal kanban ranking
  generated/kysely/types.ts
  prisma/migrations/20241029143242_goal_ranks/migration.sql
  prisma/schema.prisma
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/Kanban/Kanban.tsx
  src/schema/common.ts
  src/utils/ranking.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/projectV2.ts
  trpc/router/goalV2.ts
  trpc/router/projectV2.ts
  trpc/router/router.i18n/en.json
  trpc/router/router.i18n/ru.json
  trpc/utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.61.0
  .release_notes/2.61.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: organize ranking queries
  trpc/queries/ranking.ts
  trpc/router/goalV2.ts
  trpc/router/projectV2.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1174): fix recalc translations for <EstimateDropdown />
  src/components/EstimateDropdown/EstimateDropdown.tsx
Due: eslint --fix, prettier --write

fix(INTERNAL-1196): correct watchers / starred goals
  src/components/ProjectGoalList/ProjectGoalList.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1100): move event processing out of middleware
  src/middleware.ts
  src/utils/analyticsEvent.ts
Due: eslint --fix, prettier --write

chore: release 2.62.0
  .release_notes/2.62.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: enable kanban view for all users
  src/components/FiltersPanel/FiltersPanel.tsx
Due: eslint --fix, prettier --write

feat: whatsnew for 2.62.0
  public/KanbanView.png
  public/KanbanViewToggle.png
  src/pages/whatsnew/2.62.0/en.mdx
  src/pages/whatsnew/2.62.0/ru.mdx
Due: none

chore: release 2.62.1
  .release_notes/2.62.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1354): fix dashboard queries
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.62.2
  .release_notes/2.62.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(INTERNAL-1361): show last written whatsnew
  trpc/router/whatsnew.ts
Due: eslint --fix, prettier --write

feat: flag for mailer
  src/utils/worker/mail/index.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1360): add order to State
  generated/kysely/types.ts
  prisma/migrations/20241117152208_state_order/migration.sql
  prisma/schema.prisma
  trpc/router/state.ts
Due: eslint --fix, prettier --write

chore: release 2.63.0
  .release_notes/2.63.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: more queries performance
  src/components/OfflineBanner/OfflineBanner.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  trpc/inferredTypes.ts
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1361): whats new in separate trpc call
  src/components/WhatsNew/WhatsNew.tsx
  src/utils/trpcClient.ts
  trpc/router/whatsnew.ts
Due: eslint --fix, prettier --write

chore: release 2.64.0
  .release_notes/2.64.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(INTERNAL-1357): export goals by filter preset
  cypress/fixtures/langs.json
  package.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.i18n/en.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.i18n/ru.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.module.css
  src/components/AppliedFiltersBar/AppliedFiltersBar.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/NotificationsHub/NotificationHub.map.ts
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/components/SortButton/SortButton.tsx
  src/components/SortList/SortList.tsx
  src/hooks/useFilterResource.ts
  src/hooks/useFiltersPreset.ts
  src/hooks/useUrlFilterParams.ts
  src/modules/export/export.i18n/en.json
  src/modules/export/export.i18n/index.ts
  src/modules/export/export.i18n/ru.json
  src/modules/export/exportByPreset.ts
  src/utils/dateTime.ts
  src/utils/declareGoalsSsrProps.ts
  src/utils/downloadAsFile.ts
  src/utils/filters.ts
  src/utils/getShownStates.ts
  src/utils/parseUrlParams.ts
  src/utils/projectCollapsableItemInit.ts
  trpc/queries/goalV2.ts
  trpc/router/goalV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: remove unnecessary trpc calls
  src/components/Page/Page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
