Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(INTERNAL-1057): goal table ranking
  cypress/fixtures/langs.json
  generated/kysely/types.ts
  prisma/migrations/20241202080534_global_goal_ranks/migration.sql
  prisma/schema.prisma
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
  src/components/Kanban/Kanban.tsx
  src/components/ProjectGoalList/ProjectGoalList.tsx
  src/components/SortList/SortList.i18n/en.json
  src/components/SortList/SortList.i18n/ru.json
  src/components/SortList/SortList.tsx
  src/schema/common.ts
  src/utils/parseUrlParams.ts
  src/utils/ranking.ts
  trpc/queries/goalV2.ts
  trpc/queries/goals.ts
  trpc/queries/ranking.ts
  trpc/router/goalV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor(INTERNAL-1057): use new `v2.goal.getAllGoals` instead of `goal.getBatch`
  src/components/FlatGoalList.tsx
  src/utils/declareGoalsSsrProps.ts
  trpc/queries/activity.ts
  trpc/queries/goalV2.ts
  trpc/router/goalV2.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1057): drag and drop list invalidation
  src/components/FlatGoalList.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectGoalList/ProjectGoalList.tsx
Due: eslint --fix, prettier --write

chore: release 2.66.0
  .release_notes/2.66.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1057): fix on conflict clause in goal rank update
  trpc/queries/ranking.ts
Due: eslint --fix, prettier --write

chore: release 2.66.1
  .release_notes/2.66.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: whatsnew for 2.66.1
  public/ManualSorting.png
  src/pages/whatsnew/2.66.1/en.mdx
  src/pages/whatsnew/2.66.1/ru.mdx
Due: none

feat(INTERNAL-1527): support jira tasks in piplines
  .github/workflows/manual_release.yml
Due: none

refactor(scheduledExternalTasks): implements queue for update
  prisma/seed.ts
  src/utils/worker/create.ts
  src/utils/worker/externalTasksJob.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1522): handle api events
  src/utils/analyticsEvent.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1532): replace `Taskany` on `SD Goals`
  cypress/fixtures/langs.json
  package-lock.json
  package.json
  src/components/AppliedFilter/AppliedFilter.tsx
  src/components/DashboardPage/DashboardPage.i18n/en.json
  src/components/DashboardPage/DashboardPage.i18n/ru.json
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/en.json
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/ru.json
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/en.json
  src/components/ExploreProjectsPage/ExploreProjectsPage.i18n/ru.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/en.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/ru.json
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/en.json
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.i18n/ru.json
  src/components/GoalPage/GoalPage.i18n/en.json
  src/components/GoalPage/GoalPage.i18n/ru.json
  src/components/GoalsPage/GoalsPage.i18n/en.json
  src/components/GoalsPage/GoalsPage.i18n/ru.json
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
  src/components/ProjectPage/ProjectPage.i18n/en.json
  src/components/ProjectPage/ProjectPage.i18n/ru.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/ProjectTeamPage/ProjectTeamPage.i18n/en.json
  src/components/ProjectTeamPage/ProjectTeamPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.67.0
  .release_notes/2.67.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: `@taskany/bricks` bump version
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(INTERNAL-1503): fixed archived dashboard project
  package-lock.json
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(INTERNAL-1530): `/explore/projects` pagination
  src/components/ExplorePageHeader/ExplorePageHeader.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/pages/explore/projects/index.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1572): show errors if exists
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write

chore: release 2.67.1
  .release_notes/2.67.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: e2e pipeline
  .github/workflows/e2e.yml
Due: none

fix(INTERNAL-1574): markup fixes
  src/components/Dropdown/Dropdow.module.css
  src/components/Dropdown/Dropdown.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalForm/GoalForm.module.css
  src/components/GoalForm/GoalForm.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.module.css
  src/components/UserDropdown/UserDropdown.module.css
  src/components/UserDropdown/UserDropdown.tsx
  src/schema/project.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Footer): update footer
  generated/kysely/types.ts
  package-lock.json
  prisma/migrations/20250204084938_add_links_in_footer/migration.sql
  prisma/schema.prisma
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Footer): update footer
  cypress/fixtures/langs.json
  generated/kysely/types.ts
  prisma/migrations/20250204092408_add_links_in_footer/migration.sql
  prisma/schema.prisma
  src/components/PageFooter/PageFooter.i18n/en.json
  src/components/PageFooter/PageFooter.i18n/ru.json
  src/components/PageFooter/PageFooter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.67.2
  .release_notes/2.67.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1616): fix file uploads in comments
  src/components/FormControlEditor/FormControlEditor.tsx
Due: eslint --fix, prettier --write
