Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: import from bricks
  src/components/ProjectTitleList.tsx
Due: eslint --fix, prettier --write

chore: remove team from goal fetch
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write

chore!: drop useless routes
  src/hooks/router.ts
  src/pages/teams/[id]/goals.tsx
  src/pages/teams/[id]/index.tsx
  src/pages/teams/[id]/settings.tsx
  src/pages/users/[id].tsx
Due: eslint --fix, prettier --write

chore!: drop other part of teams components
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/en.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/index.ts
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/ru.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/pages/explore/teams.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: resolve rebase fuckup
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

chore!: replace teams explore with projects in Header menu
  src/components/Header.tsx
Due: eslint --fix, prettier --write

chore: group goals on client
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/hooks/useGrouppedGoals.ts
Due: eslint --fix, prettier --write

chore!: remove teams from gql resolvers
  graphql/queries/goals.ts
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/types.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write

chore: drop useless user page
  src/components/pages/UserPage/UserPage.tsx
Due: eslint --fix, prettier --write

chore: remove teams artefacts
  src/components/Header.tsx
  src/components/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write

chore: explore projects as teams
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.tsx
Due: eslint --fix, prettier --write

chore: stable types after rebase
  graphql/resolvers/Goal.ts
  graphql/schema.graphql
  graphql/types.ts
Due: eslint --fix, prettier --write

chore!: drop teams pages and components
  src/components/TeamPageLayout.tsx
  src/components/TeamTitleList.tsx
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.i18n/en.json
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.i18n/index.ts
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.i18n/ru.json
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.tsx
  src/components/pages/TeamGoalsPage/TeamGoalsPage.i18n/en.json
  src/components/pages/TeamGoalsPage/TeamGoalsPage.i18n/index.ts
  src/components/pages/TeamGoalsPage/TeamGoalsPage.i18n/ru.json
  src/components/pages/TeamGoalsPage/TeamGoalsPage.tsx
  src/components/pages/TeamPage/TeamPage.i18n/en.json
  src/components/pages/TeamPage/TeamPage.i18n/index.ts
  src/components/pages/TeamPage/TeamPage.i18n/ru.json
  src/components/pages/TeamPage/TeamPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore!: drop team table
  prisma/migrations/20230413223931_/migration.sql
  prisma/schema.prisma
Due: none

feat: PageHeader blocks from @taskany/bricks
  package-lock.json
  package.json
  src/components/CommentCreateForm.tsx
  src/components/CommentView.tsx
  src/components/GoalListItem.tsx
  src/components/GoalPreview.tsx
  src/components/Gravatar.tsx
  src/components/Header.tsx
  src/components/HeaderLogo.tsx
  src/components/HeaderMenu.tsx
  src/components/IssueParticipantsList.tsx
  src/components/Page.tsx
  src/components/PageHeader.tsx
  src/components/PageHeaderActionButton.tsx
  src/components/PageHeaderLogo.tsx
  src/components/ProjectListItem.tsx
  src/components/TaskanyLogo.tsx
  src/components/UserComboBox.tsx
  src/components/UserMenuItem.tsx
  src/components/UserPic.tsx
  src/components/pages/GoalPage/GoalPage.tsx
  src/stories/Button.stories.tsx
  src/stories/HeaderLogo.stories.tsx
  src/utils/isRetina.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: integrate StateDot, MarkedListItem from @bricks
  package-lock.json
  package.json
  src/components/ColorizedMenuItem.tsx
  src/components/Page.tsx
  src/components/PriorityDropdown.tsx
  src/components/PriorityFilterDropdown.tsx
  src/components/StateDot.tsx
  src/components/StateDropdown.tsx
  src/components/StateFilterDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: StateDot styles ssr error
  src/components/StateDot.tsx
Due: eslint --fix, prettier --write

feat: <Md> from @taskany/bricks
  package-lock.json
  package.json
  src/components/Md.tsx
  src/hooks/useMarkdown.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(NotificationsHub): no carry
  src/utils/dispatchNotification.ts
Due: eslint --fix, prettier --write

fix(FiltersPanel): get/set right search params
  src/components/FiltersPanel.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

fix(FiltersPanel): clean url if no filters
  src/components/FiltersPanel.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

fix: remove useState and useEffect from filters dropdowns
  graphql/schema.graphql
  src/components/EstimateFilterDropdown.tsx
  src/components/PriorityFilterDropdown.tsx
  src/components/ProjectFilterDropdown.tsx
  src/components/StateFilterDropdown.tsx
  src/components/TagsFilterDropdown.tsx
  src/components/UserFilterDropdown.tsx
Due: eslint --fix, prettier --write

feat(NotificationsHub): one way to notify users
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/index.ts
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/components/NotificationsHub/NotificationsHub.tsx
  src/components/Page.tsx
  src/utils/dispatchNotification.ts
  src/utils/notifyPromise.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(FiltersPanel): show zero count
  src/components/FiltersPanel.tsx
Due: eslint --fix, prettier --write

feat(Filter): add model and resolver
  graphql/resolvers/Filter.ts
  graphql/schema.graphql
  graphql/schema.ts
  graphql/types.ts
  prisma/migrations/20230417125220_/migration.sql
  prisma/schema.prisma
Due: eslint --fix, prettier --write

fix(Comment): do not sent activityId with comment data
  graphql/resolvers/Comment.ts
  src/hooks/useCommentResource.ts
Due: eslint --fix, prettier --write

fix(notifyPromise): strict type for result
  src/utils/notifyPromise.ts
Due: eslint --fix, prettier --write

feat: integrate custom filters on dashboard
  src/components/FiltersPanel.tsx
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

feat: add PageTitle
  src/components/CommonHeader.tsx
  src/components/PageTitle.tsx
Due: eslint --fix, prettier --write

feat: add PresetFilterDropdown
  src/components/PresetFilterDropdown.tsx
Due: eslint --fix, prettier --write

chore: add WhyDidYouRerender
  next.config.js
  package-lock.json
  package.json
  scripts/wdyr.ts
  src/pages/_app.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: integrate custom filters on project page
  src/components/PageTitle.tsx
  src/components/ProjectPageLayout.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write

feat: fetch, create, delete custom filters
  graphql/resolvers/Filter.ts
  graphql/resolvers/User.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/FilterCreateForm/FilterCreateForm.i18n/en.json
  src/components/FilterCreateForm/FilterCreateForm.i18n/index.ts
  src/components/FilterCreateForm/FilterCreateForm.i18n/ru.json
  src/components/FilterCreateForm/FilterCreateForm.tsx
  src/components/FilterDeleteForm/FilterDeleteForm.i18n/en.json
  src/components/FilterDeleteForm/FilterDeleteForm.i18n/index.ts
  src/components/FilterDeleteForm/FilterDeleteForm.i18n/ru.json
  src/components/FilterDeleteForm/FilterDeleteForm.tsx
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/hooks/useFilterResource.ts
  src/schema/filter.ts
  src/schema/schema.i18n/en.json
  src/schema/schema.i18n/index.ts
  src/schema/schema.i18n/ru.json
  src/types/void.ts
  src/utils/dispatchModal.ts
  src/utils/hotkeys.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bump @taskany/bricks
  package-lock.json
  package.json
  src/components/FilterCreateForm/FilterCreateForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(ProjectSettingsPage): add title to layout
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
