Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: prepare Project model for Team implementation
  graphql/types.ts
  prisma/migrations/20230406112202_/migration.sql
  prisma/migrations/20230406121340_/migration.sql
  prisma/schema.prisma
Due: eslint --fix, prettier --write

feat: Text, Popup from bricks
  src/components/ColorizedMenuItem.tsx
  src/components/CommonHeader.tsx
  src/components/Dropdown.tsx
  src/components/Fieldset.tsx
  src/components/FiltersPanel.tsx
  src/components/FormEditor.tsx
  src/components/FormInput.tsx
  src/components/FormMultiInput.tsx
  src/components/FormRadio.tsx
  src/components/FormTitle.tsx
  src/components/GoalDeleteModal.tsx
  src/components/GoalGroup.tsx
  src/components/GoalListItem.tsx
  src/components/GoalMenuItem.tsx
  src/components/HotkeysModal.tsx
  src/components/IssueDependencies.tsx
  src/components/IssueKey.tsx
  src/components/IssueListItem.tsx
  src/components/IssueMeta.tsx
  src/components/IssueParent.tsx
  src/components/IssueStats.tsx
  src/components/IssueTitle.tsx
  src/components/KeyInput.tsx
  src/components/MenuGroupItem.tsx
  src/components/Page.tsx
  src/components/ParentListItem.tsx
  src/components/Popup.tsx
  src/components/ProjectCreateForm.tsx
  src/components/ProjectMenuItem.tsx
  src/components/ProjectPageLayout.tsx
  src/components/ReactionsDropdown.tsx
  src/components/StateSwitch.tsx
  src/components/TeamCreateForm.tsx
  src/components/Text.tsx
  src/components/Tip.tsx
  src/components/UserInviteForm.tsx
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/stories/Text.stories.tsx
Due: eslint --fix, prettier --write

feat: connect npm package @taskany/bricks
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat: @bricks form elements integration
  package-lock.json
  package.json
  src/components/CommentForm.tsx
  src/components/Form.tsx
  src/components/FormActions.tsx
  src/components/FormCard.tsx
  src/components/FormEditor.tsx
  src/components/FormInput.tsx
  src/components/FormRadio.tsx
  src/components/FormTextarea.tsx
  src/components/FormTitle.tsx
  src/components/GoalDeleteModal.tsx
  src/components/GoalForm.tsx
  src/components/IssueDependenciesForm.tsx
  src/components/IssueParticipantsForm.tsx
  src/components/ProjectCreateForm.tsx
  src/components/SettingsContent.tsx
  src/components/TeamCreateForm.tsx
  src/components/UserInviteForm.tsx
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/components/pages/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore!: disable e2e in GH workflows
  .github/workflows/e2e.yml
Due: none

chore: group goals on client
  src/components/pages/GoalsPage/GoalsPage.tsx
  src/hooks/useGrouppedGoals.ts
Due: eslint --fix, prettier --write

chore: stable types after rebase
  graphql/resolvers/Goal.ts
  graphql/schema.graphql
  graphql/types.ts
Due: eslint --fix, prettier --write

chore: explore projects as teams
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.tsx
Due: eslint --fix, prettier --write

chore!: drop teams pages and components
  src/components/TeamPageLayout.tsx
  src/components/TeamTitleList.tsx
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.i18n/en.json
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.i18n/index.ts
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.i18n/ru.json
  src/components/pages/ExploreTeamsPage/ExploreTeamsPage.tsx
  src/components/pages/TeamGoalsPage/TeamGoalsPage.i18n/en.json
  src/components/pages/TeamGoalsPage/TeamGoalsPage.i18n/index.ts
  src/components/pages/TeamGoalsPage/TeamGoalsPage.i18n/ru.json
  src/components/pages/TeamGoalsPage/TeamGoalsPage.tsx
  src/components/pages/TeamPage/TeamPage.i18n/en.json
  src/components/pages/TeamPage/TeamPage.i18n/index.ts
  src/components/pages/TeamPage/TeamPage.i18n/ru.json
  src/components/pages/TeamPage/TeamPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore!: drop other part of teams components
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/en.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/index.ts
  src/components/pages/TeamSettingsPage/TeamSettingsPage.i18n/ru.json
  src/components/pages/TeamSettingsPage/TeamSettingsPage.tsx
  src/pages/explore/teams.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore!: drop useless routes
  src/hooks/router.ts
  src/pages/teams/[id]/goals.tsx
  src/pages/teams/[id]/index.tsx
  src/pages/teams/[id]/settings.tsx
  src/pages/users/[id].tsx
Due: eslint --fix, prettier --write

chore: drop useless user page
  src/components/pages/UserPage/UserPage.tsx
Due: eslint --fix, prettier --write

chore!: remove teams docs
  src/pages/help/source/en/teams.md
  src/pages/help/source/ru/teams.md
Due: prettier --write --parser markdown

chore(gql): drop team resolver
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/schema.ts
Due: eslint --fix, prettier --write

chore: remove teams artefacts
  src/components/Header.tsx
  src/components/ProjectCreateForm.tsx
Due: eslint --fix, prettier --write

chore!: remove teams support
  src/components/ExplorePageLayout.tsx
  src/components/GoalCreateForm.tsx
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalPreview.tsx
  src/components/GoalsGroup.tsx
  src/components/IssueParent.tsx
  src/components/Page.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectPageLayout.tsx
  src/components/ProjectTitleList.tsx
  src/components/pages/ExporeProjectsPage/ExporeProjectsPage.tsx
  src/components/pages/GoalPage/GoalPage.tsx
  src/components/pages/ProjectPage/ProjectPage.tsx
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.i18n/en.json
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/hooks/useLocalStorage.ts
  src/hooks/useProjectResource/index.ts
  src/utils/dispatchModal.ts
  src/utils/hotkeys.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: resolve rebase fuckup
  src/components/pages/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

chore: import from bricks
  src/components/ProjectTitleList.tsx
Due: eslint --fix, prettier --write

chore: create project as team
  graphql/resolvers/Project.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/Page.tsx
  src/components/ProjectCreateForm.tsx
  src/components/TeamCreateForm.tsx
  src/hooks/useProjectResource/index.ts
  src/hooks/useProjectResource/useProjectResource.i18n/en.json
  src/hooks/useProjectResource/useProjectResource.i18n/ru.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore!: replace teams explore with projects in Header menu
  src/components/Header.tsx
Due: eslint --fix, prettier --write

chore: remove team from goal fetch
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write

chore!: remove teams from gql resolvers
  graphql/queries/goals.ts
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
  graphql/schema.graphql
  graphql/types.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
