Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

refactor: dont override bricks via sc. part 3
  src/components/GoalHeader/GoalHeader.tsx
  src/components/HotkeysModal/HotkeysModal.module.css
  src/components/HotkeysModal/HotkeysModal.tsx
  src/components/ImageFullScreen/ImageFullScreen.module.css
  src/components/ImageFullScreen/ImageFullScreen.tsx
  src/components/IssueListItem/IssueListItem.module.css
  src/components/IssueListItem/IssueListItem.tsx
  src/components/IssueTitle/IssueTitle.module.css
  src/components/IssueTitle/IssueTitle.tsx
  src/components/LoadMoreButton/LoadMoreButton.module.css
  src/components/LoadMoreButton/LoadMoreButton.tsx
  src/components/Page/Page.tsx
  src/components/PageFooter/PageFooter.module.css
  src/components/PageFooter/PageFooter.tsx
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectMenuItem/ProjectMenuItem.module.css
  src/components/ProjectMenuItem/ProjectMenuItem.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.module.css
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.tsx
  src/components/Reactions/Reactions.module.css
  src/components/Reactions/Reactions.tsx
  src/components/ReactionsDropdown/ReactionsDropdown.module.css
  src/components/ReactionsDropdown/ReactionsDropdown.tsx
Due: eslint --fix, prettier --write

refactor: dont override bricks via sc. part 4
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.module.css
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/KeyInput/KeyInput.module.css
  src/components/KeyInput/KeyInput.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectCreateForm/ProjectCreateForm.tsx
  src/components/ReactionsButton.tsx
Due: eslint --fix, prettier --write

refactor: dont override bricks via sc. part 5
  src/components/Estimate/Estimate.module.css
  src/components/Estimate/Estimate.tsx
  src/components/EstimateDate/EstimateDate.tsx
  src/components/EstimateOption/EstimateOption.module.css
  src/components/EstimateOption/EstimateOption.tsx
  src/components/EstimatePopup/EstimatePopup.module.css
  src/components/EstimatePopup/EstimatePopup.tsx
  src/components/EstimateQuarter/EstimateQuarter.module.css
  src/components/EstimateQuarter/EstimateQuarter.tsx
  src/components/EstimateYear/EstimateYear.module.css
  src/components/EstimateYear/EstimateYear.tsx
  src/components/FilterPopup/FilterPopup.module.css
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FiltersPanel/FiltersPanel.module.css
  src/components/FiltersPanelApplied/FiltersPanelApplied.module.css
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDeleteModal/GoalDeleteModal.module.css
  src/components/GoalDeleteModal/GoalDeleteModal.tsx
  src/components/GoalDependency/GoalDependency.module.css
  src/components/GoalForm/GoalFormEstimate.tsx
  src/components/GoalFormPopupTrigger/GoalFormPopupTrigger.module.css
  src/components/GoalFormPopupTrigger/GoalFormPopupTrigger.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
Due: eslint --fix, prettier --write

refactor: dont override bricks via sc. part 6
  src/components/ActivityFeed.tsx
  src/components/AddInlineTrigger.tsx
  src/components/Badge.tsx
  src/components/BetaBadge.tsx
  src/components/Circle.tsx
  src/components/ColorizedFilterDropdown.tsx
  src/components/ColorizedMenuItem.tsx
  src/components/CommentsCountBadge.tsx
  src/components/FilterCheckbox.tsx
  src/components/FilterTabLabel.tsx
  src/components/GoalDependencyList.tsx
  src/components/GoalList.tsx
  src/components/GoalMenuItem.tsx
  src/components/InlineTrigger.tsx
  src/components/IssueKey.tsx
  src/components/IssueListItem.tsx
  src/components/Light.tsx
  src/components/MenuGroupItem.tsx
  src/components/PageSep.tsx
  src/components/PageTitle.tsx
  src/components/Plus.tsx
  src/components/ProjectMenuItem.tsx
  src/components/ProjectSettingsUserList.tsx
  src/components/ReactionsDropdown.tsx
  src/components/ScrollableView.tsx
  src/components/SettingsContent.tsx
  src/components/State.tsx
  src/components/StateDot.tsx
  src/components/StateSwitch.tsx
  src/components/StateWrapper.tsx
  src/components/TextList.tsx
  src/components/UserMenuItem.tsx
  src/components/WrappedRowLink.tsx
Due: eslint --fix, prettier --write

refactor: dont override bricks via sc. part 7
  src/components/CommentView/CommentView.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependency/GoalDependency.tsx
  src/components/GoalListItemCompact/GoalListItemCompact.tsx
  src/components/GoalParentComboBox.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem/IssueListItem.tsx
  src/components/IssueMeta.tsx
  src/components/IssueMeta/IssueMeta.module.css
  src/components/IssueMeta/IssueMeta.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSettingsUserList/ProjectSettingsUserList.tsx
  src/components/State/State.tsx
  src/components/Table/Table.module.css
  src/components/TableRowItem/TableRowItem.module.css
  src/components/TableRowItem/TableRowItem.tsx
  src/components/TeamListItem/TeamListItem.tsx
Due: eslint --fix, prettier --write

feat(Dropdown): add multiple functionality
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/Dropdown/Dropdown.module.css
  src/components/Dropdown/Dropdown.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/GoalCreateForm/GoalCreateForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalHeader/GoalHeader.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/IssueStats/IssueStats.tsx
  src/components/PageHeaderActionButton/PageHeaderActionButton.tsx
  src/components/PriorityDropdown/PriorityDropdown.tsx
  src/components/StateDropdown/StateDropdown.tsx
  src/components/TeamComboBox/TeamComboBox.tsx
  src/components/UserDropdown/UserDropdown.tsx
Due: eslint --fix, prettier --write

chore: install typescript-plugin-css-modules
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write --parser json, node

fix(HistoryRecord): normal text wrap
  src/components/HistoryRecord/HistoryRecord.i18n/en.json
  src/components/HistoryRecord/HistoryRecord.i18n/ru.json
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(useMarkdown): use `<br />` instead of `\n` character
  src/hooks/useMarkdown.tsx
Due: eslint --fix, prettier --write

feat: readonly applied filters bar
  src/components/AppliedEstimateFilter/AppliedEstimateFilter.tsx
  src/components/AppliedFilter/AppliedFilter.module.css
  src/components/AppliedFilter/AppliedFilter.tsx
  src/components/AppliedFiltersBar/AppliedFiltersBar.i18n/en.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.i18n/index.ts
  src/components/AppliedFiltersBar/AppliedFiltersBar.i18n/ru.json
  src/components/AppliedFiltersBar/AppliedFiltersBar.module.css
  src/components/AppliedFiltersBar/AppliedFiltersBar.tsx
  src/components/AppliedGoalParentFilter/AppliedGoalParentFilter.tsx
  src/components/AppliedPriorityFilter/AppliedPriorityFilter.tsx
  src/components/AppliedStateFilter/AppliedStateFilter.tsx
  src/components/AppliedUsersFilter/AppliedUsersFilter.tsx
  src/components/FilteredPage/FilteredPage.i18n/en.json
  src/components/FilteredPage/FilteredPage.i18n/index.ts
  src/components/FilteredPage/FilteredPage.i18n/ru.json
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/hooks/useUrlFilterParams.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: create PageNavigation
  package-lock.json
  package.json
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/NavigationSidebar/NavigationSidebar.tsx
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.i18n/en.json
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.i18n/index.ts
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.i18n/ru.json
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.module.css
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageNavigation/PageNavigation.i18n/en.json
  src/components/PageNavigation/PageNavigation.i18n/index.ts
  src/components/PageNavigation/PageNavigation.i18n/ru.json
  src/components/PageNavigation/PageNavigation.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: update Layout
  cypress/support/index.ts
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/Page/Page.module.css
  src/components/Page/Page.tsx
  src/components/PageContent/PageContent.module.css
  src/components/PageContent/PageContent.tsx
  src/components/PageHeader/PageHeader.i18n/en.json
  src/components/PageHeader/PageHeader.i18n/index.ts
  src/components/PageHeader/PageHeader.i18n/ru.json
  src/components/PageHeader/PageHeader.module.css
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/SettingsContent.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: fixed page header
  package-lock.json
  src/components/CommonHeader.tsx
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/en.json
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/index.ts
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/ru.json
  src/components/ExplorePageHeader/ExplorePageHeader.tsx
  src/components/ExplorePageLayout/ExplorePageLayout.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/en.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/index.ts
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/ru.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.module.css
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/Page/Page.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/components/PresetModals.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/ScrollableView.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/hooks/useFilterResource.ts
  src/pages/goals/index.tsx
  src/pages/help/[slug].tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: fixed page header
  package-lock.json
  src/components/CommonHeader.tsx
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/en.json
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/index.ts
  src/components/ExplorePageHeader/ExplorePageHeader.i18n/ru.json
  src/components/ExplorePageHeader/ExplorePageHeader.tsx
  src/components/ExplorePageLayout/ExplorePageLayout.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/en.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/index.ts
  src/components/FiltersPanelApplied/FiltersPanelApplied.i18n/ru.json
  src/components/FiltersPanelApplied/FiltersPanelApplied.module.css
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/GroupedGoalList.tsx
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/NavigationSidebar/NavigationSidebar.tsx
  src/components/Page/Page.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/components/PresetModals.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/ScrollableView.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/hooks/useFilterResource.ts
  src/pages/goals/index.tsx
  src/pages/help/[slug].tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.27.0
  .release_notes/2.27.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: restore UserMenu
  src/components/CommonHeader.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/PageUserMenu.tsx
Due: eslint --fix, prettier --write

feat: add GlobalSearch to FiltersBar
  package-lock.json
  package.json
  src/components/CommonHeader.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/SearchFilter.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: add stars and watched pages
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PageNavigation/PageNavigation.i18n/en.json
  src/components/PageNavigation/PageNavigation.i18n/ru.json
  src/components/PageNavigation/PageNavigation.tsx
  src/hooks/router.ts
  src/pages/goals/starred.tsx
  src/pages/goals/watching.tsx
  src/schema/common.ts
  src/utils/declareGoalsSsrProps.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: my projects in sidebar
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/PageNavigation/PageNavigation.tsx
  src/utils/declareSsrProps.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: update seed script
  prisma/seed.ts
Due: eslint --fix, prettier --write

fix: goal edit validation
  src/schema/goal.ts
Due: eslint --fix, prettier --write

feat(TagDropdown): create component
  src/components/TagDropdown/TagDropdown.i18n/en.json
  src/components/TagDropdown/TagDropdown.i18n/index.ts
  src/components/TagDropdown/TagDropdown.i18n/ru.json
  src/components/TagDropdown/TagDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.27.1
  .release_notes/2.27.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(AppliedTagFilter): show readonly applied filters
  src/components/AppliedTagFilter/AppliedTagFilter.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  trpc/router/tag.ts
Due: eslint --fix, prettier --write

chore: release 2.28.0
  .release_notes/2.28.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
