Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat: support drag n drop
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat: support drag n drop
  package-lock.json
  package.json
  src/components/Kanban/Kanban.module.css
  src/components/Kanban/Kanban.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.59.0
  .release_notes/2.59.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(INTERNAL-1164): hide projects that have goals in nested projects
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/pages/projects/[id]/index.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1206): editable props for dnd
  src/components/Kanban/Kanban.module.css
  src/components/Kanban/Kanban.tsx
  trpc/queries/goalV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.59.1
  .release_notes/2.59.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor(INTERNAL-1185): rewrite queries from prisma with kysely
  src/components/ProjectContext/ProjectContext.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/pages/projects/[id]/index.tsx
  src/utils/recalculateCriteriaScore.ts
  trpc/inferredTypes.ts
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

feat(1165): implements scheduled update task states jobs
  src/utils/worker/create.ts
  src/utils/worker/externalTasksJob.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write

fix(1165): correct condition for cron job runs
  src/utils/worker/index.ts
Due: eslint --fix, prettier --write

fix(1165): manually task status check
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(1165): beautify api for score calculator
  src/utils/recalculateCriteriaScore.ts
Due: eslint --fix, prettier --write

fix(1165): unify utility code
  src/utils/worker/index.ts
  src/utils/worker/utils.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1185): use new project query for settings page
  src/components/ProjectAccessUser/ProjectAccessUser.tsx
  src/components/ProjectParticipants/ProjectParticipants.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/UserEditableList/UserEditableList.tsx
  src/hooks/useProjectResource.ts
  src/pages/projects/[id]/settings.tsx
  src/schema/project.ts
  trpc/queries/activity.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1185): use new project query for teams page
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/TeamComboBox/TeamComboBox.tsx
  src/pages/projects/[id]/team.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

refactor(INTERNAL-1164): rewrite raw sql to kysely
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

refactor(INTERNAL-1185): drop extra cte statements
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

feat(INTERNAL-1208): update deps
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.module.css
  src/components/CommentForm/CommentForm.tsx
  src/components/CommentViewHeader/CommentViewHeader.tsx
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/FiltersBar/FiltersBar.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueKey/IssueKey.tsx
  src/components/IssueMeta/IssueMeta.tsx
  src/components/IssueParent/IssueParent.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/TableRowItem/TableRowItem.tsx
  src/components/TagDropdown/TagDropdown.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(1165): create job in seed
  prisma/seed.ts
  src/utils/worker/create.ts
Due: eslint --fix, prettier --write

refactor: move children project request from ProjectListItemConnected to ProjectPage
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

refactor: remove firstLevel prop in ProjectListItemConnected
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore: release 2.60.0
  .release_notes/2.60.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: project access
  src/components/ProjectListItemConnected/ProjectListItemConnected.tsx
  src/pages/projects/[id]/index.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(INTERNAL-1236): return comments submit
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.module.css
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node
