Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat: added ability to copy raw content from comment or goal description
  src/components/CommentView/CommentView.i18n/en.json
  src/components/CommentView/CommentView.i18n/ru.json
  src/components/CommentView/CommentView.tsx
  src/components/GoalContentHeader/GoalContentHeader.i18n/en.json
  src/components/GoalContentHeader/GoalContentHeader.i18n/ru.json
  src/components/GoalContentHeader/GoalContentHeader.tsx
  src/components/NotificationsHub/NotificationHub.map.ts
  src/components/NotificationsHub/NotificationsHub.i18n/en.json
  src/components/NotificationsHub/NotificationsHub.i18n/ru.json
  src/hooks/useCopyToClipboard.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: replaced useLayoutEffect with useEffect in useLatest
  src/hooks/useLatest.ts
Due: eslint --fix, prettier --write

fix(GoalHeader): pass NextLink via Link prop
  src/components/IssueTitle.tsx
Due: eslint --fix, prettier --write

fix(CardHeader): align time with description
  src/components/CardHeader.tsx
  src/components/RelativeTime/RelativeTime.tsx
Due: eslint --fix, prettier --write

fix(History): call ctx in useEffect
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

fix: removed navigator check
  src/components/CommentView/CommentView.tsx
  src/components/GoalContentHeader/GoalContentHeader.tsx
Due: eslint --fix, prettier --write

refactor(HistoryRecord): drop strike overrides
  package-lock.json
  package.json
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueListItem.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: update @taskany/icons & @taskany/bricks
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix(GoalCriteria): correct align in criteria list item
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

fix(FilterAutoCompleteInput): correct align icon
  src/components/FilterAutoCompleteInput/FilterAutoCompleteInput.tsx
Due: eslint --fix, prettier --write

refactor(TextList): remove unneccessary code
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/TextList.tsx
Due: eslint --fix, prettier --write

feat: custom trpc transformer
  package-lock.json
  package.json
  src/utils/declareSsrProps.ts
  src/utils/transformer.test.ts
  src/utils/transformer.ts
  src/utils/trpcClient.ts
  trpc/trpcBackend.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(e2e): new data getters for new transformer
  cypress/e2e/goals.cy.ts
  cypress/plugins/db.ts
Due: eslint --fix, prettier --write

refactor(UserBadge): remove unnecessary code, #1764
  src/components/BadgeCleanButton.tsx
  src/components/UserBadge.tsx
  src/types/common.ts
  src/utils/getUserName.ts
Due: eslint --fix, prettier --write

refactor(Badge): abstract component
  src/components/Badge.tsx
  src/components/BadgeCleanButton.tsx
  src/components/ProjectBadge.tsx
  src/components/UserBadge.tsx
  src/types/common.ts
  src/utils/getUserName.ts
Due: eslint --fix, prettier --write

chore: add ProjectBadge component
  src/components/ProjectBadge.tsx
Due: eslint --fix, prettier --write

chore(getUserName): simplify types
  src/utils/getUserName.ts
Due: eslint --fix, prettier --write

refactor(GoalSidebar): use badge components
  src/components/Badge.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalSidebar/GoalSidebar.i18n/en.json
  src/components/GoalSidebar/GoalSidebar.i18n/ru.json
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/ProjectBadge.tsx
  src/hooks/useGoalResource.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 1.33.0
  .release_notes/1.33.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(NextLink): remove Link props from DOM
  src/components/IssueParent.tsx
  src/components/IssueTitle.tsx
  src/components/NextLink.tsx
  src/components/ProjectBadge.tsx
Due: eslint --fix, prettier --write
