Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix(GoalHistory): non-strict compare index with `null`
  src/utils/db.ts
Due: eslint --fix, prettier --write

fix(GoalPreview): removed bottom padding
  src/components/GoalPreview/GoalPreview.tsx
Due: eslint --fix, prettier --write

chore(EstimateComboBox): estimate input fix
  src/components/EstimateComboBox.tsx
  src/utils/dateTime.ts
Due: eslint --fix, prettier --write

chore: add tests
  src/utils/dateTime.test.ts
Due: eslint --fix, prettier --write

chore: use underscore for calculated fields
  src/components/DashboardPage/DashboardPage.tsx
  src/components/GoalActivity.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalsGroup.tsx
  src/components/GoalsPage/GoalsPage.tsx
  trpc/inferredTypes.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

feat(GoalCriteria): implements update criterias method
  src/hooks/useCriteriaResource.ts
  src/schema/criteria.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(GoalDependencies): apply new table rules
  src/components/GoalDependencyList/GoalDependencyList.tsx
Due: eslint --fix, prettier --write

chore(confs): resolve linked packages from closes dir modules
  next.config.js
Due: eslint --fix, prettier --write

feat(GoalCriteria): implements edit feature for criteria
  src/components/CriteriaForm/CriteriaForm.i18n/en.json
  src/components/CriteriaForm/CriteriaForm.i18n/ru.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/InlineForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(GoalHistory): show criteria changes history
  src/components/GoalActivity.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
Due: eslint --fix, prettier --write

fix(GoalCriteria): drop unused css
  package-lock.json
  package.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: improve DX for analyzing bundle
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(CommentForm): remove render props, pass values from parent
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentEditForm/CommentEditForm.tsx
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write

chore: release 1.20.0
  .release_notes/1.20.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(CriteriaForm): validation rules for `weight` field
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

chore: release 1.20.1
  .release_notes/1.20.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(CriteriaForm): correct validating data
  src/components/GoalCriteria/GoalCriteria.tsx
Due: eslint --fix, prettier --write

chore: release 1.20.2
  .release_notes/1.20.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(CommentView): long word doesnt expand comment card
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

fix(Workers): changed worker path
  Dockerfile
Due: none

chore: release 1.20.3
  .release_notes/1.20.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(Workers): put back worker path + removed type import that broke the worker assembly
  Dockerfile
  src/utils/worker/mail/templates.ts
Due: eslint --fix, prettier --write

fix(*Suggests): rewrite suggest items with new Table components
  package-lock.json
  package.json
  src/components/GlobalSearch/GlobalSearch.tsx
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalDependencyList/GoalDependencyList.tsx
  src/components/GoalListItemCompact.tsx
  src/components/GoalSuggest.tsx
  src/components/ProjectListItemCompact.tsx
  trpc/router/goal.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node
