Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat: change goal preview header to harmony view
  src/components/Dropdown/Dropdown.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/GoalForm/GoalForm.module.css
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalHeader.tsx
  src/components/GoalHeader/GoalHeader.module.css
  src/components/GoalHeader/GoalHeader.tsx
  src/components/GoalPage/GoalPage.module.css
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.module.css
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/GoalPreview/GoalPreview.module.css
  src/components/GoalPreview/GoalPreview.tsx
  src/components/IssueParent.tsx
  src/components/IssueParent/IssueParent.module.css
  src/components/IssueParent/IssueParent.tsx
  src/components/IssueStats/IssueStats.module.css
  src/components/IssueStats/IssueStats.tsx
  src/components/IssueTitle.tsx
  src/components/PriorityDropdown/PriorityDropdown.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/RelativeTime/RelativeTime.module.css
  src/components/RelativeTime/RelativeTime.tsx
  src/components/StateDropdown/StateDropdown.tsx
  src/components/UserDropdown/UserDropdown.module.css
  src/components/UserDropdown/UserDropdown.tsx
Due: eslint --fix, prettier --write

chore: release 2.24.0
  .release_notes/2.24.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalListItem): feat(GoalTableList): set title color to primary
  src/components/GoalTableList/GoalTableList.module.css
  src/components/GoalTableList/GoalTableList.tsx
  src/components/TableListItem/TableListItem.module.css
Due: eslint --fix, prettier --write

chore: release 2.24.1
  .release_notes/2.24.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: new topbar
  cypress/e2e/projectSettings.cy.ts
  cypress/e2e/projects.cy.ts
  src/components/DashboardPage/DashboardPage.tsx
  src/components/FilterPopup/FilterPopup.tsx
  src/components/FilteredPage/FilteredPage.i18n/en.json
  src/components/FilteredPage/FilteredPage.i18n/ru.json
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersBar/FiltersBar.i18n/en.json
  src/components/FiltersBar/FiltersBar.i18n/index.ts
  src/components/FiltersBar/FiltersBar.i18n/ru.json
  src/components/FiltersBar/FiltersBar.module.css
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.module.css
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PageContent/PageContent.module.css
  src/components/PageHeader/PageHeader.module.css
  src/components/PageTitlePreset/PageTitlePreset.i18n/en.json
  src/components/PageTitlePreset/PageTitlePreset.i18n/index.ts
  src/components/PageTitlePreset/PageTitlePreset.i18n/ru.json
  src/components/PageTitlePreset/PageTitlePreset.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/Separator/Separator.module.css
  src/components/Separator/Separator.tsx
  src/utils/domObjects.ts
  src/utils/getPageTitle.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.25.0
  .release_notes/2.25.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(crew api): change http method of group list request
  trpc/router/crew.ts
Due: eslint --fix, prettier --write

feat: new topbar
  cypress/e2e/projectSettings.cy.ts
  package-lock.json
  package.json
  src/components/CommonHeader.tsx
  src/components/ExplorePageLayout/ExplorePageLayout.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/ProjectPageTabs/ProjectPageTabs.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: add FiltersBarViewDropdown
  package-lock.json
  package.json
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersBar/FiltersBar.module.css
  src/components/FiltersBar/FiltersBar.tsx
  src/components/FiltersPanel/FiltersPanel.i18n/en.json
  src/components/FiltersPanel/FiltersPanel.i18n/ru.json
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalParentDropdown/GoalParentDropdown.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/PriorityDropdown/PriorityDropdown.tsx
  src/components/StateDropdown/StateDropdown.tsx
  src/components/TagComboBox/TagComboBox.tsx
  src/components/UserDropdown/UserDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

ci: ignore sentry errors during build
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GLobalSearch): change hard width to max-width
  src/components/PageHeader/PageHeader.module.css
Due: none

chore: release 2.26.0
  .release_notes/2.26.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: comment border color
  package-lock.json
  package.json
  src/components/CommentView/CommentView.module.css
Due: prettier --write --parser json, node

refactor: update useLatest hook from service to bricks
  package-lock.json
  package.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentView/CommentView.tsx
  src/components/TagComboBox/TagComboBox.tsx
  src/hooks/useLatest.ts
  src/hooks/useLocalStorage.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: create PageNavigation
  package-lock.json
  package.json
  src/components/NavigationSidebar/NavigationSidebar.module.css
  src/components/NavigationSidebar/NavigationSidebar.tsx
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.i18n/en.json
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.i18n/index.ts
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.i18n/ru.json
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.module.css
  src/components/NavigationSidebarActionButton/NavigationSidebarActionButton.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageNavigation/PageNavigation.i18n/en.json
  src/components/PageNavigation/PageNavigation.i18n/index.ts
  src/components/PageNavigation/PageNavigation.i18n/ru.json
  src/components/PageNavigation/PageNavigation.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: update Layout
  cypress/support/index.ts
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/FilteredPage/FilteredPage.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/Page/Page.module.css
  src/components/Page/Page.tsx
  src/components/PageContent/PageContent.module.css
  src/components/PageContent/PageContent.tsx
  src/components/PageHeader/PageHeader.i18n/en.json
  src/components/PageHeader/PageHeader.i18n/index.ts
  src/components/PageHeader/PageHeader.i18n/ru.json
  src/components/PageHeader/PageHeader.module.css
  src/components/PageHeader/PageHeader.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/SettingsContent.tsx
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(CommentCreateForm): selecting state works correctly
  src/components/CommentCreateForm/CommentCreateForm.tsx
Due: eslint --fix, prettier --write

feat: migrate SettingsCard to css modules
  package-lock.json
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
  src/components/ProjectSettingsUserList.tsx
  src/components/SettingsContent.tsx
  src/components/SettingsContent/SettingsContent.module.css
  src/components/SettingsContent/SettingsContent.tsx
  src/components/UserSettingsPage/UserSettingsPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(NewGoalCriteria): use harmony components for similar view in popup and goal preview
  cypress/fixtures/langs.json
  package-lock.json
  package.json
  src/components/GoalActivityFeed/GoalActivityFeed.i18n/en.json
  src/components/GoalActivityFeed/GoalActivityFeed.i18n/index.ts
  src/components/GoalActivityFeed/GoalActivityFeed.i18n/ru.json
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalCriteria/GoalCriteria.i18n/en.json
  src/components/GoalCriteria/GoalCriteria.i18n/ru.json
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalFormPopupTrigger.tsx
  src/components/GoalPage/GoalPage.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/IssueMeta.tsx
  src/components/NewGoalCriteria/NewGoalCriteria.i18n/en.json
  src/components/NewGoalCriteria/NewGoalCriteria.i18n/ru.json
  src/components/NewGoalCriteria/NewGoalCriteria.module.css
  src/components/NewGoalCriteria/NewGoalCriteria.tsx
  src/pages/_document.tsx
  src/styles/icons.css
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.26.1
  .release_notes/2.26.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: install typescript-plugin-css-modules
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write --parser json, node
