Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(Emails): append link to user settings
  src/utils/worker/mail/templates.ts
Due: eslint --fix, prettier --write

feat(Settings): email notify control
  generated/kysely/types.ts
  prisma/migrations/20240611095016_/migration.sql
  prisma/schema.prisma
  src/components/UserSettingsPage/UserSettingsPage.i18n/en.json
  src/components/UserSettingsPage/UserSettingsPage.i18n/ru.json
  src/components/UserSettingsPage/UserSettingsPage.tsx
  src/schema/user.ts
  src/utils/db/createComment.ts
  src/utils/prepareRecipients.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.42.0
  .release_notes/2.42.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: monaco user autocomplete
  package-lock.json
  package.json
  public/monaco/base/browser/ui/codicons/codicon/codicon.ttf
  src/components/FormControlEditor/FormControlEditor.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Dashboard): rewrite query for kysely usage
  src/components/DashboardPage/DashboardPage.tsx
  src/components/ExploreProjectsPage/ExploreProjectsPage.tsx
  src/components/ExploreTopProjectsPage/ExploreTopProjectsPage.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
  src/pages/index.tsx
  src/utils/dateTime.ts
  src/utils/recalculateCriteriaScore.ts
  src/utils/transformer.ts
  trpc/inferredTypes.ts
  trpc/queries/criteria.ts
  trpc/queries/filter.ts
  trpc/queries/flow.ts
  trpc/queries/goalV2.ts
  trpc/queries/project.ts
  trpc/queries/projectV2.ts
  trpc/router/filter.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write

feat(Dashboard): apply sorting rules
  cypress/e2e/projects.cy.ts
  src/components/DashboardPage/DashboardPage.tsx
  trpc/queries/goalV2.ts
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

refactor(Dashboard): rewrite query and procedure
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(Dashboard): goals counter
  src/components/DashboardPage/DashboardPage.tsx
  trpc/queries/projectV2.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.43.0
  .release_notes/2.43.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(Dashboard): filter by strict date
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

fix(Dashboard): filter by dates works
  trpc/queries/projectV2.ts
Due: eslint --fix, prettier --write

chore: release 2.43.1
  .release_notes/2.43.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: add markdown user badge
  package-lock.json
  package.json
  src/components/FormControlEditor/FormControlEditor.tsx
  src/components/HistoryRecord/HistoryRecord.module.css
  src/components/InlineUserBadge/InlineUserBadge.module.css
  src/components/InlineUserBadge/InlineUserBadge.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/UserBadge/UserBadge.tsx
  src/hooks/router.ts
  src/hooks/useMarkdown.tsx
  src/utils/crew.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.44.0
  .release_notes/2.44.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: remove item duplicates
  src/components/FormControlEditor/FormControlEditor.tsx
Due: eslint --fix, prettier --write

test(Dashboard): write personalized specs
  cypress/e2e/comments.cy.ts
  cypress/e2e/dashboard.cy.ts
  cypress/e2e/goalDependencies.cy.ts
  cypress/e2e/goals.cy.ts
  cypress/e2e/projects.cy.ts
  cypress/index.d.ts
  cypress/plugins/db.ts
  cypress/support/index.ts
  src/components/AppliedEstimateFilter/AppliedEstimateFilter.tsx
  src/components/AppliedFilter/AppliedFilter.tsx
  src/components/EstimateDropdown/EstimateDropdown.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalTableList/GoalTableList.tsx
  src/components/ProjectListItem/ProjectListItem.tsx
  src/components/WatchButton/WatchButton.tsx
  src/utils/dateTime.ts
  src/utils/domObjects.ts
Due: eslint --fix, prettier --write

fix(EstimateDropdown): calculate estimate value
  src/components/EstimateDropdown/EstimateDropdown.tsx
Due: eslint --fix, prettier --write

chore: release 2.44.1
  .release_notes/2.44.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: support email notification
  src/components/FormControlEditor/FormControlEditor.tsx
  src/components/UserDropdown/UserDropdown.tsx
  src/hooks/useUserResource.ts
  src/utils/crew.ts
  src/utils/db/createComment.ts
  src/utils/db/crew.ts
  src/utils/getUserName.ts
  src/utils/url.ts
  src/utils/worker/mail/templates.ts
  trpc/router/crew.ts
  trpc/router/goal.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

feat(Goal): new activity feed
  cypress/fixtures/langs.json
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalActivityWithTabs/GoalActivityV2.tsx
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/en.json
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/index.ts
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/ru.json
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.module.css
  trpc/inferredTypes.ts
  trpc/queries/activity.ts
  trpc/queries/comments.ts
  trpc/queries/history.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: add access to participants
  src/utils/db/calculatedGoalsFields.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
Due: eslint --fix, prettier --write
