Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

chore(CollapsableItem): fix name
  src/components/CollapsableItem.tsx
  src/components/ProjectListItemConnected.tsx
Due: eslint --fix, prettier --write

chore(e2e): seed db before run
  .env.ci
  Dockerfile.ci
  app_run.ci.sh
  docker-compose.ci.yml
  package.json
Due: prettier --write --parser json, node

chore(ci): return e2e workflow
  .github/workflows/e2e.yml
  docker-compose.ci.yml
Due: none

chore(workflows): type-check in linters, full build in e2e
  .github/workflows/e2e.yml
  .github/workflows/pr.yml
Due: none

chore(jest): resolve types conflicts
  package-lock.json
  package.json
  src/utils/calculateDiffBetweenArrays.test.ts
  src/utils/dateTime.test.ts
  src/utils/keyPredictor.test.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: bump cypress
  .github/workflows/e2e.yml
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore(e2e): run migrations before specs
  Dockerfile
  docker-compose.ci.yml
Due: none

test(e2e): sign in as admin
  cypress/e2e/dashboard.cy.ts
  cypress/e2e/home_page.cy.ts
Due: eslint --fix, prettier --write

chore(cypress): disable video recording
  cypress.config.ts
Due: eslint --fix, prettier --write

chore(e2e): provide env variables
  .github/workflows/e2e.yml
  cypress.config.ts
Due: eslint --fix, prettier --write

chore: release 1.22.0
  .release_notes/1.22.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: support admin role
  src/utils/db.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

feat(Md): add fullscreen image
  src/components/ImageFullScreen.tsx
  src/components/Page.tsx
  src/hooks/useMarkdown.tsx
  src/utils/dispatchModal.ts
Due: eslint --fix, prettier --write

chore: release 1.23.0
  .release_notes/1.23.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore(Release notes): release notes
  .gitignore
Due: none

chore(whatsnew): 1.23.0
  public/ImagePreview.png
  src/pages/whatsnew/1.23.0/en.mdx
  src/pages/whatsnew/1.23.0/ru.mdx
Due: none

fix(GoalPreview): modal should be closed if url changed
  src/components/GoalPreview/GoalPreview.tsx
  src/components/Page.tsx
Due: eslint --fix, prettier --write

chore: release 1.23.1
  .release_notes/1.23.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: incorrect goals filtering on dashboard
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix(CommentView): provide cancel handler for CommentForm
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

chore: fix dashboard goals
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore(bricks): major update
  package-lock.json
  package.json
  src/components/CriteriaForm/CriteriaForm.tsx
  src/components/GoalForm/GoalForm.tsx
  src/components/GoalListItem.tsx
  src/components/GoalListItemCompact.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  src/components/HotkeysModal/HotkeysModal.tsx
  src/components/InlineForm.tsx
  src/components/IssueListItem.tsx
  src/components/IssueTags.tsx
  src/components/KeyInput.tsx
  src/components/ModalOnEvent.tsx
  src/components/ReactionsDropdown.tsx
  src/components/StateSwitch.tsx
  src/components/TagComboBox.tsx
  src/components/UserInviteForm/UserInviteForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: remove fake data from seed script
  .env.ci
  app_run.ci.sh
  package.json
  prisma/seed.ts
  scripts/fillDevData.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(CommentView): correct hyphenation
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

test(e2e): run scripts
  .env.ci
  package-lock.json
  package.json
  scripts/e2eEnv.sh
  scripts/e2eRun.sh
Due: prettier --write --parser json, node
