Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat: emails for crons
  prisma/seed.ts
  src/utils/worker/goalPingJob.ts
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write

chore: release 2.15.0
  .release_notes/2.15.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

style: add eslint rule
  .eslintrc.js
  package-lock.json
  package.json
  src/components/ColorizedFilterDropdown.tsx
  src/components/Estimate/Estimate.tsx
  src/components/GoalForm/GoalFormEstimate.tsx
  src/components/GoalPreview/GoalPreviewProvider.tsx
  src/components/ProjectFilter.tsx
  src/components/TagFilter.tsx
  src/hooks/useGoalResource.ts
  src/pages/api/upload.ts
  src/types/date.ts
  src/types/estimate.ts
  src/types/ssrProps.ts
  src/utils/dateTime.ts
  trpc/queries/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(GoalHistory): drop unused field from scheme
  prisma/migrations/20231219143345_drop_unused_criteria_fields/migration.sql
  prisma/schema.prisma
Due: none

fix: add sentry capture error inside create email job
  src/utils/prepareRecipients.ts
  src/utils/worker/create.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix: table width
  src/components/ProjectListItemCollapsable/ProjectListItemCollapsable.tsx
Due: eslint --fix, prettier --write

feat: job delay queue
  src/utils/createComment.ts
  src/utils/updateProjectUpdatedAt.ts
  src/utils/worker/create.ts
  src/utils/worker/goalPingJob.ts
  src/utils/worker/index.ts
  src/utils/worker/resolve.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

chore: release 2.15.1
  .release_notes/2.15.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: job delay queue
  src/utils/db/createComment.ts
  src/utils/db/index.ts
  src/utils/db/updateProjectUpdatedAt.ts
  src/utils/worker/create.ts
  src/utils/worker/goalPingJob.ts
  src/utils/worker/index.ts
  src/utils/worker/resolve.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat: test commmit
  src/utils/worker/resolve.ts
Due: eslint --fix, prettier --write

feat: job delay queue
  cypress/plugins/db.ts
  src/types/history.ts
  src/utils/db/calculatedGoalsFields.ts
  src/utils/db/createComment.ts
  src/utils/db/index.ts
  src/utils/db/updateProjectUpdatedAt.ts
  src/utils/worker/create.ts
  src/utils/worker/goalPingJob.ts
  src/utils/worker/index.ts
  src/utils/worker/resolve.ts
  trpc/access/accessCheckers.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
  trpc/router/project.ts
  trpc/router/search.ts
Due: eslint --fix, prettier --write

chore: release 2.16.0
  .release_notes/2.16.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(GoalCriteriaSuggest): correct restrict search for suggest
  src/components/GoalCriteriaSuggest.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
Due: eslint --fix, prettier --write

chore: release 2.16.1
  .release_notes/2.16.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: automatic year increment
  src/utils/dateTime.test.ts
  src/utils/worker/mail/templates.ts
Due: eslint --fix, prettier --write

fix: translate warning to ru
  src/components/ProjectSettingsPage/ProjectSettingsPage.i18n/ru.json
Due: prettier --write --parser json, node

refactor: add view prop to styled tips
  src/components/AccessUserDeleteErrorModal/AccessUserDeleteErrorModal.tsx
  src/components/ProjectSettingsPage/ProjectSettingsPage.tsx
Due: eslint --fix, prettier --write

chore: bricks up to date
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: sentry does not send error when goal has only assignee
  src/utils/createEmail.ts
  src/utils/db/createComment.ts
  src/utils/prepareRecipients.ts
  src/utils/worker/create.ts
  src/utils/worker/mail/index.ts
  trpc/router/goal.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

fix: groupBy is not included in filter queryState
  src/components/FilteredPage/FilteredPage.i18n/en.json
  src/components/FilteredPage/FilteredPage.i18n/ru.json
  src/components/FilteredPage/FilteredPage.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/hooks/useUrlFilterParams.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.16.2
  .release_notes/2.16.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node
