Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

feat(TeamCreateForm): add key field
  i18n/en.json
  i18n/ru.json
  src/components/KeyInput.tsx
  src/components/ProjectCreateForm.tsx
  src/components/TeamCreateForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Goal): support creating goals for Team
  graphql/resolvers/Goal.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  prisma/migrations/20230119172422_/migration.sql
  prisma/schema.prisma
  src/components/EstimateComboBox.tsx
  src/components/GoalCreateForm.tsx
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
  src/components/GoalParentComboBox.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat(Goal): show team info on goal page
  graphql/resolvers/Goal.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/GoalPreview.tsx
  src/components/IssueParent.tsx
  src/components/IssueProject.tsx
  src/pages/goals/[id].tsx
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(keyPredictor): support ru lang
  src/utils/keyPredictor.ts
Due: eslint --fix, prettier --write

feat(Team): show team goals on team page
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  src/components/Page.tsx
  src/pages/teams/[slug]/goals.tsx
Due: eslint --fix, prettier --write

fix(Page): remove padding from PageContent
  src/components/Page.tsx
  src/pages/teams/[slug]/goals.tsx
Due: eslint --fix, prettier --write

feat(TeamCreateForm): add flow field
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
  i18n/en.json
  i18n/ru.json
  src/components/TeamCreateForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalEditForm): update i18n
  i18n/en.json
  i18n/ru.json
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(Goal): add kind field
  graphql/resolvers/Goal.ts
  graphql/schema.graphql
  graphql/types.ts
  prisma/migrations/20230123151736_/migration.sql
  prisma/schema.prisma
  src/components/GoalEditForm.tsx
  src/components/GoalForm.tsx
  src/hooks/useLocalStorage.ts
  src/pages/goals/[id].tsx
  src/pages/projects/[key]/index.tsx
  src/utils/entityFetcher.ts
Due: eslint --fix, prettier --write

feat(User): clear local storage from settings page
  i18n/en.json
  i18n/ru.json
  src/pages/users/settings.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(Project): remove project from local cache after delete
  src/pages/projects/[key]/settings.tsx
Due: eslint --fix, prettier --write

fix(Button): use bkg color as text color in focus mode
  src/components/Button.tsx
Due: eslint --fix, prettier --write

fix(GoalForm): button positions via priority
  i18n/en.json
  i18n/ru.json
  src/components/EstimateComboBox.tsx
  src/components/FlowComboBox.tsx
  src/components/GoalForm.tsx
  src/components/GoalParentComboBox.tsx
  src/components/PriorityDropdown.tsx
  src/components/StateDot.tsx
  src/components/StateDropdown.tsx
  src/components/TagComboBox.tsx
  src/components/UserComboBox.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: disable errors focus in modal forms
  src/components/GoalForm.tsx
  src/components/ProjectCreateForm.tsx
  src/components/TeamCreateForm.tsx
Due: eslint --fix, prettier --write

feat(GoalListItem): show priority
  i18n/en.json
  i18n/ru.json
  src/components/GoalListItem.tsx
  src/pages/goals/index.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(GoalPreview): same info button order
  src/components/GoalPreview.tsx
Due: eslint --fix, prettier --write

feat: add PriorityFilterDropdown
  i18n/en.json
  i18n/ru.json
  src/components/FiltersPanel.tsx
  src/components/PriorityFilterDropdown.tsx
  src/hooks/useUrlParams.ts
  src/pages/goals/index.tsx
  src/pages/projects/[key]/index.tsx
  src/pages/teams/[slug]/goals.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: support priority filter in resolvers
  graphql/resolvers/Goal.ts
  graphql/resolvers/Project.ts
  graphql/resolvers/Team.ts
  graphql/schema.graphql
  graphql/types.ts
Due: eslint --fix, prettier --write

chore: redirect / to /goals
  next.config.js
Due: eslint --fix, prettier --write

feat(Goal): show team goals on dashboard
  graphql/resolvers/Goal.ts
  graphql/schema.graphql
  graphql/types.ts
  src/pages/goals/index.tsx
Due: eslint --fix, prettier --write

chore(i18n): add forgoten keys
  i18n/en.json
  i18n/ru.json
Due: prettier --write --parser json, node

feat(GoalEditForm): allow move goal btw project and team
  graphql/resolvers/Goal.ts
  src/components/GoalEditForm.tsx
  src/pages/goals/[id].tsx
Due: eslint --fix, prettier --write

feat(GoalEditForm): move goal btw projects
  graphql/resolvers/Goal.ts
Due: eslint --fix, prettier --write
