Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

fix: add access to participants
  src/utils/db/calculatedGoalsFields.ts
  trpc/queries/goals.ts
  trpc/queries/project.ts
Due: eslint --fix, prettier --write

feat: update package
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.45.0
  .release_notes/2.45.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: support email notification
  src/components/FormControlEditor/FormControlEditor.tsx
  src/components/ProjectTeamPage/ProjectTeamPage.tsx
  src/components/TeamMemberListItem/TeamMemberListItem.tsx
  src/components/UserDropdown/UserDropdown.tsx
  src/hooks/useUserResource.ts
  src/utils/crew.ts
  src/utils/db/createComment.ts
  src/utils/db/crewIntegration.ts
  src/utils/db/types.ts
  src/utils/getUserName.ts
  src/utils/url.ts
  src/utils/worker/mail/templates.ts
  trpc/router/crew.ts
  trpc/router/goal.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

fix: visible error on trying send empty comment
  src/components/CommentCreateForm/CommentCreateForm.i18n/en.json
  src/components/CommentCreateForm/CommentCreateForm.i18n/ru.json
  src/components/CommentCreateForm/CommentCreateForm.tsx
  src/components/CommentForm/CommentForm.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: release 2.46.0
  .release_notes/2.46.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(crew integration): allow nulls in crew user logins
  src/utils/db/types.ts
  trpc/router/user.ts
Due: eslint --fix, prettier --write

fix: delete spaces in mention templates
  src/utils/worker/mail/templates.ts
Due: eslint --fix, prettier --write

chore: release 2.46.1
  .release_notes/2.46.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: whats new for 2.46.1
  public/MentionDropdown.png
  src/pages/whatsnew/2.46.1/en.mdx
  src/pages/whatsnew/2.46.1/ru.mdx
Due: none

fix: line start is unclikable
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: release 2.46.2
  .release_notes/2.46.2.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: add starred projects tab
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/en.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/index.ts
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/ru.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/components/PageNavigation/PageNavigation.tsx
  src/hooks/router.ts
  src/pages/explore/projects/index.tsx
  src/pages/explore/projects/starred.tsx
  trpc/router/project.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

refactor: remove top/projects switch from starred projects header
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/en.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.i18n/ru.json
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(worker): update build settings to recommended for node20
  src/utils/db/crewIntegration.ts
  src/utils/worker/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(GoalActivity): remove unused code
  src/components/GoalActivity.tsx
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.tsx
  src/utils/db/index.ts
  src/utils/goalHistory.ts
  trpc/queries/history.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

feat(Goal): new activity feed
  cypress/fixtures/langs.json
  src/components/GoalActivityFeed/GoalActivityFeed.module.css
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/components/GoalActivityWithTabs/GoalActivityV2.tsx
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/en.json
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/index.ts
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.i18n/ru.json
  src/components/GoalActivityWithTabs/GoalActivityWithTabs.module.css
  src/components/GoalCriteria/GoalCriteria.module.css
  src/components/GoalCriteria/GoalCriteria.tsx
  src/components/GoalEditForm/GoalEditForm.tsx
  src/components/GoalPreview/GoalPreview.tsx
  src/components/GoalSidebar/GoalSidebar.tsx
  src/components/HistoryRecord/HistoryRecord.tsx
  trpc/inferredTypes.ts
  trpc/queries/activity.ts
  trpc/queries/comments.ts
  trpc/queries/goalV2.ts
  trpc/queries/history.ts
  trpc/queries/projectV2.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(GoalActivity): get last state comment
  src/components/GoalActivityFeed/GoalActivityFeed.tsx
  src/hooks/useGoalResource.ts
  src/utils/db/calculatedGoalsFields.ts
  trpc/queries/goals.ts
  trpc/router/goal.ts
Due: eslint --fix, prettier --write

fix(Goal): calculate last state comment
  src/utils/db/calculatedGoalsFields.ts
  trpc/router/goal.ts
  trpc/utils.ts
Due: eslint --fix, prettier --write

feat: add partnership goals to project
  trpc/queries/projectV2.ts
  trpc/router/project.ts
Due: eslint --fix, prettier --write

chore: release 2.46.3
  .release_notes/2.46.3.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

refactor: rewrite get starred query from prisma to kysely
  src/components/ExploreProjectsStarredPage/ExploreProjectsStarredPage.tsx
  src/pages/explore/projects/starred.tsx
  trpc/queries/projectV2.ts
  trpc/router/project.ts
  trpc/router/projectV2.ts
Due: eslint --fix, prettier --write

fix(CommentView): disable edit comment on double-click
  src/components/CommentView/CommentView.tsx
Due: eslint --fix, prettier --write

fix(GoalActivity): safe last comment
  trpc/utils.ts
Due: eslint --fix, prettier --write
