Repository taskany-inc/issues: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: release 1.1.0
  .release_notes/1.1.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: reuse release workflow from taskany-inc/release
  .github/workflows/manual_release.yml
Due: none

chore: reuse checkout workflow
  .github/workflows/pr.yml
Due: none

chore: run CodeQL on main only
  .github/workflows/codeql-analysis.yml
Due: none

chore: reuse release workflow from taskany-inc/release
  .github/workflows/release.yml
Due: none

chore: reuse release workflow
  .github/workflows/publish.yml
Due: none

chore: add workflow name
  .github/workflows/pr.yml
Due: none

chore: set name for workflow
  .github/workflows/pr.yml
Due: none

chore: set name for workflow
  .github/workflows/publish.yml
Due: none

chore: run bundle analyze in PR only
  .github/workflows/nextjs_bundle_analysis.yml
Due: none

chore: build next app in PR workflow
  .github/workflows/pr.yml
Due: none

chore: fix reusable workflow syntax
  .github/workflows/pr.yml
Due: none

chore: do not use reusable workflows as steps
  .github/workflows/pr.yml
Due: none

chore: vars not variables on context
  .github/workflows/pr.yml
Due: none

chore: right id for workflow
  .github/workflows/release.yml
Due: none

chore: same way to checkout in nextjs_bundle_analysis.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: none

chore: reuse release workflow not as step
  .github/workflows/publish.yml
Due: none

chore: remove unneccessary name
  .github/workflows/manual_release.yml
Due: none

feat: bricks component filterPanel
  package-lock.json
  package.json
  src/components/ColorizedFilterDropdown.tsx
  src/components/EstimateFilter.tsx
  src/components/EstimateFilterDropdown.tsx
  src/components/FiltersPanel/FiltersPanel.tsx
  src/components/FiltersPanelApplied/FiltersPanelApplied.tsx
  src/components/GoalsPage/GoalsPage.tsx
  src/components/IssueParticipantsForm/IssueParticipantsForm.tsx
  src/components/LimitDropdown.tsx
  src/components/PresetDropdown.tsx
  src/components/PriorityFilter.tsx
  src/components/PriorityFilterDropdown.tsx
  src/components/ProjectFilter.tsx
  src/components/ProjectFilterDropdown.tsx
  src/components/ProjectPage/ProjectPage.tsx
  src/components/SearchFilter.tsx
  src/components/StateFilter.tsx
  src/components/StateFilterDropdown.tsx
  src/components/TagFilter.tsx
  src/components/TagsFilterDropdown.tsx
  src/components/UserComboBox.tsx
  src/components/UserFilter.tsx
  src/components/UserFilterDropdown.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(Sentry): up to date configs
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write

chore: base docker image
  .dockerignore
  Dockerfile
  Dockerfile.dev
  docker-compose.dev.yml
  docker-compose.yml
Due: none

chore: remove unused nexus config
  nexus.tsconfig.json
Due: prettier --write --parser json, node

fix(next): adapt config to work with prod modules only
  next.config.js
Due: eslint --fix, prettier --write

docs: update contributing guide
  .env.example
  CONTRIBUTING.md
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: move prod modules to prod section
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: remove unused sh scripts
  app_run.dev.sh
  app_run.sh
Due: none

chore: env example up to date
  .env.example
Due: none

docs(readme): install instruction
  README.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
